n8n/live_Job_Requisition_Write.json
{
  "updatedAt": "2026-07-20T07:41:19.809Z",
  "createdAt": "2026-05-29T07:20:05.307Z",
  "id": "3aaTC9KMPXTZ1tP6",
  "name": "HR Job Requisition Write",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "hr-dashboard-write",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "job-write-webhook-001",
      "name": "Webhook: Job Requisition Write",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "hr-dashboard-job-requisition-write"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "token-check",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "={{ 'Bearer ' + $env.N8N_HR_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "job-write-if-token-001",
      "name": "IF: Token valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\"error\":\"Unauthorized\"}",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "job-write-unauthorized-001",
      "name": "Respond: 403 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input AS (\n  SELECT\n    '{{ ($json.body.action || '').replace(/'/g, \"''\") }}'::TEXT AS action,\n    NULLIF('{{ $json.body.requisition?.id ?? '' }}', '')::INTEGER AS id,\n    '{{ ($json.body.requisition?.department || '').replace(/'/g, \"''\") }}'::TEXT AS department,\n    '{{ ($json.body.requisition?.positionTitle || '').replace(/'/g, \"''\") }}'::TEXT AS position_title,\n    {{ Number($json.body.requisition?.headcount ?? 0) }}::INTEGER AS headcount,\n    '{{ ($json.body.requisition?.status || '').replace(/'/g, \"''\") }}'::TEXT AS status,\n    {{ Number($json.body.requisition?.urgency ?? 3) }}::INTEGER AS urgency,\n    NULLIF('{{ ($json.body.requisition?.notes || '').replace(/'/g, \"''\") }}', '')::TEXT AS notes,\n    NULLIF('{{ $json.body.requisition?.openDate ?? '' }}', '')::DATE AS open_date,\n    NULLIF('{{ $json.body.requisition?.targetDate ?? '' }}', '')::DATE AS target_date,\n    NULLIF('{{ $json.body.onboardId ?? \"\" }}', '')::INTEGER AS onboard_id,\n    '{{ ($json.body.onboardStatus || '').replace(/'/g, \"''\") }}'::TEXT AS onboard_status,\n    NULLIF('{{ $json.body.candidateId ?? \"\" }}', '')::INTEGER AS candidate_id,\n    '{{ ($json.body.candidateStatus || \"\").replace(/'/g, \"''\") }}'::TEXT AS candidate_status,\n    NULLIF('{{ ($json.body.candidateDepartment || '').replace(/'/g, \"''\") }}', '')::TEXT AS candidate_department,\n    '{{ JSON.stringify(Array.isArray($json.body.jobs) ? $json.body.jobs : []).replace(/'/g, \"''\") }}'::JSONB AS external_jobs,\n    {{ Array.isArray($json.body.jobs) ? 'TRUE' : 'FALSE' }}::BOOLEAN AS external_jobs_is_array,\n    {{ typeof $json.body.syncedAt === 'string' && $json.body.syncedAt.trim().length > 0 && $json.body.syncedAt.trim().length <= 64 && /^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$/.test($json.body.syncedAt.trim()) && Number.isFinite(Date.parse($json.body.syncedAt.trim())) ? 'TRUE' : 'FALSE' }}::BOOLEAN AS client_synced_at_valid,\n    TO_TIMESTAMP({{ typeof $json.body.syncedAt === 'string' && $json.body.syncedAt.trim().length > 0 && $json.body.syncedAt.trim().length <= 64 && /^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$/.test($json.body.syncedAt.trim()) && Number.isFinite(Date.parse($json.body.syncedAt.trim())) ? Date.parse($json.body.syncedAt.trim()) / 1000 : 0 }}) AS external_synced_at,\n    {{ $json.body.complete === true ? 'TRUE' : 'FALSE' }}::BOOLEAN AS snapshot_complete,\n    {{ Number.isInteger($json.body.scannedCount) && $json.body.scannedCount >= 0 && $json.body.scannedCount <= 2147483647 ? $json.body.scannedCount : -1 }}::INTEGER AS scanned_count,\n    {{ Number.isInteger($json.body.contractVersion) && $json.body.contractVersion > 0 && $json.body.contractVersion <= 2147483647 ? $json.body.contractVersion : 0 }}::INTEGER AS contract_version,\n    {{ Number.isInteger($json.body.sourceTotalCount) && $json.body.sourceTotalCount >= 0 && $json.body.sourceTotalCount <= 2147483647 ? $json.body.sourceTotalCount : -1 }}::INTEGER AS source_total_count,\n    {{ Number.isInteger($json.body.publishedCount) && $json.body.publishedCount >= 0 && $json.body.publishedCount <= 2147483647 ? $json.body.publishedCount : -1 }}::INTEGER AS published_count,\n    LOWER('{{ String($json.body.provider || \"104\").trim().replace(/'/g, \"''\") }}')::TEXT AS source_provider,\n    '{{ String($json.body.externalId ?? \"\").trim().replace(/'/g, \"''\") }}'::TEXT AS external_id,\n    NULLIF('{{ String($json.body.jobRequisitionId ?? \"\").trim().replace(/'/g, \"''\") }}', '')::TEXT AS link_job_requisition_id_raw\n),\nexisting AS (\n  SELECT j.id\n  FROM job_requisitions j\n  JOIN input ON input.department = j.department\n            AND input.position_title = j.position_title\n),\ncreated AS (\n  INSERT INTO job_requisitions (\n    position_title,\n    department,\n    headcount,\n    filled_count,\n    open_date,\n    target_date,\n    status,\n    urgency,\n    notes\n  )\n  SELECT\n    input.position_title,\n    input.department,\n    input.headcount,\n    0,\n    input.open_date,\n    input.target_date,\n    input.status,\n    input.urgency,\n    input.notes\n  FROM input\n  WHERE input.action = 'create'\n    AND NOT EXISTS (SELECT 1 FROM existing)\n  RETURNING id, position_title, department, headcount, status, urgency, notes, open_date, target_date\n),\nupdated AS (\n  UPDATE job_requisitions j\n  SET position_title = input.position_title,\n      department = input.department,\n      headcount = input.headcount,\n      open_date = input.open_date,\n      target_date = input.target_date,\n      status = input.status,\n      urgency = input.urgency,\n      notes = input.notes\n  FROM input\n  WHERE (input.action = 'update' AND j.id = input.id)\n     OR (input.action = 'create' AND j.department = input.department AND j.position_title = input.position_title)\n  RETURNING j.id, j.position_title, j.department, j.headcount, j.status, j.urgency, j.notes, j.open_date, j.target_date\n),\nonboard_updated AS (\n  UPDATE onboardings\n  SET status = CASE WHEN input.action = 'update_onboard' THEN input.onboard_status ELSE onboardings.status END,\n      expected_date = CASE WHEN input.action = 'update_onboard_date' AND input.onboard_id IS NOT NULL THEN NULLIF(input.onboard_status, '')::DATE ELSE expected_date END\n  FROM input\n  WHERE onboardings.id = input.onboard_id\n    AND (\n      (input.action = 'update_onboard' AND input.onboard_status IN ('onboarded','no_show','pending','cancelled'))\n      OR (input.action = 'update_onboard_date' AND input.onboard_id IS NOT NULL)\n    )\n  RETURNING onboardings.id, onboardings.name, onboardings.status, TO_CHAR(onboardings.expected_date,'YYYY-MM-DD') AS expected_date\n),\ncandidate_updated AS (\n  UPDATE candidates\n  SET status = CASE WHEN input.action = 'update_candidate_status' THEN input.candidate_status ELSE candidates.status END,\n      department = CASE WHEN input.action = 'update_candidate_department' THEN input.candidate_department ELSE candidates.department END,\n      updated_at = NOW()\n  FROM input\n  WHERE candidates.id = input.candidate_id\n    AND (\n      (input.action = 'update_candidate_status' AND input.candidate_status IN ('withdrawn', 'rejected', 'dept_scheduling'))\n      OR (input.action = 'update_candidate_department' AND input.candidate_department IS NOT NULL)\n    )\n  RETURNING candidates.id, candidates.name, candidates.status, candidates.department\n),\nincoming_104_raw AS (\n  SELECT\n    job.value AS job_value,\n    BTRIM(COALESCE(job.value->>'externalId', '')) AS external_id,\n    BTRIM(COALESCE(job.value->>'title', '')) AS external_title,\n    NULLIF(BTRIM(COALESCE(job.value->>'url', '')), '') AS url,\n    NULLIF(BTRIM(COALESCE(job.value->>'updatedDate', '')), '') AS source_updated_text\n  FROM input\n  CROSS JOIN LATERAL jsonb_array_elements(input.external_jobs) AS job(value)\n  WHERE input.action = 'sync_104_jobs'\n),\nincoming_104 AS (\n  SELECT DISTINCT ON (external_id)\n    external_id,\n    external_title,\n    url,\n    source_updated_text\n  FROM incoming_104_raw\n  WHERE jsonb_typeof(job_value) = 'object'\n    AND jsonb_typeof(job_value->'externalId') = 'string'\n    AND jsonb_typeof(job_value->'title') = 'string'\n    AND jsonb_typeof(job_value->'url') = 'string'\n    AND jsonb_typeof(job_value->'updatedDate') = 'string'\n    AND jsonb_typeof(job_value->'status') = 'string'\n    AND job_value->>'status' = 'open'\n    AND external_id ~ '^[0-9]{1,32}$'\n    AND external_title <> ''\n    AND CHAR_LENGTH(external_title) <= 200\n    AND url IS NOT NULL\n    AND CHAR_LENGTH(url) <= 2048\n    AND POSITION('/job/jobmaster?' IN url) > 0\n    AND LOWER(SUBSTRING(\n      url FROM 1 FOR GREATEST(POSITION('/job/jobmaster?' IN url) - 1, 0)\n    ))\n      IN ('https://vip.104.com.tw', 'https://vip.104.com.tw:443')\n    AND COALESCE((\n      SELECT SUBSTRING(parameter.value FROM POSITION('=' IN parameter.value) + 1)\n      FROM unnest(\n        string_to_array(\n          split_part(SUBSTRING(url FROM POSITION('?' IN url) + 1), '#', 1),\n          '&'\n        )\n      ) WITH ORDINALITY AS parameter(value, ordinal)\n      WHERE split_part(parameter.value, '=', 1) = 'jobno'\n      ORDER BY parameter.ordinal\n      LIMIT 1\n    ), '') = external_id\n    AND (source_updated_text IS NULL OR CHAR_LENGTH(source_updated_text) <= 64)\n  ORDER BY external_id\n),\nsync_request AS (\n  SELECT\n    input.*,\n    (\n      input.action = 'sync_104_jobs'\n      AND input.snapshot_complete\n      AND input.contract_version = 2\n      AND input.external_jobs_is_array\n      AND jsonb_array_length(input.external_jobs) <= 500\n      AND input.client_synced_at_valid\n      AND input.external_synced_at <= NOW() + INTERVAL '5 minutes'\n      AND input.source_total_count >= 0\n      AND input.published_count >= 0\n      AND input.published_count <= input.source_total_count\n      AND input.scanned_count = input.source_total_count\n      AND input.published_count = jsonb_array_length(input.external_jobs)\n      AND input.published_count = (SELECT COUNT(*)::INTEGER FROM incoming_104)\n    ) AS is_valid\n  FROM input\n),\nsync_claimed AS (\n  INSERT INTO job_requisition_source_syncs (\n    source,\n    contract_version,\n    source_total_count,\n    published_count,\n    last_complete_synced_at,\n    created_at,\n    updated_at\n  )\n  SELECT\n    '104',\n    sync_request.contract_version,\n    sync_request.source_total_count,\n    sync_request.published_count,\n    clock_timestamp(),\n    NOW(),\n    NOW()\n  FROM sync_request\n  WHERE sync_request.is_valid\n  ON CONFLICT (source) DO UPDATE\n  SET contract_version = EXCLUDED.contract_version,\n      source_total_count = EXCLUDED.source_total_count,\n      published_count = EXCLUDED.published_count,\n      last_complete_synced_at = EXCLUDED.last_complete_synced_at,\n      updated_at = NOW()\n  WHERE job_requisition_source_syncs.last_complete_synced_at < EXCLUDED.last_complete_synced_at\n  RETURNING source, contract_version, source_total_count, published_count, last_complete_synced_at\n),\nsync_upserted AS (\n  INSERT INTO job_requisition_sources (\n    source,\n    external_id,\n    external_title,\n    url,\n    source_updated_text,\n    publication_status,\n    first_seen_at,\n    last_seen_at,\n    last_synced_at,\n    created_at,\n    updated_at\n  )\n  SELECT\n    '104',\n    incoming_104.external_id,\n    incoming_104.external_title,\n    incoming_104.url,\n    incoming_104.source_updated_text,\n    'open',\n    sync_claimed.last_complete_synced_at,\n    sync_claimed.last_complete_synced_at,\n    sync_claimed.last_complete_synced_at,\n    NOW(),\n    NOW()\n  FROM incoming_104\n  CROSS JOIN sync_claimed\n  ON CONFLICT (source, external_id) DO UPDATE\n  SET external_title = EXCLUDED.external_title,\n      url = EXCLUDED.url,\n      source_updated_text = EXCLUDED.source_updated_text,\n      publication_status = 'open',\n      last_seen_at = EXCLUDED.last_seen_at,\n      last_synced_at = EXCLUDED.last_synced_at,\n      updated_at = NOW()\n  RETURNING source, external_id\n),\nsync_pending AS (\n  UPDATE job_requisition_sources source_row\n  SET publication_status = 'pending_confirmation',\n      last_synced_at = sync_claimed.last_complete_synced_at,\n      updated_at = NOW()\n  FROM input\n  CROSS JOIN sync_claimed\n  WHERE source_row.source = sync_claimed.source\n    AND NOT EXISTS (\n      SELECT 1\n      FROM incoming_104\n      WHERE incoming_104.external_id = source_row.external_id\n    )\n  RETURNING source_row.source, source_row.external_id\n),\npriority_updates_raw AS (\n  SELECT\n    job.value AS job_value,\n    BTRIM(COALESCE(job.value->>'externalId', '')) AS external_id,\n    job.value->>'priorityLevel' AS priority_level_text,\n    job.value->>'displayOrder' AS display_order_text\n  FROM input\n  CROSS JOIN LATERAL jsonb_array_elements(input.external_jobs) AS job(value)\n  WHERE input.action = 'update_104_job_priorities'\n),\npriority_updates AS (\n  SELECT\n    external_id,\n    priority_level_text::SMALLINT AS priority_level,\n    display_order_text::INTEGER AS display_order\n  FROM priority_updates_raw\n  WHERE jsonb_typeof(job_value) = 'object'\n    AND jsonb_typeof(job_value->'externalId') = 'string'\n    AND jsonb_typeof(job_value->'priorityLevel') = 'number'\n    AND jsonb_typeof(job_value->'displayOrder') = 'number'\n    AND external_id ~ '^[0-9]{1,32}$'\n    AND priority_level_text ~ '^[1-3]$'\n    AND display_order_text ~ '^(0|[1-9][0-9]{0,9})$'\n    AND (\n      CHAR_LENGTH(display_order_text) < 10\n      OR display_order_text <= '2147483647'\n    )\n),\npriority_request AS (\n  SELECT\n    input.*,\n    (\n      input.action = 'update_104_job_priorities'\n      AND input.external_jobs_is_array\n      AND jsonb_array_length(input.external_jobs) <= 500\n      AND (SELECT COUNT(*) FROM priority_updates) = jsonb_array_length(input.external_jobs)\n      AND (SELECT COUNT(DISTINCT external_id) FROM priority_updates) = jsonb_array_length(input.external_jobs)\n      AND NOT EXISTS (\n        SELECT 1\n        FROM priority_updates priority\n        LEFT JOIN job_requisition_sources source_row\n          ON source_row.source = '104'\n         AND source_row.external_id = priority.external_id\n        WHERE source_row.external_id IS NULL\n      )\n    ) AS is_valid\n  FROM input\n),\npriority_updated AS (\n  UPDATE job_requisition_sources source_row\n  SET priority_level = priority.priority_level,\n      display_order = priority.display_order,\n      updated_at = NOW()\n  FROM priority_updates priority\n  CROSS JOIN priority_request\n  WHERE priority_request.is_valid\n    AND source_row.source = '104'\n    AND source_row.external_id = priority.external_id\n  RETURNING source_row.external_id\n),\nlink_request AS (\n  SELECT\n    input.source_provider AS source,\n    input.external_id,\n    input.link_job_requisition_id_raw,\n    CASE\n      WHEN input.link_job_requisition_id_raw ~ '^[1-9][0-9]*$'\n        AND CHAR_LENGTH(input.link_job_requisition_id_raw) <= 10\n        THEN CASE\n          WHEN input.link_job_requisition_id_raw::BIGINT <= 2147483647\n            THEN input.link_job_requisition_id_raw::INTEGER\n          ELSE NULL\n        END\n      ELSE NULL\n    END AS requested_job_requisition_id,\n    CASE\n      WHEN input.link_job_requisition_id_raw IS NULL THEN TRUE\n      WHEN input.link_job_requisition_id_raw ~ '^[1-9][0-9]*$'\n        AND CHAR_LENGTH(input.link_job_requisition_id_raw) <= 10\n        THEN input.link_job_requisition_id_raw::BIGINT <= 2147483647\n      ELSE FALSE\n    END AS valid_job_requisition_id\n  FROM input\n  WHERE input.action = 'link_external_job'\n),\nvalidated_link AS (\n  SELECT\n    link_request.source,\n    link_request.external_id,\n    link_request.requested_job_requisition_id\n  FROM link_request\n  JOIN job_requisition_sources source_row\n    ON source_row.source = link_request.source\n   AND source_row.external_id = link_request.external_id\n  LEFT JOIN job_requisitions requisition\n    ON requisition.id = link_request.requested_job_requisition_id\n  WHERE link_request.external_id <> ''\n    AND link_request.valid_job_requisition_id\n    AND (\n      link_request.requested_job_requisition_id IS NULL\n      OR requisition.id IS NOT NULL\n    )\n),\nexternal_linked AS (\n  UPDATE job_requisition_sources source_row\n  SET job_requisition_id = validated_link.requested_job_requisition_id,\n      updated_at = NOW()\n  FROM validated_link\n  WHERE source_row.source = validated_link.source\n    AND source_row.external_id = validated_link.external_id\n  RETURNING\n    source_row.source,\n    source_row.external_id,\n    source_row.job_requisition_id,\n    source_row.external_title,\n    source_row.url,\n    source_row.source_updated_text,\n    source_row.publication_status,\n    source_row.first_seen_at,\n    source_row.last_seen_at,\n    source_row.last_synced_at\n)\nSELECT CASE\n  WHEN input.action = 'update_104_job_priorities' THEN\n    CASE\n      WHEN COALESCE((SELECT priority_request.is_valid FROM priority_request LIMIT 1), FALSE)\n        AND (SELECT COUNT(*) FROM priority_updated) = jsonb_array_length(input.external_jobs)\n        THEN json_build_object(\n          'ok', TRUE,\n          'priorityUpdate', json_build_object(\n            'updated', (SELECT COUNT(*)::INTEGER FROM priority_updated)\n          )\n        )\n      ELSE json_build_object(\n        'ok', FALSE,\n        'error', CASE\n          WHEN NOT input.external_jobs_is_array THEN 'jobs must be an array'\n          WHEN jsonb_array_length(input.external_jobs) > 500 THEN 'jobs must contain at most 500 items'\n          WHEN (SELECT COUNT(*) FROM priority_updates) <> jsonb_array_length(input.external_jobs)\n            THEN 'Every priority job must contain valid externalId, priorityLevel, and displayOrder values'\n          WHEN (SELECT COUNT(DISTINCT external_id) FROM priority_updates) <> jsonb_array_length(input.external_jobs)\n            THEN 'jobs must not contain duplicate externalId values'\n          WHEN EXISTS (\n            SELECT 1\n            FROM priority_updates priority\n            LEFT JOIN job_requisition_sources source_row\n              ON source_row.source = '104'\n             AND source_row.external_id = priority.external_id\n            WHERE source_row.external_id IS NULL\n          ) THEN 'Every priority job must reference an existing 104 source row'\n          ELSE '104 priority update was not fully applied'\n        END\n      )\n    END\n  ELSE json_build_object(\n  'ok', CASE\n    WHEN input.action = 'link_external_job' THEN EXISTS (SELECT 1 FROM external_linked)\n    WHEN input.action = 'sync_104_jobs' THEN EXISTS (SELECT 1 FROM sync_claimed)\n    ELSE true\n  END,\n  'error', CASE\n    WHEN input.action = 'sync_104_jobs' AND NOT input.snapshot_complete\n      THEN 'complete must be true for a full 104 job sync'\n    WHEN input.action = 'sync_104_jobs' AND input.contract_version <> 2\n      THEN 'Unsupported 104 sync contractVersion'\n    WHEN input.action = 'sync_104_jobs' AND NOT input.external_jobs_is_array\n      THEN 'jobs must be an array'\n    WHEN input.action = 'sync_104_jobs' AND NOT input.client_synced_at_valid\n      THEN 'syncedAt must be a valid ISO date-time string'\n    WHEN input.action = 'sync_104_jobs'\n      AND input.external_synced_at > NOW() + INTERVAL '5 minutes'\n      THEN 'syncedAt cannot be more than 5 minutes in the future'\n    WHEN input.action = 'sync_104_jobs' AND jsonb_array_length(input.external_jobs) > 500\n      THEN 'jobs must contain at most 500 items'\n    WHEN input.action = 'sync_104_jobs'\n      AND (\n        input.source_total_count < 0\n        OR input.published_count < 0\n        OR input.published_count > input.source_total_count\n        OR input.scanned_count <> input.source_total_count\n        OR input.published_count <> jsonb_array_length(input.external_jobs)\n        OR input.published_count <> (SELECT COUNT(*)::INTEGER FROM incoming_104)\n      ) THEN '104 sync counts or jobs are inconsistent'\n    WHEN input.action = 'sync_104_jobs' AND NOT EXISTS (SELECT 1 FROM sync_claimed)\n      THEN '104 snapshot provider claim was not applied'\n    WHEN input.action <> 'link_external_job' THEN NULL\n    WHEN input.external_id = '' THEN 'externalId is required'\n    WHEN input.link_job_requisition_id_raw IS NOT NULL\n      AND NOT COALESCE((SELECT link_request.valid_job_requisition_id FROM link_request LIMIT 1), FALSE)\n      THEN 'jobRequisitionId must be a PostgreSQL positive integer or null'\n    WHEN NOT EXISTS (\n      SELECT 1\n      FROM job_requisition_sources source_row\n      WHERE source_row.source = input.source_provider\n        AND source_row.external_id = input.external_id\n    ) THEN 'External job source row was not found'\n    WHEN input.link_job_requisition_id_raw IS NOT NULL\n      AND NOT EXISTS (\n        SELECT 1\n        FROM job_requisitions requisition\n        WHERE requisition.id = (\n          SELECT link_request.requested_job_requisition_id\n          FROM link_request\n          LIMIT 1\n        )\n      ) THEN 'Job requisition was not found'\n    WHEN NOT EXISTS (SELECT 1 FROM external_linked) THEN 'External job link was not updated'\n    ELSE NULL\n  END,\n  'action', input.action,\n  'candidate', CASE WHEN input.action IN ('update_candidate_status', 'update_candidate_department') THEN (SELECT json_build_object('id', cu.id, 'name', cu.name, 'status', cu.status, 'department', cu.department) FROM candidate_updated cu LIMIT 1) ELSE NULL END,\n  'onboard', CASE WHEN input.action = 'update_onboard' THEN (SELECT json_build_object('id', ou.id, 'name', ou.name, 'status', ou.status) FROM onboard_updated ou LIMIT 1) ELSE NULL END,\n  'requisition', json_build_object(\n    'id', COALESCE(created.id, updated.id, input.id),\n    'positionTitle', COALESCE(created.position_title, updated.position_title, input.position_title),\n    'department', COALESCE(created.department, updated.department, input.department),\n    'headcount', COALESCE(created.headcount, updated.headcount, input.headcount),\n    'status', COALESCE(created.status, updated.status, input.status),\n    'urgency', COALESCE(created.urgency, updated.urgency, input.urgency),\n    'notes', COALESCE(created.notes, updated.notes, input.notes, ''),\n    'openDate', TO_CHAR(COALESCE(created.open_date, updated.open_date, input.open_date), 'YYYY-MM-DD'),\n    'targetDate', TO_CHAR(COALESCE(created.target_date, updated.target_date, input.target_date), 'YYYY-MM-DD')\n  ),\n  'sync104Jobs', CASE\n    WHEN input.action = 'sync_104_jobs' THEN json_build_object(\n      'received', jsonb_array_length(input.external_jobs),\n      'accepted', (SELECT COUNT(*) FROM incoming_104),\n      'upserted', (SELECT COUNT(*) FROM sync_upserted),\n      'pendingConfirmation', (SELECT COUNT(*) FROM sync_pending),\n      'applied', EXISTS (SELECT 1 FROM sync_claimed),\n      'complete', input.snapshot_complete,\n      'contractVersion', input.contract_version,\n      'sourceTotalCount', input.source_total_count,\n      'publishedCount', input.published_count,\n      'scannedCount', input.scanned_count,\n      'syncedAt', (\n        SELECT TO_CHAR(sync_claimed.last_complete_synced_at AT TIME ZONE 'UTC', 'YYYY-MM-DD\"T\"HH24:MI:SS\"Z\"')\n        FROM sync_claimed\n        LIMIT 1\n      )\n    )\n    ELSE NULL\n  END,\n  'external104Job', CASE\n    WHEN input.action = 'link_external_job' THEN (\n      SELECT json_build_object(\n        'externalId', external_linked.external_id,\n        'jobRequisitionId', external_linked.job_requisition_id,\n        'title', external_linked.external_title,\n        'url', COALESCE(external_linked.url, ''),\n        'updatedDate', COALESCE(external_linked.source_updated_text, ''),\n        'status', external_linked.publication_status,\n        'firstSeenAt', TO_CHAR(external_linked.first_seen_at AT TIME ZONE 'UTC', 'YYYY-MM-DD\"T\"HH24:MI:SS\"Z\"'),\n        'lastSeenAt', TO_CHAR(external_linked.last_seen_at AT TIME ZONE 'UTC', 'YYYY-MM-DD\"T\"HH24:MI:SS\"Z\"'),\n        'lastSyncedAt', TO_CHAR(external_linked.last_synced_at AT TIME ZONE 'UTC', 'YYYY-MM-DD\"T\"HH24:MI:SS\"Z\"')\n      )\n      FROM external_linked\n      LIMIT 1\n    )\n    ELSE NULL\n  END\n)\nEND AS data\nFROM input\nLEFT JOIN created ON TRUE\nLEFT JOIN updated ON TRUE\nLEFT JOIN onboard_updated ON TRUE\nLEFT JOIN candidate_updated ON TRUE;",
        "options": {}
      },
      "id": "job-write-pg-001",
      "name": "PG: Write job requisition",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "NGdDfE2F1YFXGcmn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $input.item.json;\nreturn { json_response: JSON.stringify(raw.data || { ok: false, error: 'No response data' }) };"
      },
      "id": "job-write-code-response-001",
      "name": "Code: Build response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.json_response }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "job-write-respond-001",
      "name": "Respond: Job write",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ]
    }
  ],
  "connections": {
    "Webhook: Job Requisition Write": {
      "main": [
        [
          {
            "node": "IF: Token valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Token valid?": {
      "main": [
        [
          {
            "node": "PG: Write job requisition",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: 403 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: Write job requisition": {
      "main": [
        [
          {
            "node": "Code: Build response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build response": {
      "main": [
        [
          {
            "node": "Respond: Job write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "meta": null,
  "pinData": null,
  "versionId": "902c8b4e-1260-437e-b56f-14d7973b224c",
  "activeVersionId": "902c8b4e-1260-437e-b56f-14d7973b224c",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-29T07:20:05.307Z",
      "createdAt": "2026-05-29T07:20:05.307Z",
      "role": "workflow:owner",
      "workflowId": "3aaTC9KMPXTZ1tP6",
      "projectId": "NvjFEev0823h2STF",
      "project": {
        "updatedAt": "2026-05-15T07:57:49.399Z",
        "createdAt": "2026-05-15T07:52:05.149Z",
        "id": "NvjFEev0823h2STF",
        "name": "Huang yu-Wei <pkpk70532@yahoo.com.tw>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8daad596-e268-45a9-8bb8-f1065a906fc6"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-20T07:41:19.810Z",
    "createdAt": "2026-07-20T07:41:19.810Z",
    "versionId": "902c8b4e-1260-437e-b56f-14d7973b224c",
    "workflowId": "3aaTC9KMPXTZ1tP6",
    "nodes": [
      {
        "parameters": {
          "path": "hr-dashboard-write",
          "httpMethod": "POST",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "job-write-webhook-001",
        "name": "Webhook: Job Requisition Write",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "hr-dashboard-job-requisition-write"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "token-check",
                "leftValue": "={{ $json.headers.authorization }}",
                "rightValue": "={{ 'Bearer ' + $env.N8N_HR_TOKEN }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "job-write-if-token-001",
        "name": "IF: Token valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          220,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "{\"error\":\"Unauthorized\"}",
          "options": {
            "responseCode": 403,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json; charset=utf-8"
                }
              ]
            }
          }
        },
        "id": "job-write-unauthorized-001",
        "name": "Respond: 403 Unauthorized",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          440,
          180
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH input AS (\n  SELECT\n    '{{ ($json.body.action || '').replace(/'/g, \"''\") }}'::TEXT AS action,\n    NULLIF('{{ $json.body.requisition?.id ?? '' }}', '')::INTEGER AS id,\n    '{{ ($json.body.requisition?.department || '').replace(/'/g, \"''\") }}'::TEXT AS department,\n    '{{ ($json.body.requisition?.positionTitle || '').replace(/'/g, \"''\") }}'::TEXT AS position_title,\n    {{ Number($json.body.requisition?.headcount ?? 0) }}::INTEGER AS headcount,\n    '{{ ($json.body.requisition?.status || '').replace(/'/g, \"''\") }}'::TEXT AS status,\n    {{ Number($json.body.requisition?.urgency ?? 3) }}::INTEGER AS urgency,\n    NULLIF('{{ ($json.body.requisition?.notes || '').replace(/'/g, \"''\") }}', '')::TEXT AS notes,\n    NULLIF('{{ $json.body.requisition?.openDate ?? '' }}', '')::DATE AS open_date,\n    NULLIF('{{ $json.body.requisition?.targetDate ?? '' }}', '')::DATE AS target_date,\n    NULLIF('{{ $json.body.onboardId ?? \"\" }}', '')::INTEGER AS onboard_id,\n    '{{ ($json.body.onboardStatus || '').replace(/'/g, \"''\") }}'::TEXT AS onboard_status,\n    NULLIF('{{ $json.body.candidateId ?? \"\" }}', '')::INTEGER AS candidate_id,\n    '{{ ($json.body.candidateStatus || \"\").replace(/'/g, \"''\") }}'::TEXT AS candidate_status,\n    NULLIF('{{ ($json.body.candidateDepartment || '').replace(/'/g, \"''\") }}', '')::TEXT AS candidate_department,\n    '{{ JSON.stringify(Array.isArray($json.body.jobs) ? $json.body.jobs : []).replace(/'/g, \"''\") }}'::JSONB AS external_jobs,\n    {{ Array.isArray($json.body.jobs) ? 'TRUE' : 'FALSE' }}::BOOLEAN AS external_jobs_is_array,\n    {{ typeof $json.body.syncedAt === 'string' && $json.body.syncedAt.trim().length > 0 && $json.body.syncedAt.trim().length <= 64 && /^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$/.test($json.body.syncedAt.trim()) && Number.isFinite(Date.parse($json.body.syncedAt.trim())) ? 'TRUE' : 'FALSE' }}::BOOLEAN AS client_synced_at_valid,\n    TO_TIMESTAMP({{ typeof $json.body.syncedAt === 'string' && $json.body.syncedAt.trim().length > 0 && $json.body.syncedAt.trim().length <= 64 && /^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})$/.test($json.body.syncedAt.trim()) && Number.isFinite(Date.parse($json.body.syncedAt.trim())) ? Date.parse($json.body.syncedAt.trim()) / 1000 : 0 }}) AS external_synced_at,\n    {{ $json.body.complete === true ? 'TRUE' : 'FALSE' }}::BOOLEAN AS snapshot_complete,\n    {{ Number.isInteger($json.body.scannedCount) && $json.body.scannedCount >= 0 && $json.body.scannedCount <= 2147483647 ? $json.body.scannedCount : -1 }}::INTEGER AS scanned_count,\n    {{ Number.isInteger($json.body.contractVersion) && $json.body.contractVersion > 0 && $json.body.contractVersion <= 2147483647 ? $json.body.contractVersion : 0 }}::INTEGER AS contract_version,\n    {{ Number.isInteger($json.body.sourceTotalCount) && $json.body.sourceTotalCount >= 0 && $json.body.sourceTotalCount <= 2147483647 ? $json.body.sourceTotalCount : -1 }}::INTEGER AS source_total_count,\n    {{ Number.isInteger($json.body.publishedCount) && $json.body.publishedCount >= 0 && $json.body.publishedCount <= 2147483647 ? $json.body.publishedCount : -1 }}::INTEGER AS published_count,\n    LOWER('{{ String($json.body.provider || \"104\").trim().replace(/'/g, \"''\") }}')::TEXT AS source_provider,\n    '{{ String($json.body.externalId ?? \"\").trim().replace(/'/g, \"''\") }}'::TEXT AS external_id,\n    NULLIF('{{ String($json.body.jobRequisitionId ?? \"\").trim().replace(/'/g, \"''\") }}', '')::TEXT AS link_job_requisition_id_raw\n),\nexisting AS (\n  SELECT j.id\n  FROM job_requisitions j\n  JOIN input ON input.department = j.department\n            AND input.position_title = j.position_title\n),\ncreated AS (\n  INSERT INTO job_requisitions (\n    position_title,\n    department,\n    headcount,\n    filled_count,\n    open_date,\n    target_date,\n    status,\n    urgency,\n    notes\n  )\n  SELECT\n    input.position_title,\n    input.department,\n    input.headcount,\n    0,\n    input.open_date,\n    input.target_date,\n    input.status,\n    input.urgency,\n    input.notes\n  FROM input\n  WHERE input.action = 'create'\n    AND NOT EXISTS (SELECT 1 FROM existing)\n  RETURNING id, position_title, department, headcount, status, urgency, notes, open_date, target_date\n),\nupdated AS (\n  UPDATE job_requisitions j\n  SET position_title = input.position_title,\n      department = input.department,\n      headcount = input.headcount,\n      open_date = input.open_date,\n      target_date = input.target_date,\n      status = input.status,\n      urgency = input.urgency,\n      notes = input.notes\n  FROM input\n  WHERE (input.action = 'update' AND j.id = input.id)\n     OR (input.action = 'create' AND j.department = input.department AND j.position_title = input.position_title)\n  RETURNING j.id, j.position_title, j.department, j.headcount, j.status, j.urgency, j.notes, j.open_date, j.target_date\n),\nonboard_updated AS (\n  UPDATE onboardings\n  SET status = CASE WHEN input.action = 'update_onboard' THEN input.onboard_status ELSE onboardings.status END,\n      expected_date = CASE WHEN input.action = 'update_onboard_date' AND input.onboard_id IS NOT NULL THEN NULLIF(input.onboard_status, '')::DATE ELSE expected_date END\n  FROM input\n  WHERE onboardings.id = input.onboard_id\n    AND (\n      (input.action = 'update_onboard' AND input.onboard_status IN ('onboarded','no_show','pending','cancelled'))\n      OR (input.action = 'update_onboard_date' AND input.onboard_id IS NOT NULL)\n    )\n  RETURNING onboardings.id, onboardings.name, onboardings.status, TO_CHAR(onboardings.expected_date,'YYYY-MM-DD') AS expected_date\n),\ncandidate_updated AS (\n  UPDATE candidates\n  SET status = CASE WHEN input.action = 'update_candidate_status' THEN input.candidate_status ELSE candidates.status END,\n      department = CASE WHEN input.action = 'update_candidate_department' THEN input.candidate_department ELSE candidates.department END,\n      updated_at = NOW()\n  FROM input\n  WHERE candidates.id = input.candidate_id\n    AND (\n      (input.action = 'update_candidate_status' AND input.candidate_status IN ('withdrawn', 'rejected', 'dept_scheduling'))\n      OR (input.action = 'update_candidate_department' AND input.candidate_department IS NOT NULL)\n    )\n  RETURNING candidates.id, candidates.name, candidates.status, candidates.department\n),\nincoming_104_raw AS (\n  SELECT\n    job.value AS job_value,\n    BTRIM(COALESCE(job.value->>'externalId', '')) AS external_id,\n    BTRIM(COALESCE(job.value->>'title', '')) AS external_title,\n    NULLIF(BTRIM(COALESCE(job.value->>'url', '')), '') AS url,\n    NULLIF(BTRIM(COALESCE(job.value->>'updatedDate', '')), '') AS source_updated_text\n  FROM input\n  CROSS JOIN LATERAL jsonb_array_elements(input.external_jobs) AS job(value)\n  WHERE input.action = 'sync_104_jobs'\n),\nincoming_104 AS (\n  SELECT DISTINCT ON (external_id)\n    external_id,\n    external_title,\n    url,\n    source_updated_text\n  FROM incoming_104_raw\n  WHERE jsonb_typeof(job_value) = 'object'\n    AND jsonb_typeof(job_value->'externalId') = 'string'\n    AND jsonb_typeof(job_value->'title') = 'string'\n    AND jsonb_typeof(job_value->'url') = 'string'\n    AND jsonb_typeof(job_value->'updatedDate') = 'string'\n    AND jsonb_typeof(job_value->'status') = 'string'\n    AND job_value->>'status' = 'open'\n    AND external_id ~ '^[0-9]{1,32}$'\n    AND external_title <> ''\n    AND CHAR_LENGTH(external_title) <= 200\n    AND url IS NOT NULL\n    AND CHAR_LENGTH(url) <= 2048\n    AND POSITION('/job/jobmaster?' IN url) > 0\n    AND LOWER(SUBSTRING(\n      url FROM 1 FOR GREATEST(POSITION('/job/jobmaster?' IN url) - 1, 0)\n    ))\n      IN ('https://vip.104.com.tw', 'https://vip.104.com.tw:443')\n    AND COALESCE((\n      SELECT SUBSTRING(parameter.value FROM POSITION('=' IN parameter.value) + 1)\n      FROM unnest(\n        string_to_array(\n          split_part(SUBSTRING(url FROM POSITION('?' IN url) + 1), '#', 1),\n          '&'\n        )\n      ) WITH ORDINALITY AS parameter(value, ordinal)\n      WHERE split_part(parameter.value, '=', 1) = 'jobno'\n      ORDER BY parameter.ordinal\n      LIMIT 1\n    ), '') = external_id\n    AND (source_updated_text IS NULL OR CHAR_LENGTH(source_updated_text) <= 64)\n  ORDER BY external_id\n),\nsync_request AS (\n  SELECT\n    input.*,\n    (\n      input.action = 'sync_104_jobs'\n      AND input.snapshot_complete\n      AND input.contract_version = 2\n      AND input.external_jobs_is_array\n      AND jsonb_array_length(input.external_jobs) <= 500\n      AND input.client_synced_at_valid\n      AND input.external_synced_at <= NOW() + INTERVAL '5 minutes'\n      AND input.source_total_count >= 0\n      AND input.published_count >= 0\n      AND input.published_count <= input.source_total_count\n      AND input.scanned_count = input.source_total_count\n      AND input.published_count = jsonb_array_length(input.external_jobs)\n      AND input.published_count = (SELECT COUNT(*)::INTEGER FROM incoming_104)\n    ) AS is_valid\n  FROM input\n),\nsync_claimed AS (\n  INSERT INTO job_requisition_source_syncs (\n    source,\n    contract_version,\n    source_total_count,\n    published_count,\n    last_complete_synced_at,\n    created_at,\n    updated_at\n  )\n  SELECT\n    '104',\n    sync_request.contract_version,\n    sync_request.source_total_count,\n    sync_request.published_count,\n    clock_timestamp(),\n    NOW(),\n    NOW()\n  FROM sync_request\n  WHERE sync_request.is_valid\n  ON CONFLICT (source) DO UPDATE\n  SET contract_version = EXCLUDED.contract_version,\n      source_total_count = EXCLUDED.source_total_count,\n      published_count = EXCLUDED.published_count,\n      last_complete_synced_at = EXCLUDED.last_complete_synced_at,\n      updated_at = NOW()\n  WHERE job_requisition_source_syncs.last_complete_synced_at < EXCLUDED.last_complete_synced_at\n  RETURNING source, contract_version, source_total_count, published_count, last_complete_synced_at\n),\nsync_upserted AS (\n  INSERT INTO job_requisition_sources (\n    source,\n    external_id,\n    external_title,\n    url,\n    source_updated_text,\n    publication_status,\n    first_seen_at,\n    last_seen_at,\n    last_synced_at,\n    created_at,\n    updated_at\n  )\n  SELECT\n    '104',\n    incoming_104.external_id,\n    incoming_104.external_title,\n    incoming_104.url,\n    incoming_104.source_updated_text,\n    'open',\n    sync_claimed.last_complete_synced_at,\n    sync_claimed.last_complete_synced_at,\n    sync_claimed.last_complete_synced_at,\n    NOW(),\n    NOW()\n  FROM incoming_104\n  CROSS JOIN sync_claimed\n  ON CONFLICT (source, external_id) DO UPDATE\n  SET external_title = EXCLUDED.external_title,\n      url = EXCLUDED.url,\n      source_updated_text = EXCLUDED.source_updated_text,\n      publication_status = 'open',\n      last_seen_at = EXCLUDED.last_seen_at,\n      last_synced_at = EXCLUDED.last_synced_at,\n      updated_at = NOW()\n  RETURNING source, external_id\n),\nsync_pending AS (\n  UPDATE job_requisition_sources source_row\n  SET publication_status = 'pending_confirmation',\n      last_synced_at = sync_claimed.last_complete_synced_at,\n      updated_at = NOW()\n  FROM input\n  CROSS JOIN sync_claimed\n  WHERE source_row.source = sync_claimed.source\n    AND NOT EXISTS (\n      SELECT 1\n      FROM incoming_104\n      WHERE incoming_104.external_id = source_row.external_id\n    )\n  RETURNING source_row.source, source_row.external_id\n),\npriority_updates_raw AS (\n  SELECT\n    job.value AS job_value,\n    BTRIM(COALESCE(job.value->>'externalId', '')) AS external_id,\n    job.value->>'priorityLevel' AS priority_level_text,\n    job.value->>'displayOrder' AS display_order_text\n  FROM input\n  CROSS JOIN LATERAL jsonb_array_elements(input.external_jobs) AS job(value)\n  WHERE input.action = 'update_104_job_priorities'\n),\npriority_updates AS (\n  SELECT\n    external_id,\n    priority_level_text::SMALLINT AS priority_level,\n    display_order_text::INTEGER AS display_order\n  FROM priority_updates_raw\n  WHERE jsonb_typeof(job_value) = 'object'\n    AND jsonb_typeof(job_value->'externalId') = 'string'\n    AND jsonb_typeof(job_value->'priorityLevel') = 'number'\n    AND jsonb_typeof(job_value->'displayOrder') = 'number'\n    AND external_id ~ '^[0-9]{1,32}$'\n    AND priority_level_text ~ '^[1-3]$'\n    AND display_order_text ~ '^(0|[1-9][0-9]{0,9})$'\n    AND (\n      CHAR_LENGTH(display_order_text) < 10\n      OR display_order_text <= '2147483647'\n    )\n),\npriority_request AS (\n  SELECT\n    input.*,\n    (\n      input.action = 'update_104_job_priorities'\n      AND input.external_jobs_is_array\n      AND jsonb_array_length(input.external_jobs) <= 500\n      AND (SELECT COUNT(*) FROM priority_updates) = jsonb_array_length(input.external_jobs)\n      AND (SELECT COUNT(DISTINCT external_id) FROM priority_updates) = jsonb_array_length(input.external_jobs)\n      AND NOT EXISTS (\n        SELECT 1\n        FROM priority_updates priority\n        LEFT JOIN job_requisition_sources source_row\n          ON source_row.source = '104'\n         AND source_row.external_id = priority.external_id\n        WHERE source_row.external_id IS NULL\n      )\n    ) AS is_valid\n  FROM input\n),\npriority_updated AS (\n  UPDATE job_requisition_sources source_row\n  SET priority_level = priority.priority_level,\n      display_order = priority.display_order,\n      updated_at = NOW()\n  FROM priority_updates priority\n  CROSS JOIN priority_request\n  WHERE priority_request.is_valid\n    AND source_row.source = '104'\n    AND source_row.external_id = priority.external_id\n  RETURNING source_row.external_id\n),\nlink_request AS (\n  SELECT\n    input.source_provider AS source,\n    input.external_id,\n    input.link_job_requisition_id_raw,\n    CASE\n      WHEN input.link_job_requisition_id_raw ~ '^[1-9][0-9]*$'\n        AND CHAR_LENGTH(input.link_job_requisition_id_raw) <= 10\n        THEN CASE\n          WHEN input.link_job_requisition_id_raw::BIGINT <= 2147483647\n            THEN input.link_job_requisition_id_raw::INTEGER\n          ELSE NULL\n        END\n      ELSE NULL\n    END AS requested_job_requisition_id,\n    CASE\n      WHEN input.link_job_requisition_id_raw IS NULL THEN TRUE\n      WHEN input.link_job_requisition_id_raw ~ '^[1-9][0-9]*$'\n        AND CHAR_LENGTH(input.link_job_requisition_id_raw) <= 10\n        THEN input.link_job_requisition_id_raw::BIGINT <= 2147483647\n      ELSE FALSE\n    END AS valid_job_requisition_id\n  FROM input\n  WHERE input.action = 'link_external_job'\n),\nvalidated_link AS (\n  SELECT\n    link_request.source,\n    link_request.external_id,\n    link_request.requested_job_requisition_id\n  FROM link_request\n  JOIN job_requisition_sources source_row\n    ON source_row.source = link_request.source\n   AND source_row.external_id = link_request.external_id\n  LEFT JOIN job_requisitions requisition\n    ON requisition.id = link_request.requested_job_requisition_id\n  WHERE link_request.external_id <> ''\n    AND link_request.valid_job_requisition_id\n    AND (\n      link_request.requested_job_requisition_id IS NULL\n      OR requisition.id IS NOT NULL\n    )\n),\nexternal_linked AS (\n  UPDATE job_requisition_sources source_row\n  SET job_requisition_id = validated_link.requested_job_requisition_id,\n      updated_at = NOW()\n  FROM validated_link\n  WHERE source_row.source = validated_link.source\n    AND source_row.external_id = validated_link.external_id\n  RETURNING\n    source_row.source,\n    source_row.external_id,\n    source_row.job_requisition_id,\n    source_row.external_title,\n    source_row.url,\n    source_row.source_updated_text,\n    source_row.publication_status,\n    source_row.first_seen_at,\n    source_row.last_seen_at,\n    source_row.last_synced_at\n)\nSELECT CASE\n  WHEN input.action = 'update_104_job_priorities' THEN\n    CASE\n      WHEN COALESCE((SELECT priority_request.is_valid FROM priority_request LIMIT 1), FALSE)\n        AND (SELECT COUNT(*) FROM priority_updated) = jsonb_array_length(input.external_jobs)\n        THEN json_build_object(\n          'ok', TRUE,\n          'priorityUpdate', json_build_object(\n            'updated', (SELECT COUNT(*)::INTEGER FROM priority_updated)\n          )\n        )\n      ELSE json_build_object(\n        'ok', FALSE,\n        'error', CASE\n          WHEN NOT input.external_jobs_is_array THEN 'jobs must be an array'\n          WHEN jsonb_array_length(input.external_jobs) > 500 THEN 'jobs must contain at most 500 items'\n          WHEN (SELECT COUNT(*) FROM priority_updates) <> jsonb_array_length(input.external_jobs)\n            THEN 'Every priority job must contain valid externalId, priorityLevel, and displayOrder values'\n          WHEN (SELECT COUNT(DISTINCT external_id) FROM priority_updates) <> jsonb_array_length(input.external_jobs)\n            THEN 'jobs must not contain duplicate externalId values'\n          WHEN EXISTS (\n            SELECT 1\n            FROM priority_updates priority\n            LEFT JOIN job_requisition_sources source_row\n              ON source_row.source = '104'\n             AND source_row.external_id = priority.external_id\n            WHERE source_row.external_id IS NULL\n          ) THEN 'Every priority job must reference an existing 104 source row'\n          ELSE '104 priority update was not fully applied'\n        END\n      )\n    END\n  ELSE json_build_object(\n  'ok', CASE\n    WHEN input.action = 'link_external_job' THEN EXISTS (SELECT 1 FROM external_linked)\n    WHEN input.action = 'sync_104_jobs' THEN EXISTS (SELECT 1 FROM sync_claimed)\n    ELSE true\n  END,\n  'error', CASE\n    WHEN input.action = 'sync_104_jobs' AND NOT input.snapshot_complete\n      THEN 'complete must be true for a full 104 job sync'\n    WHEN input.action = 'sync_104_jobs' AND input.contract_version <> 2\n      THEN 'Unsupported 104 sync contractVersion'\n    WHEN input.action = 'sync_104_jobs' AND NOT input.external_jobs_is_array\n      THEN 'jobs must be an array'\n    WHEN input.action = 'sync_104_jobs' AND NOT input.client_synced_at_valid\n      THEN 'syncedAt must be a valid ISO date-time string'\n    WHEN input.action = 'sync_104_jobs'\n      AND input.external_synced_at > NOW() + INTERVAL '5 minutes'\n      THEN 'syncedAt cannot be more than 5 minutes in the future'\n    WHEN input.action = 'sync_104_jobs' AND jsonb_array_length(input.external_jobs) > 500\n      THEN 'jobs must contain at most 500 items'\n    WHEN input.action = 'sync_104_jobs'\n      AND (\n        input.source_total_count < 0\n        OR input.published_count < 0\n        OR input.published_count > input.source_total_count\n        OR input.scanned_count <> input.source_total_count\n        OR input.published_count <> jsonb_array_length(input.external_jobs)\n        OR input.published_count <> (SELECT COUNT(*)::INTEGER FROM incoming_104)\n      ) THEN '104 sync counts or jobs are inconsistent'\n    WHEN input.action = 'sync_104_jobs' AND NOT EXISTS (SELECT 1 FROM sync_claimed)\n      THEN '104 snapshot provider claim was not applied'\n    WHEN input.action <> 'link_external_job' THEN NULL\n    WHEN input.external_id = '' THEN 'externalId is required'\n    WHEN input.link_job_requisition_id_raw IS NOT NULL\n      AND NOT COALESCE((SELECT link_request.valid_job_requisition_id FROM link_request LIMIT 1), FALSE)\n      THEN 'jobRequisitionId must be a PostgreSQL positive integer or null'\n    WHEN NOT EXISTS (\n      SELECT 1\n      FROM job_requisition_sources source_row\n      WHERE source_row.source = input.source_provider\n        AND source_row.external_id = input.external_id\n    ) THEN 'External job source row was not found'\n    WHEN input.link_job_requisition_id_raw IS NOT NULL\n      AND NOT EXISTS (\n        SELECT 1\n        FROM job_requisitions requisition\n        WHERE requisition.id = (\n          SELECT link_request.requested_job_requisition_id\n          FROM link_request\n          LIMIT 1\n        )\n      ) THEN 'Job requisition was not found'\n    WHEN NOT EXISTS (SELECT 1 FROM external_linked) THEN 'External job link was not updated'\n    ELSE NULL\n  END,\n  'action', input.action,\n  'candidate', CASE WHEN input.action IN ('update_candidate_status', 'update_candidate_department') THEN (SELECT json_build_object('id', cu.id, 'name', cu.name, 'status', cu.status, 'department', cu.department) FROM candidate_updated cu LIMIT 1) ELSE NULL END,\n  'onboard', CASE WHEN input.action = 'update_onboard' THEN (SELECT json_build_object('id', ou.id, 'name', ou.name, 'status', ou.status) FROM onboard_updated ou LIMIT 1) ELSE NULL END,\n  'requisition', json_build_object(\n    'id', COALESCE(created.id, updated.id, input.id),\n    'positionTitle', COALESCE(created.position_title, updated.position_title, input.position_title),\n    'department', COALESCE(created.department, updated.department, input.department),\n    'headcount', COALESCE(created.headcount, updated.headcount, input.headcount),\n    'status', COALESCE(created.status, updated.status, input.status),\n    'urgency', COALESCE(created.urgency, updated.urgency, input.urgency),\n    'notes', COALESCE(created.notes, updated.notes, input.notes, ''),\n    'openDate', TO_CHAR(COALESCE(created.open_date, updated.open_date, input.open_date), 'YYYY-MM-DD'),\n    'targetDate', TO_CHAR(COALESCE(created.target_date, updated.target_date, input.target_date), 'YYYY-MM-DD')\n  ),\n  'sync104Jobs', CASE\n    WHEN input.action = 'sync_104_jobs' THEN json_build_object(\n      'received', jsonb_array_length(input.external_jobs),\n      'accepted', (SELECT COUNT(*) FROM incoming_104),\n      'upserted', (SELECT COUNT(*) FROM sync_upserted),\n      'pendingConfirmation', (SELECT COUNT(*) FROM sync_pending),\n      'applied', EXISTS (SELECT 1 FROM sync_claimed),\n      'complete', input.snapshot_complete,\n      'contractVersion', input.contract_version,\n      'sourceTotalCount', input.source_total_count,\n      'publishedCount', input.published_count,\n      'scannedCount', input.scanned_count,\n      'syncedAt', (\n        SELECT TO_CHAR(sync_claimed.last_complete_synced_at AT TIME ZONE 'UTC', 'YYYY-MM-DD\"T\"HH24:MI:SS\"Z\"')\n        FROM sync_claimed\n        LIMIT 1\n      )\n    )\n    ELSE NULL\n  END,\n  'external104Job', CASE\n    WHEN input.action = 'link_external_job' THEN (\n      SELECT json_build_object(\n        'externalId', external_linked.external_id,\n        'jobRequisitionId', external_linked.job_requisition_id,\n        'title', external_linked.external_title,\n        'url', COALESCE(external_linked.url, ''),\n        'updatedDate', COALESCE(external_linked.source_updated_text, ''),\n        'status', external_linked.publication_status,\n        'firstSeenAt', TO_CHAR(external_linked.first_seen_at AT TIME ZONE 'UTC', 'YYYY-MM-DD\"T\"HH24:MI:SS\"Z\"'),\n        'lastSeenAt', TO_CHAR(external_linked.last_seen_at AT TIME ZONE 'UTC', 'YYYY-MM-DD\"T\"HH24:MI:SS\"Z\"'),\n        'lastSyncedAt', TO_CHAR(external_linked.last_synced_at AT TIME ZONE 'UTC', 'YYYY-MM-DD\"T\"HH24:MI:SS\"Z\"')\n      )\n      FROM external_linked\n      LIMIT 1\n    )\n    ELSE NULL\n  END\n)\nEND AS data\nFROM input\nLEFT JOIN created ON TRUE\nLEFT JOIN updated ON TRUE\nLEFT JOIN onboard_updated ON TRUE\nLEFT JOIN candidate_updated ON TRUE;",
          "options": {}
        },
        "id": "job-write-pg-001",
        "name": "PG: Write job requisition",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          440,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "NGdDfE2F1YFXGcmn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const raw = $input.item.json;\nreturn { json_response: JSON.stringify(raw.data || { ok: false, error: 'No response data' }) };"
        },
        "id": "job-write-code-response-001",
        "name": "Code: Build response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $json.json_response }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json; charset=utf-8"
                }
              ]
            }
          }
        },
        "id": "job-write-respond-001",
        "name": "Respond: Job write",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          880,
          0
        ]
      }
    ],
    "connections": {
      "Webhook: Job Requisition Write": {
        "main": [
          [
            {
              "node": "IF: Token valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF: Token valid?": {
        "main": [
          [
            {
              "node": "PG: Write job requisition",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond: 403 Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG: Write job requisition": {
        "main": [
          [
            {
              "node": "Code: Build response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: Build response": {
        "main": [
          [
            {
              "node": "Respond: Job write",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Huang yu-Wei",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-20T07:41:19.831Z",
        "id": 513,
        "workflowId": "3aaTC9KMPXTZ1tP6",
        "versionId": "902c8b4e-1260-437e-b56f-14d7973b224c",
        "event": "deactivated",
        "userId": "8daad596-e268-45a9-8bb8-f1065a906fc6"
      },
      {
        "createdAt": "2026-07-20T07:41:19.841Z",
        "id": 514,
        "workflowId": "3aaTC9KMPXTZ1tP6",
        "versionId": "902c8b4e-1260-437e-b56f-14d7973b224c",
        "event": "activated",
        "userId": "8daad596-e268-45a9-8bb8-f1065a906fc6"
      }
    ]
  }
}
