n8n/live_Dashboard_API.json
{
  "updatedAt": "2026-07-03T03:10:42.248Z",
  "createdAt": "2026-05-21T08:03:05.655Z",
  "id": "x4Olor5YtMfthzWp",
  "name": "HR Dashboard API",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "hr-dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6cc85e54-156a-4e80-92c6-80c7d1c44747",
      "name": "Webhook：Dashboard 請求",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "hr-dashboard-data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "token-check",
              "leftValue": "={{ $json.headers.authorization }}",
              "rightValue": "={{ 'Bearer ' + $env.N8N_HR_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "59968481-3a7e-4071-8d93-b810b14ff189",
      "name": "IF：驗證 Token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\"error\":\"Unauthorized\"}",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://sp-hr.zeabur.app"
              }
            ]
          }
        }
      },
      "id": "36f1434a-e560-43fa-a9d6-4cc65f757951",
      "name": "回應 403 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ALTER TABLE onboardings DROP CONSTRAINT IF EXISTS onboardings_status_check;\nALTER TABLE onboardings ADD CONSTRAINT onboardings_status_check\n  CHECK(status IN ('pending','onboarded','cancelled','no_show'));\n\nALTER TABLE candidates\nADD COLUMN IF NOT EXISTS job_requisition_id INTEGER REFERENCES job_requisitions(id) ON DELETE SET NULL;\n\nCREATE INDEX IF NOT EXISTS idx_candidates_job_requisition\nON candidates(job_requisition_id);\n\nWITH candidate_enriched AS (\n  SELECT\n    c.id,\n    c.name,\n    c.applied_position,\n    c.department,\n    c.job_requisition_id,\n    c.status,\n    c.source,\n    c.created_at,\n    c.updated_at,\n    c.notes,\n    (COALESCE(c.notes, '') LIKE '%[SYS_STAGE:approved_to_invite%') AS has_invite_marker,\n    NULLIF(SUBSTRING(COALESCE(c.notes, '') FROM '\\\\|HR:([^\\\\]]*)\\\\]'), '') AS marker_hr,\n    NULLIF(\n      TRIM(BOTH ' ' FROM REGEXP_REPLACE(COALESCE(c.notes, ''), '\\\\s*\\\\[SYS_STAGE:[^\\\\]]+\\\\]', '', 'g')),\n      ''\n    ) AS clean_note\n  FROM candidates c\n),\nnormalized_interviews AS (\n  SELECT\n    i.*,\n    CASE\n      WHEN i.interview_date IS NULL THEN NULL\n      WHEN EXTRACT(YEAR FROM i.interview_date)::INT >= EXTRACT(YEAR FROM COALESCE(e.received_at, c.created_at, NOW()))::INT - 1\n        THEN i.interview_date\n      ELSE make_date(\n        EXTRACT(YEAR FROM COALESCE(e.received_at, c.created_at, NOW()))::INT,\n        EXTRACT(MONTH FROM i.interview_date)::INT,\n        EXTRACT(DAY FROM i.interview_date)::INT\n      )\n    END AS normalized_interview_date\n  FROM interviews i\n  LEFT JOIN candidates c ON c.id = i.candidate_id\n  LEFT JOIN email_logs e ON e.email_msg_id = i.email_msg_id\n),\ninterview_flags AS (\n  SELECT\n    i.candidate_id,\n    MAX(i.normalized_interview_date) FILTER (\n      WHERE i.normalized_interview_date IS NOT NULL\n        AND COALESCE(i.status, '') <> 'cancelled'\n    ) AS latest_interview_date,\n    (ARRAY_AGG(i.hr_owner ORDER BY i.normalized_interview_date DESC NULLS LAST, i.id DESC) FILTER (\n      WHERE COALESCE(i.hr_owner, '') <> ''\n        AND COALESCE(i.status, '') <> 'cancelled'\n    ))[1] AS latest_hr_owner,\n    (ARRAY_AGG(i.email_web_link ORDER BY i.normalized_interview_date DESC NULLS LAST, i.id DESC) FILTER (\n      WHERE COALESCE(i.email_web_link, '') <> ''\n        AND COALESCE(i.status, '') <> 'cancelled'\n    ))[1] AS latest_email_link,\n    BOOL_OR(\n      i.normalized_interview_date IS NOT NULL\n      AND COALESCE(i.status, '') <> 'cancelled'\n    ) AS has_active_interview,\n    BOOL_OR(\n      i.normalized_interview_date IS NOT NULL\n      AND i.normalized_interview_date >= CURRENT_DATE\n      AND COALESCE(i.status, '') <> 'cancelled'\n    ) AS has_upcoming_interview\n  FROM normalized_interviews i\n  GROUP BY i.candidate_id\n),\nemail_activity AS (\n  SELECT\n    e.candidate_id,\n    MAX(e.received_at) FILTER (\n      WHERE e.received_at IS NOT NULL\n    ) AS latest_email_received_at,\n    MIN(e.received_at) FILTER (\n      WHERE e.received_at IS NOT NULL\n    ) AS first_email_received_at,\n    (ARRAY_AGG(e.email_subject ORDER BY e.received_at DESC NULLS LAST, e.id DESC) FILTER (\n      WHERE COALESCE(e.email_subject, '') <> ''\n    ))[1] AS latest_email_subject,\n    (ARRAY_AGG(e.sender ORDER BY e.received_at DESC NULLS LAST, e.id DESC) FILTER (\n      WHERE COALESCE(e.sender, '') <> ''\n    ))[1] AS latest_email_sender,\n    (ARRAY_AGG(regexp_replace(e.email_msg_id, '#[0-9]+$', '') ORDER BY e.received_at ASC NULLS LAST, e.id ASC) FILTER (\n      WHERE COALESCE(e.email_subject, '') ~ '履歷推薦'\n        AND COALESCE(e.email_msg_id, '') <> ''\n    ))[1] AS recommend_email_msg_id,\n    (ARRAY_AGG(e.email_subject ORDER BY e.received_at ASC NULLS LAST, e.id ASC) FILTER (\n      WHERE COALESCE(e.email_subject, '') ~ '履歷推薦'\n        AND COALESCE(e.email_subject, '') <> ''\n    ))[1] AS recommend_email_subject,\n    MIN(e.received_at) FILTER (\n      WHERE COALESCE(e.email_subject, '') ~ '履歷推薦'\n        AND e.received_at IS NOT NULL\n    ) AS recommend_email_received_at,\n    BOOL_OR(\n      COALESCE(e.email_subject, '') ~ '(面試時間|面試安排|面試邀約|更新面試時間|最新面試時間|安排面試|安排於|安排在|訂於)'\n    ) AS has_schedule_subject,\n    BOOL_OR(\n      COALESCE(e.email_subject, '') ~* '^(RE|FW|FWD)\\s*:'\n    ) AS has_reply_thread_subject,\n    BOOL_OR(\n      COALESCE(e.email_subject, '') ~ '履歷推薦'\n    ) AS has_recommend_subject\n  FROM email_logs e\n  WHERE e.candidate_id IS NOT NULL\n  GROUP BY e.candidate_id\n),\ncandidate_state AS (\n  SELECT\n    c.*,\n    COALESCE(f.latest_interview_date, NULL) AS latest_interview_date,\n    COALESCE(f.latest_hr_owner, '') AS latest_hr_owner,\n    COALESCE(f.latest_email_link, '') AS latest_email_link,\n    COALESCE(f.has_active_interview, FALSE) AS has_active_interview,\n    COALESCE(f.has_upcoming_interview, FALSE) AS has_upcoming_interview,\n    a.latest_email_received_at,\n    a.first_email_received_at,\n    COALESCE(a.latest_email_subject, '') AS latest_email_subject,\n    COALESCE(a.latest_email_sender, '') AS latest_email_sender,\n    COALESCE(a.recommend_email_msg_id, '') AS recommend_email_msg_id,\n    COALESCE(a.recommend_email_subject, '') AS recommend_email_subject,\n    a.recommend_email_received_at,\n    COALESCE(a.has_schedule_subject, FALSE) AS has_schedule_subject,\n    COALESCE(a.has_reply_thread_subject, FALSE) AS has_reply_thread_subject,\n    COALESCE(a.has_recommend_subject, FALSE) AS has_recommend_subject,\n    GREATEST(\n      COALESCE(a.latest_email_received_at, '-infinity'::timestamptz),\n      COALESCE(f.latest_interview_date::timestamptz, '-infinity'::timestamptz),\n      COALESCE(c.created_at, '-infinity'::timestamptz)\n    ) AS latest_signal_at,\n    COALESCE(\n      a.first_email_received_at,\n      c.created_at\n    ) AS first_signal_at,\n    CASE\n      WHEN c.status = 'hired' THEN 'offer'\n      WHEN c.status IN ('rejected', 'withdrawn') THEN 'withdrawn'\n      WHEN c.status LIKE '%錄取%' THEN 'offer'\n      WHEN c.status LIKE '%到職%' THEN 'onboarded'\n      WHEN COALESCE(f.has_active_interview, FALSE) OR COALESCE(a.has_schedule_subject, FALSE) THEN 'interviewing'\n      WHEN c.status = 'approved_to_invite' THEN 'interviewing'\n      WHEN c.status = 'pending_review'\n        AND (\n          c.has_invite_marker\n          OR (\n            COALESCE(a.has_reply_thread_subject, FALSE)\n            AND COALESCE(a.has_recommend_subject, FALSE)\n          )\n        )\n        THEN 'interviewing'\n      WHEN c.status = 'pending_review' THEN 'pending_review'\n      ELSE 'interviewing'\n    END AS derived_status\n  FROM candidate_enriched c\n  LEFT JOIN interview_flags f ON f.candidate_id = c.id\n  LEFT JOIN email_activity a ON a.candidate_id = c.id\n)\nSELECT json_build_object(\n  'today', TO_CHAR(CURRENT_DATE, 'YYYY-MM-DD'),\n  'generatedAt', TO_CHAR(NOW(), 'YYYY-MM-DD\"T\"HH24:MI:SS'),\n\n  'schedEvents', COALESCE((\n    SELECT json_agg(e ORDER BY (e->>'date'), (e->>'time'), (e->>'name'))\n    FROM (\n      SELECT json_build_object(\n        'type', 'interview',\n        'name', c.name,\n        'pos', c.applied_position,\n        'dept', c.department,\n        'jobRequisitionId', c.job_requisition_id,\n        'date', TO_CHAR(i.normalized_interview_date, 'YYYY-MM-DD'),\n        'time', COALESCE(i.interview_time, ''),\n        'hr', COALESCE(i.hr_owner, ''),\n        'round', COALESCE(i.round, 1),\n        'note', COALESCE(i.notes, ''),\n        'emailLink', COALESCE(i.email_web_link, '')\n      ) AS e\n      FROM (\n        SELECT DISTINCT ON (i.candidate_id, i.normalized_interview_date, COALESCE(i.round, 1))\n          i.*\n        FROM normalized_interviews i\n        WHERE i.normalized_interview_date IS NOT NULL\n          AND i.normalized_interview_date >= CURRENT_DATE - 14\n          AND i.normalized_interview_date <= CURRENT_DATE + 45\n          AND COALESCE(i.status, '') <> 'cancelled'\n        ORDER BY i.candidate_id, i.normalized_interview_date, COALESCE(i.round, 1), i.id DESC\n      ) i\n      JOIN candidates c ON c.id = i.candidate_id\n      UNION ALL\n      SELECT json_build_object(\n        'type', 'onboard',\n        'name', o.name,\n        'pos', o.position,\n        'dept', o.department,\n        'date', TO_CHAR(o.expected_date, 'YYYY-MM-DD'),\n        'time', '09:00',\n        'hr', COALESCE(o.hr_owner, ''),\n        'round', 0,\n        'note', '',\n        'emailLink', COALESCE(o.email_web_link, '')\n      ) AS e\n      FROM onboardings o\n      WHERE o.expected_date IS NOT NULL\n        AND o.status <> 'cancelled'\n        AND o.expected_date >= CURRENT_DATE - 7\n        AND o.expected_date <= CURRENT_DATE + 60\n      UNION ALL\n      SELECT json_build_object(\n        'type', 'resign',\n        'name', r.name,\n        'pos', r.position,\n        'dept', r.department,\n        'date', TO_CHAR(r.last_day, 'YYYY-MM-DD'),\n        'time', '',\n        'hr', COALESCE(r.hr_owner, ''),\n        'round', 0,\n        'note', COALESCE(r.reason, ''),\n        'emailLink', COALESCE(r.email_web_link, '')\n      ) AS e\n      FROM resignations r\n      WHERE r.last_day IS NOT NULL\n        AND r.status <> 'cancelled'\n        AND r.last_day >= CURRENT_DATE - 7\n        AND r.last_day <= CURRENT_DATE + 60\n    ) ev\n  ), '[]'::json),\n\n  'onboardData', COALESCE((\n    SELECT json_agg(json_build_object(\n      'id', o.id,\n      'name', o.name,\n      'dept', o.department,\n      'pos', o.position,\n      'date', TO_CHAR(o.expected_date, 'YYYY-MM-DD'),\n      'hr', COALESCE(o.hr_owner, ''),\n      'status', CASE WHEN o.status = 'onboarded' THEN 'onboarded' ELSE CASE WHEN o.status = 'no_show' THEN 'no_show' ELSE 'pending' END END,\n      'emailLink', COALESCE(o.email_web_link, '')\n    ) ORDER BY o.expected_date DESC, o.name)\n    FROM onboardings o\n    WHERE o.status <> 'cancelled'\n      AND o.expected_date >= CURRENT_DATE - 60\n  ), '[]'::json),\n\n  'resignData', COALESCE((\n    SELECT json_agg(json_build_object(\n      'name', r.name,\n      'dept', r.department,\n      'pos', r.position,\n      'lastDay', TO_CHAR(r.last_day, 'YYYY-MM-DD'),\n      'hr', COALESCE(r.hr_owner, ''),\n      'reason', COALESCE(r.reason, ''),\n      'status', r.status,\n      'emailLink', COALESCE(r.email_web_link, '')\n    ) ORDER BY r.last_day DESC, r.name)\n    FROM resignations r\n    WHERE r.status <> 'cancelled'\n      AND r.last_day >= CURRENT_DATE - 60\n  ), '[]'::json),\n\n  'candidatesData', COALESCE((\n    SELECT json_agg(json_build_object(\n      'name', c.name,\n      'pos', c.applied_position,\n      'dept', c.department,\n      'jobRequisitionId', c.job_requisition_id,\n      'date', COALESCE(TO_CHAR(c.latest_interview_date, 'YYYY-MM-DD'), ''),\n      'latestDate', TO_CHAR(COALESCE(c.latest_signal_at, c.created_at), 'YYYY-MM-DD'),\n      'firstSignalAt', TO_CHAR(c.first_signal_at, 'YYYY-MM-DD'),\n      'status', c.derived_status,\n      'onboard', NULL,\n      'hr', COALESCE(c.latest_hr_owner, c.marker_hr, ''),\n      'note', COALESCE(c.clean_note, ''),\n      'source', COALESCE(c.source, ''),\n      'latestEmailSubject', COALESCE(c.latest_email_subject, ''),\n      'recommendEmailMsgId', COALESCE(c.recommend_email_msg_id, ''),\n      'recommendEmailSubject', COALESCE(c.recommend_email_subject, ''),\n      'recommendEmailReceivedAt', COALESCE(TO_CHAR(c.recommend_email_received_at AT TIME ZONE 'Asia/Taipei', 'YYYY-MM-DD\"T\"HH24:MI:SS'), ''),\n      'emailLink', COALESCE(c.latest_email_link, ''),\n      'resumeLink', COALESCE((\n        SELECT MAX(o.resume_link)\n        FROM onboardings o\n        WHERE (o.candidate_id = c.id OR o.name = c.name)\n          AND o.resume_link IS NOT NULL\n      ), ''),\n      'history', COALESCE((\n        SELECT json_agg(json_build_object(\n          'date', TO_CHAR(ih.normalized_interview_date, 'YYYY-MM-DD'),\n          'type', 'interview',\n          'title', CONCAT('第', ih.round, '輪面試 - ', COALESCE(ih.status, '')),\n          'note', COALESCE(ih.notes, ''),\n          'color', CASE ih.result\n            WHEN 'passed' THEN 'green'\n            WHEN 'failed' THEN 'pink'\n            ELSE 'blue'\n          END\n        ) ORDER BY ih.normalized_interview_date, ih.round, ih.id)\n        FROM normalized_interviews ih\n        WHERE ih.candidate_id = c.id\n          AND ih.normalized_interview_date IS NOT NULL\n      ), '[]'::json)\n    ) ORDER BY COALESCE(c.latest_signal_at, c.created_at) DESC, c.name)\n    FROM candidate_state c\n  ), '[]'::json),\n\n  'unmappedCandidates', COALESCE((\n    SELECT json_agg(json_build_object(\n      'name', c.name,\n      'pos', c.applied_position,\n      'dept', c.department,\n      'jobRequisitionId', c.job_requisition_id,\n      'latestDate', TO_CHAR(COALESCE(c.latest_signal_at, c.created_at), 'YYYY-MM-DD'),\n      'status', c.derived_status,\n      'hr', COALESCE(c.latest_hr_owner, c.marker_hr, ''),\n      'note', COALESCE(c.clean_note, ''),\n      'source', COALESCE(c.source, ''),\n      'latestEmailSubject', COALESCE(c.latest_email_subject, ''),\n      'recommendEmailMsgId', COALESCE(c.recommend_email_msg_id, ''),\n      'recommendEmailSubject', COALESCE(c.recommend_email_subject, ''),\n      'recommendEmailReceivedAt', COALESCE(TO_CHAR(c.recommend_email_received_at AT TIME ZONE 'Asia/Taipei', 'YYYY-MM-DD\"T\"HH24:MI:SS'), ''),\n      'emailLink', COALESCE(c.latest_email_link, '')\n    ) ORDER BY COALESCE(c.latest_signal_at, c.created_at) DESC, c.name)\n    FROM candidate_state c\n    WHERE c.job_requisition_id IS NULL\n  ), '[]'::json),\n\n  'jobsData', COALESCE((\n    SELECT json_agg(json_build_object(\n      'id', j.id,\n      'pos', j.position_title,\n      'dept', j.department,\n      'open', TO_CHAR(j.open_date, 'YYYY-MM-DD'),\n      'target', TO_CHAR(j.target_date, 'YYYY-MM-DD'),\n      'headcount', COALESCE(j.headcount, 1),\n      'filled', COALESCE(j.filled_count, 0),\n      'cands', COALESCE(x.cands, 0),\n      'hired', COALESCE(x.hired, 0),\n      'urgency', COALESCE(j.urgency, 3),\n      'status', j.status,\n      'note', COALESCE(j.notes, '')\n    ) ORDER BY COALESCE(j.urgency, 3) DESC, j.open_date NULLS LAST, j.position_title)\n    FROM job_requisitions j\n    LEFT JOIN LATERAL (\n      SELECT\n        COUNT(*) AS cands,\n        COUNT(*) FILTER (WHERE c.status IN ('hired')) AS hired\n      FROM candidates c\n      WHERE c.job_requisition_id = j.id\n         OR (\n           c.job_requisition_id IS NULL\n           AND c.department = j.department\n           AND c.applied_position = j.position_title\n         )\n    ) x ON TRUE\n  ), '[]'::json),\n\n  'monthlyTrend', COALESCE((\n    SELECT json_agg(json_build_object(\n      'month', t.month,\n      'interviews', t.interviews,\n      'offers', t.offers,\n      'onboarded', t.onboarded\n    ) ORDER BY t.month)\n    FROM (\n      SELECT\n        month,\n        SUM(interview_count) AS interviews,\n        SUM(offer_count) AS offers,\n        SUM(onboard_count) AS onboarded\n      FROM (\n        SELECT\n          TO_CHAR(DATE_TRUNC('month', i.normalized_interview_date), 'YYYY-MM') AS month,\n          COUNT(*) AS interview_count,\n          COUNT(CASE WHEN c.status IN ('hired', '錄取') THEN 1 END) AS offer_count,\n          0 AS onboard_count\n        FROM normalized_interviews i\n        JOIN candidates c ON c.id = i.candidate_id\n        WHERE i.normalized_interview_date >= CURRENT_DATE - INTERVAL '6 months'\n        GROUP BY DATE_TRUNC('month', i.normalized_interview_date)\n        UNION ALL\n        SELECT\n          TO_CHAR(DATE_TRUNC('month', o.expected_date), 'YYYY-MM') AS month,\n          0 AS interview_count,\n          0 AS offer_count,\n          COUNT(*) AS onboard_count\n        FROM onboardings o\n        WHERE o.expected_date >= CURRENT_DATE - INTERVAL '6 months'\n          AND o.status <> 'cancelled'\n        GROUP BY DATE_TRUNC('month', o.expected_date)\n      ) combined\n      GROUP BY month\n      ORDER BY month\n      LIMIT 6\n    ) t\n  ), '[]'::json),\n\n  'departmentStats', COALESCE((\n    SELECT json_agg(json_build_object(\n      'dept', d.department,\n      'candidates', d.total_candidates,\n      'hired', d.hired_count,\n      'avgDaysToOffer', d.avg_days_to_offer\n    ) ORDER BY d.total_candidates DESC, d.department)\n    FROM (\n      SELECT\n        c.department,\n        COUNT(DISTINCT c.id) AS total_candidates,\n        COUNT(DISTINCT CASE WHEN c.status IN ('hired') THEN c.id END) AS hired_count,\n        ROUND(AVG(o.days_to_offer)::numeric, 1) AS avg_days_to_offer\n      FROM candidates c\n      LEFT JOIN offers o ON o.candidate_id = c.id AND o.days_to_offer IS NOT NULL\n      GROUP BY c.department\n    ) d\n  ), '[]'::json),\n\n  'monthlyHistory', COALESCE((\n    SELECT json_agg(json_build_object(\n      'month', m.month,\n      'onboarded', m.onboarded,\n      'no_show', m.no_show,\n      'resigned', m.resigned\n    ) ORDER BY m.month DESC)\n    FROM (\n      SELECT\n        TO_CHAR(DATE_TRUNC('month', o.expected_date), 'YYYY-MM') AS month,\n        COUNT(*) FILTER (WHERE o.status = 'onboarded') AS onboarded,\n        COUNT(*) FILTER (WHERE o.status = 'no_show') AS no_show,\n        0 AS resigned\n      FROM onboardings o\n      WHERE o.status <> 'cancelled'\n      GROUP BY DATE_TRUNC('month', o.expected_date)\n      UNION ALL\n      SELECT\n        TO_CHAR(DATE_TRUNC('month', r.last_day), 'YYYY-MM') AS month,\n        0 AS onboarded,\n        0 AS no_show,\n        COUNT(*) FILTER (WHERE r.status <> 'cancelled') AS resigned\n      FROM resignations r\n      WHERE r.status <> 'cancelled'\n      GROUP BY DATE_TRUNC('month', r.last_day)\n    ) m\n  ), '[]'::json),\n\n  'todayActivity', (\n    SELECT json_build_object(\n      'totalMails', COUNT(*)::int,\n      'inserted', SUM(CASE WHEN action = 'inserted' THEN 1 ELSE 0 END)::int,\n      'skipped', SUM(CASE WHEN action = 'skipped' THEN 1 ELSE 0 END)::int,\n      'errors', SUM(CASE WHEN action = 'error' THEN 1 ELSE 0 END)::int,\n      'recommended', SUM(CASE WHEN action = 'inserted' AND email_subject ~ '履歷推薦' THEN 1 ELSE 0 END)::int,\n      'interviewsArranged', SUM(CASE WHEN action = 'inserted' AND email_subject ~ '(面試時間|面試邀約|安排面試|現場面試時間)' THEN 1 ELSE 0 END)::int,\n      'recommendList', COALESCE((\n        SELECT json_agg(json_build_object(\n          'name', c.name,\n          'pos', c.applied_position,\n          'dept', c.department,\n          'rcvTime', TO_CHAR(el.received_at AT TIME ZONE 'Asia/Taipei', 'HH24:MI')\n        ) ORDER BY el.received_at)\n        FROM email_logs el\n        JOIN candidates c ON c.id = el.candidate_id\n        WHERE el.received_at >= (DATE_TRUNC('day', NOW() AT TIME ZONE 'Asia/Taipei') AT TIME ZONE 'Asia/Taipei')\n          AND el.received_at < (DATE_TRUNC('day', NOW() AT TIME ZONE 'Asia/Taipei') AT TIME ZONE 'Asia/Taipei' + INTERVAL '1 day')\n          AND el.action = 'inserted'\n          AND el.email_subject ~ '履歷推薦'\n      ), '[]'::json),\n      'interviewList', COALESCE((\n        SELECT json_agg(json_build_object(\n          'name', c.name,\n          'pos', c.applied_position,\n          'dept', c.department,\n          'intDate', TO_CHAR(ni.normalized_interview_date, 'MM/DD'),\n          'intTime', COALESCE(ni.interview_time, ''),\n          'rcvTime', TO_CHAR(el.received_at AT TIME ZONE 'Asia/Taipei', 'HH24:MI')\n        ) ORDER BY el.received_at)\n        FROM email_logs el\n        JOIN candidates c ON c.id = el.candidate_id\n        LEFT JOIN normalized_interviews ni ON ni.email_msg_id = el.email_msg_id\n        WHERE el.received_at >= (DATE_TRUNC('day', NOW() AT TIME ZONE 'Asia/Taipei') AT TIME ZONE 'Asia/Taipei')\n          AND el.received_at < (DATE_TRUNC('day', NOW() AT TIME ZONE 'Asia/Taipei') AT TIME ZONE 'Asia/Taipei' + INTERVAL '1 day')\n          AND el.action = 'inserted'\n          AND el.email_subject ~ '(面試時間|面試邀約|安排面試|現場面試時間)'\n      ), '[]'::json)\n    )\n    FROM email_logs\n    WHERE received_at >= (DATE_TRUNC('day', NOW() AT TIME ZONE 'Asia/Taipei') AT TIME ZONE 'Asia/Taipei')\n      AND received_at < (DATE_TRUNC('day', NOW() AT TIME ZONE 'Asia/Taipei') AT TIME ZONE 'Asia/Taipei' + INTERVAL '1 day')\n  ),\n\n  'stats', json_build_object(\n    'activeCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.derived_status IN ('pending_review', 'approved_to_invite', 'interviewing')\n    ),\n    'offerCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.derived_status = 'offer'\n    ),\n    'pendingOnboard', (\n      SELECT COUNT(*)\n      FROM onboardings\n      WHERE status = 'pending'\n        AND expected_date BETWEEN CURRENT_DATE AND CURRENT_DATE + 30\n    ),\n    'pendingResign', (\n      SELECT COUNT(*)\n      FROM resignations\n      WHERE status IN ('active', 'pending')\n        AND last_day BETWEEN CURRENT_DATE AND CURRENT_DATE + 30\n    ),\n    'monthOnboard', (\n      SELECT COUNT(*)\n      FROM onboardings\n      WHERE expected_date >= DATE_TRUNC('month', CURRENT_DATE)\n        AND status = 'onboarded'\n    ),\n    'monthResign', (\n      SELECT COUNT(*)\n      FROM resignations\n      WHERE last_day >= DATE_TRUNC('month', CURRENT_DATE)\n        AND status = 'done'\n    ),\n    'hireRate', COALESCE((\n      SELECT ROUND(\n        100.0 * COUNT(DISTINCT CASE WHEN c.status IN ('hired', '錄取') THEN c.id END)\n        / NULLIF(COUNT(DISTINCT c.id), 0), 0\n      )\n      FROM candidates c\n      JOIN normalized_interviews i ON i.candidate_id = c.id\n      WHERE i.normalized_interview_date >= DATE_TRUNC('month', CURRENT_DATE)\n    ), 0),\n    'pendingReviewCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.derived_status = 'pending_review'\n        AND COALESCE(c.latest_signal_at, c.created_at) >= CURRENT_DATE - INTERVAL '14 days'\n    ),\n    'pendingReviewOverdueCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.derived_status = 'pending_review'\n        AND COALESCE(c.latest_signal_at, c.created_at) >= CURRENT_DATE - INTERVAL '14 days'\n        AND COALESCE(c.latest_signal_at, c.created_at) < CURRENT_DATE - INTERVAL '2 days'\n    ),\n    'pendingScheduledReviewCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.status = 'pending_review'\n        AND c.has_upcoming_interview\n    ),\n    'pendingInviteOpenCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.derived_status = 'approved_to_invite'\n        AND COALESCE(c.latest_signal_at, c.created_at) >= CURRENT_DATE - INTERVAL '14 days'\n    ),\n    'pendingInviteOverdueCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.derived_status = 'approved_to_invite'\n        AND COALESCE(c.latest_signal_at, c.created_at) >= CURRENT_DATE - INTERVAL '14 days'\n        AND COALESCE(c.latest_signal_at, c.created_at) < CURRENT_DATE - INTERVAL '3 days'\n    ),\n    'unmappedCandidateCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.job_requisition_id IS NULL\n    ),\n    'avgDaysToOffer', COALESCE((\n      SELECT ROUND(AVG(days_to_offer)::numeric, 1)\n      FROM offers\n      WHERE days_to_offer IS NOT NULL\n    ), 0)\n  )\n) AS data;",
        "options": {}
      },
      "id": "f45aee9a-bcf3-4669-9835-89ade10ee311",
      "name": "PG：查詢所有儀表板資料",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        448,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "NGdDfE2F1YFXGcmn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $input.item.json;\nconst data = raw.data || {};\nreturn { json_response: JSON.stringify(data) };"
      },
      "id": "979d1aa4-28b2-4823-8c7f-ef964cc922a7",
      "name": "Code：格式化回應",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.json_response }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://sp-hr.zeabur.app"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "8266f228-b163-4a12-b388-fd66a6f0d10d",
      "name": "回應 Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ]
    }
  ],
  "connections": {
    "Webhook：Dashboard 請求": {
      "main": [
        [
          {
            "node": "IF：驗證 Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF：驗證 Token": {
      "main": [
        [
          {
            "node": "PG：查詢所有儀表板資料",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "回應 403 Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG：查詢所有儀表板資料": {
      "main": [
        [
          {
            "node": "Code：格式化回應",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code：格式化回應": {
      "main": [
        [
          {
            "node": "回應 Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {},
  "meta": null,
  "pinData": {},
  "versionId": "bd0684c8-6b0e-4637-8fb5-9de1bef2fff9",
  "activeVersionId": "bd0684c8-6b0e-4637-8fb5-9de1bef2fff9",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-21T08:03:05.655Z",
      "createdAt": "2026-05-21T08:03:05.655Z",
      "role": "workflow:owner",
      "workflowId": "x4Olor5YtMfthzWp",
      "projectId": "NvjFEev0823h2STF",
      "project": {
        "updatedAt": "2026-05-15T07:57:49.399Z",
        "createdAt": "2026-05-15T07:52:05.149Z",
        "id": "NvjFEev0823h2STF",
        "name": "Huang yu-Wei <pkpk70532@yahoo.com.tw>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8daad596-e268-45a9-8bb8-f1065a906fc6"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-15T10:18:59.545Z",
      "createdAt": "2026-05-15T10:18:59.545Z",
      "id": "yP9PPTGVL9VqZ3jM",
      "name": "HR"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-07-03T03:10:42.250Z",
    "createdAt": "2026-07-03T03:10:42.250Z",
    "versionId": "bd0684c8-6b0e-4637-8fb5-9de1bef2fff9",
    "workflowId": "x4Olor5YtMfthzWp",
    "nodes": [
      {
        "parameters": {
          "path": "hr-dashboard",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "6cc85e54-156a-4e80-92c6-80c7d1c44747",
        "name": "Webhook：Dashboard 請求",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "hr-dashboard-data"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "token-check",
                "leftValue": "={{ $json.headers.authorization }}",
                "rightValue": "={{ 'Bearer ' + $env.N8N_HR_TOKEN }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "59968481-3a7e-4071-8d93-b810b14ff189",
        "name": "IF：驗證 Token",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "{\"error\":\"Unauthorized\"}",
          "options": {
            "responseCode": 403,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json; charset=utf-8"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "https://sp-hr.zeabur.app"
                }
              ]
            }
          }
        },
        "id": "36f1434a-e560-43fa-a9d6-4cc65f757951",
        "name": "回應 403 Unauthorized",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          448,
          192
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "ALTER TABLE candidates\nADD COLUMN IF NOT EXISTS job_requisition_id INTEGER REFERENCES job_requisitions(id) ON DELETE SET NULL;\n\nCREATE INDEX IF NOT EXISTS idx_candidates_job_requisition\nON candidates(job_requisition_id);\n\nWITH candidate_enriched AS (\n  SELECT\n    c.id,\n    c.name,\n    c.applied_position,\n    c.department,\n    c.job_requisition_id,\n    c.status,\n    c.source,\n    c.created_at,\n    c.updated_at,\n    c.notes,\n    (COALESCE(c.notes, '') LIKE '%[SYS_STAGE:approved_to_invite%') AS has_invite_marker,\n    NULLIF(SUBSTRING(COALESCE(c.notes, '') FROM '\\\\|HR:([^\\\\]]*)\\\\]'), '') AS marker_hr,\n    NULLIF(\n      TRIM(BOTH ' ' FROM REGEXP_REPLACE(COALESCE(c.notes, ''), '\\\\s*\\\\[SYS_STAGE:[^\\\\]]+\\\\]', '', 'g')),\n      ''\n    ) AS clean_note\n  FROM candidates c\n),\nnormalized_interviews AS (\n  SELECT\n    i.*,\n    CASE\n      WHEN i.interview_date IS NULL THEN NULL\n      WHEN EXTRACT(YEAR FROM i.interview_date)::INT >= EXTRACT(YEAR FROM COALESCE(e.received_at, c.created_at, NOW()))::INT - 1\n        THEN i.interview_date\n      ELSE make_date(\n        EXTRACT(YEAR FROM COALESCE(e.received_at, c.created_at, NOW()))::INT,\n        EXTRACT(MONTH FROM i.interview_date)::INT,\n        EXTRACT(DAY FROM i.interview_date)::INT\n      )\n    END AS normalized_interview_date\n  FROM interviews i\n  LEFT JOIN candidates c ON c.id = i.candidate_id\n  LEFT JOIN email_logs e ON e.email_msg_id = i.email_msg_id\n),\ninterview_flags AS (\n  SELECT\n    i.candidate_id,\n    MAX(i.normalized_interview_date) FILTER (\n      WHERE i.normalized_interview_date IS NOT NULL\n        AND COALESCE(i.status, '') <> 'cancelled'\n    ) AS latest_interview_date,\n    (ARRAY_AGG(i.hr_owner ORDER BY i.normalized_interview_date DESC NULLS LAST, i.id DESC) FILTER (\n      WHERE COALESCE(i.hr_owner, '') <> ''\n        AND COALESCE(i.status, '') <> 'cancelled'\n    ))[1] AS latest_hr_owner,\n    (ARRAY_AGG(i.email_web_link ORDER BY i.normalized_interview_date DESC NULLS LAST, i.id DESC) FILTER (\n      WHERE COALESCE(i.email_web_link, '') <> ''\n        AND COALESCE(i.status, '') <> 'cancelled'\n    ))[1] AS latest_email_link,\n    BOOL_OR(\n      i.normalized_interview_date IS NOT NULL\n      AND COALESCE(i.status, '') <> 'cancelled'\n    ) AS has_active_interview,\n    BOOL_OR(\n      i.normalized_interview_date IS NOT NULL\n      AND i.normalized_interview_date >= CURRENT_DATE\n      AND COALESCE(i.status, '') <> 'cancelled'\n    ) AS has_upcoming_interview\n  FROM normalized_interviews i\n  GROUP BY i.candidate_id\n),\nemail_activity AS (\n  SELECT\n    e.candidate_id,\n    MAX(e.received_at) FILTER (\n      WHERE e.received_at IS NOT NULL\n    ) AS latest_email_received_at,\n    MIN(e.received_at) FILTER (\n      WHERE e.received_at IS NOT NULL\n    ) AS first_email_received_at,\n    (ARRAY_AGG(e.email_subject ORDER BY e.received_at DESC NULLS LAST, e.id DESC) FILTER (\n      WHERE COALESCE(e.email_subject, '') <> ''\n    ))[1] AS latest_email_subject,\n    (ARRAY_AGG(e.sender ORDER BY e.received_at DESC NULLS LAST, e.id DESC) FILTER (\n      WHERE COALESCE(e.sender, '') <> ''\n    ))[1] AS latest_email_sender,\n    (ARRAY_AGG(regexp_replace(e.email_msg_id, '#[0-9]+$', '') ORDER BY e.received_at ASC NULLS LAST, e.id ASC) FILTER (\n      WHERE COALESCE(e.email_subject, '') ~ '履歷推薦'\n        AND COALESCE(e.email_msg_id, '') <> ''\n    ))[1] AS recommend_email_msg_id,\n    (ARRAY_AGG(e.email_subject ORDER BY e.received_at ASC NULLS LAST, e.id ASC) FILTER (\n      WHERE COALESCE(e.email_subject, '') ~ '履歷推薦'\n        AND COALESCE(e.email_subject, '') <> ''\n    ))[1] AS recommend_email_subject,\n    MIN(e.received_at) FILTER (\n      WHERE COALESCE(e.email_subject, '') ~ '履歷推薦'\n        AND e.received_at IS NOT NULL\n    ) AS recommend_email_received_at,\n    BOOL_OR(\n      COALESCE(e.email_subject, '') ~ '(面試時間|面試安排|面試邀約|更新面試時間|最新面試時間|安排面試|安排於|安排在|訂於)'\n    ) AS has_schedule_subject,\n    BOOL_OR(\n      COALESCE(e.email_subject, '') ~* '^(RE|FW|FWD)\\s*:'\n    ) AS has_reply_thread_subject,\n    BOOL_OR(\n      COALESCE(e.email_subject, '') ~ '履歷推薦'\n    ) AS has_recommend_subject\n  FROM email_logs e\n  WHERE e.candidate_id IS NOT NULL\n  GROUP BY e.candidate_id\n),\ncandidate_state AS (\n  SELECT\n    c.*,\n    COALESCE(f.latest_interview_date, NULL) AS latest_interview_date,\n    COALESCE(f.latest_hr_owner, '') AS latest_hr_owner,\n    COALESCE(f.latest_email_link, '') AS latest_email_link,\n    COALESCE(f.has_active_interview, FALSE) AS has_active_interview,\n    COALESCE(f.has_upcoming_interview, FALSE) AS has_upcoming_interview,\n    a.latest_email_received_at,\n    a.first_email_received_at,\n    COALESCE(a.latest_email_subject, '') AS latest_email_subject,\n    COALESCE(a.latest_email_sender, '') AS latest_email_sender,\n    COALESCE(a.recommend_email_msg_id, '') AS recommend_email_msg_id,\n    COALESCE(a.recommend_email_subject, '') AS recommend_email_subject,\n    a.recommend_email_received_at,\n    COALESCE(a.has_schedule_subject, FALSE) AS has_schedule_subject,\n    COALESCE(a.has_reply_thread_subject, FALSE) AS has_reply_thread_subject,\n    COALESCE(a.has_recommend_subject, FALSE) AS has_recommend_subject,\n    GREATEST(\n      COALESCE(a.latest_email_received_at, '-infinity'::timestamptz),\n      COALESCE(f.latest_interview_date::timestamptz, '-infinity'::timestamptz),\n      COALESCE(c.created_at, '-infinity'::timestamptz)\n    ) AS latest_signal_at,\n    COALESCE(\n      a.first_email_received_at,\n      c.created_at\n    ) AS first_signal_at,\n    CASE\n      WHEN c.status = 'hired' THEN 'offer'\n      WHEN c.status IN ('rejected', 'withdrawn') THEN 'withdrawn'\n      WHEN c.status LIKE '%錄取%' THEN 'offer'\n      WHEN c.status LIKE '%到職%' THEN 'onboarded'\n      WHEN COALESCE(f.has_active_interview, FALSE) OR COALESCE(a.has_schedule_subject, FALSE) THEN 'interviewing'\n      WHEN c.status = 'approved_to_invite' THEN 'interviewing'\n      WHEN c.status = 'pending_review'\n        AND (\n          c.has_invite_marker\n          OR (\n            COALESCE(a.has_reply_thread_subject, FALSE)\n            AND COALESCE(a.has_recommend_subject, FALSE)\n          )\n        )\n        THEN 'interviewing'\n      WHEN c.status = 'pending_review' THEN 'pending_review'\n      ELSE 'interviewing'\n    END AS derived_status\n  FROM candidate_enriched c\n  LEFT JOIN interview_flags f ON f.candidate_id = c.id\n  LEFT JOIN email_activity a ON a.candidate_id = c.id\n)\nSELECT json_build_object(\n  'today', TO_CHAR(CURRENT_DATE, 'YYYY-MM-DD'),\n  'generatedAt', TO_CHAR(NOW(), 'YYYY-MM-DD\"T\"HH24:MI:SS'),\n\n  'schedEvents', COALESCE((\n    SELECT json_agg(e ORDER BY (e->>'date'), (e->>'time'), (e->>'name'))\n    FROM (\n      SELECT json_build_object(\n        'type', 'interview',\n        'name', c.name,\n        'pos', c.applied_position,\n        'dept', c.department,\n        'jobRequisitionId', c.job_requisition_id,\n        'date', TO_CHAR(i.normalized_interview_date, 'YYYY-MM-DD'),\n        'time', COALESCE(i.interview_time, ''),\n        'hr', COALESCE(i.hr_owner, ''),\n        'round', COALESCE(i.round, 1),\n        'note', COALESCE(i.notes, ''),\n        'emailLink', COALESCE(i.email_web_link, '')\n      ) AS e\n      FROM (\n        SELECT DISTINCT ON (i.candidate_id, i.normalized_interview_date, COALESCE(i.round, 1))\n          i.*\n        FROM normalized_interviews i\n        WHERE i.normalized_interview_date IS NOT NULL\n          AND i.normalized_interview_date >= CURRENT_DATE - 14\n          AND i.normalized_interview_date <= CURRENT_DATE + 45\n          AND COALESCE(i.status, '') <> 'cancelled'\n        ORDER BY i.candidate_id, i.normalized_interview_date, COALESCE(i.round, 1), i.id DESC\n      ) i\n      JOIN candidates c ON c.id = i.candidate_id\n      UNION ALL\n      SELECT json_build_object(\n        'type', 'onboard',\n        'name', o.name,\n        'pos', o.position,\n        'dept', o.department,\n        'date', TO_CHAR(o.expected_date, 'YYYY-MM-DD'),\n        'time', '09:00',\n        'hr', COALESCE(o.hr_owner, ''),\n        'round', 0,\n        'note', '',\n        'emailLink', COALESCE(o.email_web_link, '')\n      ) AS e\n      FROM onboardings o\n      WHERE o.expected_date IS NOT NULL\n        AND o.status <> 'cancelled'\n        AND o.expected_date >= CURRENT_DATE - 7\n        AND o.expected_date <= CURRENT_DATE + 60\n      UNION ALL\n      SELECT json_build_object(\n        'type', 'resign',\n        'name', r.name,\n        'pos', r.position,\n        'dept', r.department,\n        'date', TO_CHAR(r.last_day, 'YYYY-MM-DD'),\n        'time', '',\n        'hr', COALESCE(r.hr_owner, ''),\n        'round', 0,\n        'note', COALESCE(r.reason, ''),\n        'emailLink', COALESCE(r.email_web_link, '')\n      ) AS e\n      FROM resignations r\n      WHERE r.last_day IS NOT NULL\n        AND r.status <> 'cancelled'\n        AND r.last_day >= CURRENT_DATE - 7\n        AND r.last_day <= CURRENT_DATE + 60\n    ) ev\n  ), '[]'::json),\n\n  'onboardData', COALESCE((\n    SELECT json_agg(json_build_object(\n      'id', o.id,\n      'name', o.name,\n      'dept', o.department,\n      'pos', o.position,\n      'date', TO_CHAR(o.expected_date, 'YYYY-MM-DD'),\n      'hr', COALESCE(o.hr_owner, ''),\n      'status', CASE WHEN o.status = 'onboarded' THEN 'onboarded' ELSE CASE WHEN o.status = 'no_show' THEN 'no_show' ELSE 'pending' END END,\n      'emailLink', COALESCE(o.email_web_link, '')\n    ) ORDER BY o.expected_date DESC, o.name)\n    FROM onboardings o\n    WHERE o.status <> 'cancelled'\n      AND o.expected_date >= CURRENT_DATE - 60\n  ), '[]'::json),\n\n  'resignData', COALESCE((\n    SELECT json_agg(json_build_object(\n      'name', r.name,\n      'dept', r.department,\n      'pos', r.position,\n      'lastDay', TO_CHAR(r.last_day, 'YYYY-MM-DD'),\n      'hr', COALESCE(r.hr_owner, ''),\n      'reason', COALESCE(r.reason, ''),\n      'status', r.status,\n      'emailLink', COALESCE(r.email_web_link, '')\n    ) ORDER BY r.last_day DESC, r.name)\n    FROM resignations r\n    WHERE r.status <> 'cancelled'\n      AND r.last_day >= CURRENT_DATE - 60\n  ), '[]'::json),\n\n  'candidatesData', COALESCE((\n    SELECT json_agg(json_build_object(\n      'name', c.name,\n      'pos', c.applied_position,\n      'dept', c.department,\n      'jobRequisitionId', c.job_requisition_id,\n      'date', COALESCE(TO_CHAR(c.latest_interview_date, 'YYYY-MM-DD'), ''),\n      'latestDate', TO_CHAR(COALESCE(c.latest_signal_at, c.created_at), 'YYYY-MM-DD'),\n      'firstSignalAt', TO_CHAR(c.first_signal_at, 'YYYY-MM-DD'),\n      'status', c.derived_status,\n      'onboard', NULL,\n      'hr', COALESCE(c.latest_hr_owner, c.marker_hr, ''),\n      'note', COALESCE(c.clean_note, ''),\n      'source', COALESCE(c.source, ''),\n      'latestEmailSubject', COALESCE(c.latest_email_subject, ''),\n      'recommendEmailMsgId', COALESCE(c.recommend_email_msg_id, ''),\n      'recommendEmailSubject', COALESCE(c.recommend_email_subject, ''),\n      'recommendEmailReceivedAt', COALESCE(TO_CHAR(c.recommend_email_received_at AT TIME ZONE 'Asia/Taipei', 'YYYY-MM-DD\"T\"HH24:MI:SS'), ''),\n      'emailLink', COALESCE(c.latest_email_link, ''),\n      'resumeLink', COALESCE((\n        SELECT MAX(o.resume_link)\n        FROM onboardings o\n        WHERE (o.candidate_id = c.id OR o.name = c.name)\n          AND o.resume_link IS NOT NULL\n      ), ''),\n      'history', COALESCE((\n        SELECT json_agg(json_build_object(\n          'date', TO_CHAR(ih.normalized_interview_date, 'YYYY-MM-DD'),\n          'type', 'interview',\n          'title', CONCAT('第', ih.round, '輪面試 - ', COALESCE(ih.status, '')),\n          'note', COALESCE(ih.notes, ''),\n          'color', CASE ih.result\n            WHEN 'passed' THEN 'green'\n            WHEN 'failed' THEN 'pink'\n            ELSE 'blue'\n          END\n        ) ORDER BY ih.normalized_interview_date, ih.round, ih.id)\n        FROM normalized_interviews ih\n        WHERE ih.candidate_id = c.id\n          AND ih.normalized_interview_date IS NOT NULL\n      ), '[]'::json)\n    ) ORDER BY COALESCE(c.latest_signal_at, c.created_at) DESC, c.name)\n    FROM candidate_state c\n  ), '[]'::json),\n\n  'unmappedCandidates', COALESCE((\n    SELECT json_agg(json_build_object(\n      'name', c.name,\n      'pos', c.applied_position,\n      'dept', c.department,\n      'jobRequisitionId', c.job_requisition_id,\n      'latestDate', TO_CHAR(COALESCE(c.latest_signal_at, c.created_at), 'YYYY-MM-DD'),\n      'status', c.derived_status,\n      'hr', COALESCE(c.latest_hr_owner, c.marker_hr, ''),\n      'note', COALESCE(c.clean_note, ''),\n      'source', COALESCE(c.source, ''),\n      'latestEmailSubject', COALESCE(c.latest_email_subject, ''),\n      'recommendEmailMsgId', COALESCE(c.recommend_email_msg_id, ''),\n      'recommendEmailSubject', COALESCE(c.recommend_email_subject, ''),\n      'recommendEmailReceivedAt', COALESCE(TO_CHAR(c.recommend_email_received_at AT TIME ZONE 'Asia/Taipei', 'YYYY-MM-DD\"T\"HH24:MI:SS'), ''),\n      'emailLink', COALESCE(c.latest_email_link, '')\n    ) ORDER BY COALESCE(c.latest_signal_at, c.created_at) DESC, c.name)\n    FROM candidate_state c\n    WHERE c.job_requisition_id IS NULL\n  ), '[]'::json),\n\n  'jobsData', COALESCE((\n    SELECT json_agg(json_build_object(\n      'id', j.id,\n      'pos', j.position_title,\n      'dept', j.department,\n      'open', TO_CHAR(j.open_date, 'YYYY-MM-DD'),\n      'target', TO_CHAR(j.target_date, 'YYYY-MM-DD'),\n      'headcount', COALESCE(j.headcount, 1),\n      'filled', COALESCE(j.filled_count, 0),\n      'cands', COALESCE(x.cands, 0),\n      'hired', COALESCE(x.hired, 0),\n      'urgency', COALESCE(j.urgency, 3),\n      'status', j.status,\n      'note', COALESCE(j.notes, '')\n    ) ORDER BY COALESCE(j.urgency, 3) DESC, j.open_date NULLS LAST, j.position_title)\n    FROM job_requisitions j\n    LEFT JOIN LATERAL (\n      SELECT\n        COUNT(*) AS cands,\n        COUNT(*) FILTER (WHERE c.status IN ('hired')) AS hired\n      FROM candidates c\n      WHERE c.job_requisition_id = j.id\n         OR (\n           c.job_requisition_id IS NULL\n           AND c.department = j.department\n           AND c.applied_position = j.position_title\n         )\n    ) x ON TRUE\n  ), '[]'::json),\n\n  'monthlyTrend', COALESCE((\n    SELECT json_agg(json_build_object(\n      'month', t.month,\n      'interviews', t.interviews,\n      'offers', t.offers,\n      'onboarded', t.onboarded\n    ) ORDER BY t.month)\n    FROM (\n      SELECT\n        month,\n        SUM(interview_count) AS interviews,\n        SUM(offer_count) AS offers,\n        SUM(onboard_count) AS onboarded\n      FROM (\n        SELECT\n          TO_CHAR(DATE_TRUNC('month', i.normalized_interview_date), 'YYYY-MM') AS month,\n          COUNT(*) AS interview_count,\n          COUNT(CASE WHEN c.status IN ('hired', '錄取') THEN 1 END) AS offer_count,\n          0 AS onboard_count\n        FROM normalized_interviews i\n        JOIN candidates c ON c.id = i.candidate_id\n        WHERE i.normalized_interview_date >= CURRENT_DATE - INTERVAL '6 months'\n        GROUP BY DATE_TRUNC('month', i.normalized_interview_date)\n        UNION ALL\n        SELECT\n          TO_CHAR(DATE_TRUNC('month', o.expected_date), 'YYYY-MM') AS month,\n          0 AS interview_count,\n          0 AS offer_count,\n          COUNT(*) AS onboard_count\n        FROM onboardings o\n        WHERE o.expected_date >= CURRENT_DATE - INTERVAL '6 months'\n          AND o.status <> 'cancelled'\n        GROUP BY DATE_TRUNC('month', o.expected_date)\n      ) combined\n      GROUP BY month\n      ORDER BY month\n      LIMIT 6\n    ) t\n  ), '[]'::json),\n\n  'departmentStats', COALESCE((\n    SELECT json_agg(json_build_object(\n      'dept', d.department,\n      'candidates', d.total_candidates,\n      'hired', d.hired_count,\n      'avgDaysToOffer', d.avg_days_to_offer\n    ) ORDER BY d.total_candidates DESC, d.department)\n    FROM (\n      SELECT\n        c.department,\n        COUNT(DISTINCT c.id) AS total_candidates,\n        COUNT(DISTINCT CASE WHEN c.status IN ('hired') THEN c.id END) AS hired_count,\n        ROUND(AVG(o.days_to_offer)::numeric, 1) AS avg_days_to_offer\n      FROM candidates c\n      LEFT JOIN offers o ON o.candidate_id = c.id AND o.days_to_offer IS NOT NULL\n      GROUP BY c.department\n    ) d\n  ), '[]'::json),\n\n  'stats', json_build_object(\n    'activeCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.derived_status IN ('pending_review', 'approved_to_invite', 'interviewing')\n    ),\n    'offerCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.derived_status = 'offer'\n    ),\n    'pendingOnboard', (\n      SELECT COUNT(*)\n      FROM onboardings\n      WHERE status = 'pending'\n        AND expected_date BETWEEN CURRENT_DATE AND CURRENT_DATE + 30\n    ),\n    'pendingResign', (\n      SELECT COUNT(*)\n      FROM resignations\n      WHERE status IN ('active', 'pending')\n        AND last_day BETWEEN CURRENT_DATE AND CURRENT_DATE + 30\n    ),\n    'monthOnboard', (\n      SELECT COUNT(*)\n      FROM onboardings\n      WHERE expected_date >= DATE_TRUNC('month', CURRENT_DATE)\n        AND status = 'onboarded'\n    ),\n    'monthResign', (\n      SELECT COUNT(*)\n      FROM resignations\n      WHERE last_day >= DATE_TRUNC('month', CURRENT_DATE)\n        AND status = 'done'\n    ),\n    'hireRate', COALESCE((\n      SELECT ROUND(\n        100.0 * COUNT(DISTINCT CASE WHEN c.status IN ('hired', '錄取') THEN c.id END)\n        / NULLIF(COUNT(DISTINCT c.id), 0), 0\n      )\n      FROM candidates c\n      JOIN normalized_interviews i ON i.candidate_id = c.id\n      WHERE i.normalized_interview_date >= DATE_TRUNC('month', CURRENT_DATE)\n    ), 0),\n    'pendingReviewCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.derived_status = 'pending_review'\n        AND COALESCE(c.latest_signal_at, c.created_at) >= CURRENT_DATE - INTERVAL '14 days'\n    ),\n    'pendingReviewOverdueCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.derived_status = 'pending_review'\n        AND COALESCE(c.latest_signal_at, c.created_at) >= CURRENT_DATE - INTERVAL '14 days'\n        AND COALESCE(c.latest_signal_at, c.created_at) < CURRENT_DATE - INTERVAL '2 days'\n    ),\n    'pendingScheduledReviewCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.status = 'pending_review'\n        AND c.has_upcoming_interview\n    ),\n    'pendingInviteOpenCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.derived_status = 'approved_to_invite'\n        AND COALESCE(c.latest_signal_at, c.created_at) >= CURRENT_DATE - INTERVAL '14 days'\n    ),\n    'pendingInviteOverdueCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.derived_status = 'approved_to_invite'\n        AND COALESCE(c.latest_signal_at, c.created_at) >= CURRENT_DATE - INTERVAL '14 days'\n        AND COALESCE(c.latest_signal_at, c.created_at) < CURRENT_DATE - INTERVAL '3 days'\n    ),\n    'unmappedCandidateCount', (\n      SELECT COUNT(*)\n      FROM candidate_state c\n      WHERE c.job_requisition_id IS NULL\n    ),\n    'avgDaysToOffer', COALESCE((\n      SELECT ROUND(AVG(days_to_offer)::numeric, 1)\n      FROM offers\n      WHERE days_to_offer IS NOT NULL\n    ), 0)\n  )\n) AS data;",
          "options": {}
        },
        "id": "f45aee9a-bcf3-4669-9835-89ade10ee311",
        "name": "PG：查詢所有儀表板資料",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          448,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "NGdDfE2F1YFXGcmn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const raw = $input.item.json;\nconst data = raw.data || {};\nreturn { json_response: JSON.stringify(data) };"
        },
        "id": "979d1aa4-28b2-4823-8c7f-ef964cc922a7",
        "name": "Code：格式化回應",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $json.json_response }}",
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json; charset=utf-8"
                },
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "https://sp-hr.zeabur.app"
                },
                {
                  "name": "Access-Control-Allow-Methods",
                  "value": "GET, OPTIONS"
                },
                {
                  "name": "Access-Control-Allow-Headers",
                  "value": "Content-Type"
                }
              ]
            }
          }
        },
        "id": "8266f228-b163-4a12-b388-fd66a6f0d10d",
        "name": "回應 Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          880,
          0
        ]
      }
    ],
    "connections": {
      "Webhook：Dashboard 請求": {
        "main": [
          [
            {
              "node": "IF：驗證 Token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF：驗證 Token": {
        "main": [
          [
            {
              "node": "PG：查詢所有儀表板資料",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "回應 403 Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG：查詢所有儀表板資料": {
        "main": [
          [
            {
              "node": "Code：格式化回應",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code：格式化回應": {
        "main": [
          [
            {
              "node": "回應 Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Huang yu-Wei",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-03T03:10:42.274Z",
        "id": 259,
        "workflowId": "x4Olor5YtMfthzWp",
        "versionId": "bd0684c8-6b0e-4637-8fb5-9de1bef2fff9",
        "event": "deactivated",
        "userId": "8daad596-e268-45a9-8bb8-f1065a906fc6"
      },
      {
        "createdAt": "2026-07-03T03:10:42.287Z",
        "id": 260,
        "workflowId": "x4Olor5YtMfthzWp",
        "versionId": "bd0684c8-6b0e-4637-8fb5-9de1bef2fff9",
        "event": "activated",
        "userId": "8daad596-e268-45a9-8bb8-f1065a906fc6"
      }
    ]
  }
}
