n8n/live_Workflow1_面試解析.json
{
  "updatedAt": "2026-06-22T10:23:26.236Z",
  "createdAt": "2026-05-15T10:08:31.212Z",
  "id": "pqnpr72wTiOE2m8I",
  "name": "HR Workflow 1：面試信件解析",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO email_logs (email_msg_id, email_subject, sender, received_at, action, error_msg)\nVALUES (\n  '{{ $json.email_msg_id }}',\n  '{{ $json.email_subject }}',\n  NULLIF('{{ $json.sender }}', 'null'),\n  NOW(),\n  'skipped',\n  '非面試類信件'\n)\nON CONFLICT (email_msg_id) DO NOTHING;",
        "options": {}
      },
      "id": "eb3a1b5f-0e75-402f-b07c-92498977603e",
      "name": "PG：記錄略過信件",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2048,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "NGdDfE2F1YFXGcmn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nreturn {\n  email_msg_id: item.id,\n  email_subject: item.subject,\n  sender: item.from?.emailAddress?.address || null,\n  received_at: item.receivedDateTime,\n  action: 'skipped',\n  error_msg: '非面試信件略過，略過',\n};"
      },
      "id": "587396cf-8857-46b7-af56-46ebad296a42",
      "name": "Code：非面試信件略過",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO email_logs (\n  email_msg_id, email_subject, sender, received_at, action, candidate_id\n)\nVALUES (\n  '{{ $json.email_msg_id || '' }}',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  NULLIF('{{ $json.sender || '' }}', ''),\n  COALESCE(NULLIF('{{ $json.received_at || '' }}', '')::TIMESTAMPTZ, NOW()),\n  'inserted',\n  {{ $json.candidate_id }}\n)\nON CONFLICT (email_msg_id) DO UPDATE SET\n  action = 'updated',\n  processed_at = NOW();\n\nSELECT \n  '{{ $json.email_msg_id || '' }}' AS email_msg_id,\n  'inserted/updated' AS log_action;",
        "options": {}
      },
      "id": "b6402442-fddf-4724-abd5-59e7044c691d",
      "name": "PG：寫入 email_logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3168,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "NGdDfE2F1YFXGcmn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO interviews (\n  candidate_id, interview_date, interview_time, round,\n  location, hr_owner, status, email_subject, email_msg_id, email_web_link\n)\nSELECT\n  {{ $json.candidate_id }},\n  NULLIF(NULLIF('{{ $json.interview_date || '' }}', ''), 'null')::DATE,\n  NULLIF(NULLIF('{{ $json.interview_time || '' }}', ''), 'null'),\n  {{ $json.round || 1 }},\n  NULLIF(NULLIF('{{ ($json.location || '').replace(/'/g, \"''\") }}', ''), 'null'),\n  NULLIF(NULLIF('{{ ($json.hr_owner || '').replace(/'/g, \"''\") }}', ''), 'null'),\n  '{{ $json.status || '' }}',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  '{{ $json.email_msg_id || '' }}',\n  NULLIF(NULLIF('{{ $json.email_web_link || '' }}', ''), 'null')\nWHERE '{{ $json.intent || '' }}' NOT IN ('update_time', 'cancel', 'recommend', 'request_invite')\n  AND NULLIF(NULLIF('{{ $json.interview_date || '' }}', ''), 'null') IS NOT NULL\nON CONFLICT (email_msg_id) DO UPDATE SET\n  status = EXCLUDED.status;\n\nUPDATE interviews SET\n  interview_date = NULLIF(NULLIF('{{ $json.interview_date || '' }}', ''), 'null')::DATE,\n  interview_time = NULLIF(NULLIF('{{ $json.interview_time || '' }}', ''), 'null')\nWHERE candidate_id = {{ $json.candidate_id }}\n  AND round = {{ $json.round || 1 }}\n  AND '{{ $json.intent || '' }}' = 'update_time'\n  AND NULLIF(NULLIF('{{ $json.interview_date || '' }}', ''), 'null') IS NOT NULL;\n\nUPDATE interviews SET\n  status = 'cancelled'\nWHERE candidate_id = {{ $json.candidate_id }}\n  AND round = {{ $json.round || 1 }}\n  AND '{{ $json.intent || '' }}' = 'cancel';\n\nSELECT\n  {{ $json.candidate_id }} AS candidate_id,\n  '{{ ($json.candidate_name || '').replace(/'/g, \"''\") }}' AS candidate_name,\n  '{{ $json.email_msg_id || '' }}' AS email_msg_id,\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}' AS email_subject,\n  NULLIF('{{ $json.sender || '' }}', 'null') AS sender,\n  '{{ $json.received_at || '' }}' AS received_at,\n  '{{ $json.status || '' }}' AS status;",
        "options": {}
      },
      "id": "5c73b5bf-0b4b-47bc-95b1-a51cbbd1c70d",
      "name": "PG：寫入 interviews",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2944,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "NGdDfE2F1YFXGcmn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "ALTER TABLE candidates\nADD COLUMN IF NOT EXISTS job_requisition_id INTEGER REFERENCES job_requisitions(id) ON DELETE SET NULL;\n\nCREATE INDEX IF NOT EXISTS idx_candidates_job_requisition\nON candidates(job_requisition_id);\n\n\nWITH candidate_input AS (\n  SELECT\n    '{{ ($json.department || '').replace(/'/g, \"''\") }}'::TEXT AS raw_department,\n    '{{ ($json.applied_position || '').replace(/'/g, \"''\") }}'::TEXT AS raw_position,\n    NULLIF('{{ ($json.recipient_top_department_hint || '').replace(/'/g, \"''\") }}', '')::TEXT AS recipient_top_department_hint,\n    NULLIF('{{ $json.preferred_requisition_id || '' }}', '')::INTEGER AS recipient_preferred_requisition_id\n),\ncandidate_norm AS (\n  SELECT\n    raw_department,\n    raw_position,\n    recipient_top_department_hint,\n    COALESCE(\n      recipient_preferred_requisition_id,\n      CASE\n        WHEN lower(raw_position) LIKE '%icc%客服業務%' OR lower(raw_position) LIKE '%icc客服業務%' THEN 19\n        WHEN lower(raw_position) LIKE '%icc%案件專員%' OR lower(raw_position) LIKE '%iccpm%' THEN 5\n        WHEN lower(raw_position) LIKE '%icc%測試工程師%' THEN 1\n        WHEN lower(raw_position) LIKE '%sar測試工程師%' OR lower(raw_position) LIKE '%rfsar%' THEN 23\n        WHEN (\n          lower(raw_position) LIKE '%rf測試工程師%'\n          OR lower(raw_position) LIKE '%emc測試工程師%'\n          OR lower(raw_position) LIKE '%新竹%rf%測試工程師%'\n          OR lower(raw_position) LIKE '%新竹%emc%測試工程師%'\n        ) AND raw_department LIKE '%新竹%' THEN 4\n        WHEN lower(raw_position) LIKE '%rf測試工程師%' AND recipient_top_department_hint = 'WBU' THEN 25\n        WHEN lower(raw_position) LIKE '%rf測試工程師%' AND raw_department LIKE '%新華%' THEN 12\n        WHEN lower(raw_position) LIKE '%五部rfpm%' OR lower(raw_position) LIKE '%rfpm%' THEN 13\n        WHEN lower(raw_position) = 'pm' AND recipient_top_department_hint = 'WBU' THEN 13\n        WHEN raw_position LIKE '%' || U&'MIS\\7DB2\\7BA1\\5DE5\\7A0B\\5E2B' || '%' OR raw_position LIKE '%' || U&'MIS\\7DB2\\7BA1' || '%' THEN 17\n        WHEN lower(raw_position) LIKE '%助理業務/業務%' AND raw_department LIKE '%安規%' THEN 22\n        WHEN lower(raw_position) LIKE '%業務助理(david)%' THEN 8\n        WHEN lower(raw_position) LIKE '%文件專員%' THEN 2\n        ELSE NULL\n      END\n    ) AS preferred_requisition_id,\n    CASE\n      WHEN raw_department IN ('', '未分類', '未知部門', '未知職位', '測試', '人力資源部') THEN NULL\n      ELSE raw_department\n    END AS strong_department,\n    CASE\n      WHEN raw_department IN ('ICC', 'WBU', '新華', '新竹', '安規', '行政') THEN raw_department\n      WHEN raw_department LIKE '%ICC%' THEN 'ICC'\n      WHEN raw_department LIKE '%WBU%' OR raw_department LIKE '%SAR%' OR raw_department LIKE '%RF%' THEN 'WBU'\n      WHEN raw_department LIKE '%新華%' THEN '新華'\n      WHEN raw_department LIKE '%新竹%' THEN '新竹'\n      WHEN raw_department LIKE '%安規%' OR raw_department LIKE '%電池%' THEN '安規'\n      WHEN raw_department LIKE '%董事長室%' OR raw_department LIKE '%財務%' OR raw_department LIKE '%資訊%' OR raw_department LIKE '%MIS%' OR raw_department LIKE '%品管%' OR raw_department LIKE '%行政%' THEN '行政'\n      WHEN raw_position LIKE 'ICC%' THEN 'ICC'\n      WHEN raw_position LIKE 'WBU%' OR raw_position LIKE 'SAR%' OR raw_position LIKE 'RF %' OR raw_position LIKE 'RF%' THEN 'WBU'\n      WHEN raw_position LIKE '新華%' THEN '新華'\n      WHEN raw_position LIKE '新竹%' THEN '新竹'\n      WHEN raw_position LIKE '安規%' OR raw_position LIKE '%電池%' THEN '安規'\n      WHEN raw_position LIKE '%董事長室%' OR raw_position LIKE '%財務%' OR raw_position LIKE '%資訊%' OR raw_position LIKE 'MIS%' OR raw_position LIKE '%品管%' OR raw_position LIKE '%行政%' THEN '行政'\n      ELSE recipient_top_department_hint\n    END AS top_department,\n    lower(regexp_replace(raw_position, '\\s+', '', 'g')) AS pos_norm,\n    lower(regexp_replace(regexp_replace(raw_position, '^(ICC|icc|WBU|新華|新竹|安規|行政)', '', 'g'), '\\s+', '', 'g')) AS pos_core\n  FROM candidate_input\n),\nmatched_requisition AS (\n  SELECT\n    j.id,\n    j.department,\n    j.position_title\n  FROM job_requisitions j\n  CROSS JOIN candidate_norm c\n  WHERE (j.status <> 'cancelled' OR (c.preferred_requisition_id IS NOT NULL AND j.id = c.preferred_requisition_id))\n    AND (\n      (c.preferred_requisition_id IS NOT NULL AND j.id = c.preferred_requisition_id)\n      OR lower(regexp_replace(j.position_title, '\\s+', '', 'g')) = c.pos_norm\n      OR lower(regexp_replace(j.position_title, '\\s+', '', 'g')) = c.pos_core\n      OR c.pos_norm = lower(regexp_replace(split_part(j.department, ' / ', 1) || j.position_title, '\\s+', '', 'g'))\n      OR c.pos_core = lower(regexp_replace(split_part(j.department, ' / ', 1) || j.position_title, '\\s+', '', 'g'))\n      OR (raw_position LIKE '%' || U&'MIS\\7DB2\\7BA1\\5DE5\\7A0B\\5E2B' || '%' AND j.id = 17)\n      OR (raw_position LIKE '%' || U&'MIS\\7DB2\\7BA1' || '%' AND j.id = 17)\n      OR (raw_position LIKE '%' || U&'SAR\\5DE5\\7A0B\\5E2B' || '%' AND j.id = 23)\n      OR (raw_position LIKE '%' || U&'AI\\8EDF\\9AD4\\5DE5\\7A0B\\5E2B' || '%' AND j.id = 27)\n      OR (\n        c.pos_core <> ''\n        AND (\n          lower(regexp_replace(j.position_title, '\\s+', '', 'g')) LIKE '%' || c.pos_core || '%'\n          OR c.pos_core LIKE '%' || lower(regexp_replace(j.position_title, '\\s+', '', 'g')) || '%'\n        )\n      )\n    )\n  ORDER BY\n    CASE\n      WHEN c.preferred_requisition_id IS NOT NULL AND j.id = c.preferred_requisition_id THEN 0\n      WHEN c.strong_department IS NOT NULL AND j.department = c.strong_department THEN 1\n      WHEN c.strong_department IS NOT NULL AND j.department LIKE '%' || c.strong_department || '%' THEN 2\n      WHEN c.top_department IS NOT NULL AND split_part(j.department, ' / ', 1) = c.top_department THEN 3\n      ELSE 4\n    END,\n    CASE\n      WHEN lower(regexp_replace(j.position_title, '\\s+', '', 'g')) = c.pos_norm THEN 0\n      WHEN lower(regexp_replace(j.position_title, '\\s+', '', 'g')) = c.pos_core THEN 1\n      ELSE 2\n    END,\n    j.id\n  LIMIT 1\n),\nresolved AS (\n  SELECT\n    COALESCE((SELECT department FROM matched_requisition), (SELECT raw_department FROM candidate_norm)) AS department,\n    COALESCE((SELECT position_title FROM matched_requisition), (SELECT raw_position FROM candidate_norm)) AS position_title,\n    (SELECT id FROM matched_requisition) AS job_requisition_id\n),\ninserted AS (\n  INSERT INTO candidates (name, applied_position, department, job_requisition_id, source, status, notes)\n  SELECT\n    '{{ ($json.candidate_name || '').replace(/'/g, \"''\") }}',\n    resolved.position_title,\n    resolved.department,\n    resolved.job_requisition_id,\n    'Outlook即時',\n    '{{ $json.db_status || '' }}',\n    NULLIF('{{ ($json.system_stage_note || '').replace(/'/g, \"''\") }}', '')\n  FROM resolved\n  WHERE NOT EXISTS (\n    SELECT 1\n    FROM candidates\n    WHERE name = '{{ ($json.candidate_name || '').replace(/'/g, \"''\") }}'\n  )\n  RETURNING id\n)\nUPDATE candidates\nSET\n  applied_position = CASE\n    WHEN candidates.job_requisition_id IS NULL AND (SELECT job_requisition_id FROM resolved) IS NOT NULL\n      THEN (SELECT position_title FROM resolved)\n    ELSE candidates.applied_position\n  END,\n  department = CASE\n    WHEN candidates.job_requisition_id IS NULL AND (SELECT job_requisition_id FROM resolved) IS NOT NULL\n      THEN (SELECT department FROM resolved)\n    ELSE candidates.department\n  END,\n  job_requisition_id = COALESCE(candidates.job_requisition_id, (SELECT job_requisition_id FROM resolved)),\n  status = '{{ $json.db_status || '' }}',\n  notes = CASE\n    WHEN '{{ ($json.system_stage_note || '').replace(/'/g, \"''\") }}' <> '' THEN\n      TRIM(BOTH ' ' FROM CONCAT(\n        NULLIF(TRIM(BOTH ' ' FROM REGEXP_REPLACE(COALESCE(notes, ''), '\\\\s*\\\\[SYS_STAGE:[^\\\\]]+\\\\]', '', 'g')), ''),\n        CASE\n          WHEN NULLIF(TRIM(BOTH ' ' FROM REGEXP_REPLACE(COALESCE(notes, ''), '\\\\s*\\\\[SYS_STAGE:[^\\\\]]+\\\\]', '', 'g')), '') IS NOT NULL\n            THEN ' '\n          ELSE ''\n        END,\n        '{{ ($json.system_stage_note || '').replace(/'/g, \"''\") }}'\n      ))\n    ELSE NULLIF(TRIM(BOTH ' ' FROM REGEXP_REPLACE(COALESCE(notes, ''), '\\\\s*\\\\[SYS_STAGE:[^\\\\]]+\\\\]', '', 'g')), '')\n  END\nWHERE name = '{{ ($json.candidate_name || '').replace(/'/g, \"''\") }}';\n\nSELECT\n  c.id AS candidate_id,\n  c.job_requisition_id AS job_requisition_id,\n  '{{ ($json.candidate_name || '').replace(/'/g, \"''\") }}' AS candidate_name,\n  '{{ $json.interview_date || '' }}' AS interview_date,\n  '{{ $json.interview_time || '' }}' AS interview_time,\n  {{ $json.round || 1 }} AS round,\n  '{{ ($json.location || '').replace(/'/g, \"''\") }}' AS location,\n  '{{ ($json.hr_owner || '').replace(/'/g, \"''\") }}' AS hr_owner,\n  '{{ $json.interview_status || 'scheduled' }}' AS status,\n  '{{ $json.intent || '' }}' AS intent,\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}' AS email_subject,\n  '{{ $json.email_msg_id || '' }}' AS email_msg_id,\n  '{{ $json.email_web_link || '' }}' AS email_web_link,\n  '{{ $json.sender || '' }}' AS sender,\n  '{{ $json.received_at || '' }}' AS received_at,\n  COALESCE(j.position_title, c.applied_position) AS applied_position,\n  COALESCE(j.department, c.department) AS department\nFROM candidates c\nLEFT JOIN job_requisitions j ON j.id = c.job_requisition_id\nWHERE c.name = '{{ ($json.candidate_name || '').replace(/'/g, \"''\") }}'\nORDER BY c.created_at DESC\nLIMIT 1;",
        "options": {}
      },
      "id": "cba3f36b-e5f5-44fb-afc5-044fb48f95fb",
      "name": "PG：寫入 candidates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2720,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "NGdDfE2F1YFXGcmn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const base = $('Code：萃取基本資訊').item.json;\nlet aiResult = {};\ntry {\n  const raw = $input.item.json.content;\n  const text = Array.isArray(raw) ? (raw[0]?.text || '') : (typeof raw === 'string' ? raw : '');\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) aiResult = JSON.parse(match[0]);\n} catch (error) {}\n\nconst ns = (value) => {\n  if (value === null || value === undefined) return 'null';\n  const text = String(value).trim();\n  if (text === '' || text === 'null' || text === 'undefined') return 'null';\n  return text;\n};\n\nconst subjectText = String(base.email_subject || '');\nconst bodyText = String(base.body_text || '');\nconst combinedText = (subjectText + ' ' + bodyText).replace(/\\s+/g, ' ');\n\nconst extractedDate = ns(base.interview_date || aiResult.interview_date);\nconst extractedTime = ns(base.interview_time || aiResult.interview_time);\nconst hasConcreteSchedule = extractedDate !== 'null' && extractedTime !== 'null' && !base.has_tentative_scheduling;\n\nconst requestInviteCue = /(請.{0,12}(安排|邀約).{0,6}面試|請幫忙安排面試|請協助安排面試|請通知面試|請評估|可安排面試)/u.test(combinedText);\nconst confirmedScheduleCue = /(已安排.{0,12}面試|面試時間|面試邀約|安排於|安排在|訂於|scheduled|schedule confirmed)/iu.test(combinedText);\nconst rescheduleCue = /(更新面試時間|最新面試時間|更改面試時間|改期|延期|延後|改為)/u.test(combinedText);\nconst cancelCue = /(取消面試|不安排面試|不考慮|婉拒|取消流程)/u.test(combinedText);\n\nlet intent = aiResult.intent || 'recommend';\nif (cancelCue) {\n  intent = 'cancel';\n} else if (hasConcreteSchedule && rescheduleCue) {\n  intent = 'update_time';\n} else if (hasConcreteSchedule && confirmedScheduleCue) {\n  intent = 'schedule';\n} else if (requestInviteCue && !hasConcreteSchedule) {\n  intent = 'request_invite';\n}\n\nconst candidateStatus = intent === 'cancel'\n  ? 'withdrawn'\n  : (intent === 'request_invite'\n      ? 'approved_to_invite'\n      : (['recommend', 'other'].includes(intent) ? 'pending_review' : 'in_progress'));\nconst dbStatus = candidateStatus === 'approved_to_invite' ? 'pending_review' : candidateStatus;\nconst hrOwner = ns(aiResult.hr_owner);\nconst systemStageNote = candidateStatus === 'approved_to_invite'\n  ? '[SYS_STAGE:approved_to_invite|HR:' + (hrOwner === 'null' ? '' : hrOwner) + ']'\n  : '';\n\nconst inferredPosition = ns(base.inferred_applied_position) !== 'null' ? base.inferred_applied_position : null;\nconst inferredDepartment = ns(base.inferred_department) !== 'null' ? base.inferred_department : null;\n\nconst appliedPosition = ns(aiResult.applied_position) !== 'null'\n  ? aiResult.applied_position\n  : (inferredPosition || '未知職位');\nconst isWeakDepartment = (value) => {\n  const text = String(value || '').trim();\n  if (!text) return true;\n  return ['未分類', '未知部門', '未知單位', '人力資源部', 'HR', 'HR部門'].includes(text);\n};\nconst aiDepartment = ns(aiResult.department) !== 'null' ? aiResult.department : null;\nconst department = (!isWeakDepartment(aiDepartment) ? aiDepartment : null)\n  || inferredDepartment\n  || '未分類';\n\nconst forcePendingScheduling = ['request_invite', 'recommend', 'other'].includes(intent) || !!base.has_tentative_scheduling;\nconst interviewDate = forcePendingScheduling\n  ? 'null'\n  : extractedDate;\nconst interviewTime = forcePendingScheduling\n  ? 'null'\n  : extractedTime;\n\nconst interviewStatus = intent === 'cancel'\n  ? 'cancelled'\n  : (intent === 'update_time'\n      ? 'rescheduled'\n      : (['schedule', 'second_schedule'].includes(intent) ? 'scheduled' : 'pending'));\n\nreturn {\n  email_msg_id: base.email_msg_id,\n  email_subject: base.email_subject,\n  email_web_link: ns(base.email_web_link),\n  sender: ns(base.sender),\n  received_at: ns(base.received_at),\n  candidate_name: base.candidate_name || aiResult.candidate_name || '未知姓名',\n  applied_position: appliedPosition,\n  department,\n  interview_date: interviewDate,\n  interview_time: interviewTime,\n  round: Number(aiResult.round) || 1,\n  location: ns(aiResult.location),\n  hr_owner: hrOwner,\n  intent,\n  status: candidateStatus,\n  db_status: dbStatus,\n  system_stage_note: systemStageNote,\n  interview_status: interviewStatus,\n};"
      },
      "id": "cb35b346-7ff3-42c8-b1ae-80a15dbd35cd",
      "name": "Code：整合輸出",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1500
            }
          }
        }
      },
      "id": "25c4c840-44f9-4970-a775-f506acade7f0",
      "name": "Claude：AI 解析意圖",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        320
      ],
      "credentials": {
        "anthropicApi": {
          "id": "y6zxdCqqBzmwq5bi",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst subject = String(item.subject || '').trim();\nconst rawBody = item.body?.content || item.bodyPreview || '';\nconst body = String(rawBody)\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&#\\d+;/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst sender = typeof item.from === 'string'\n  ? item.from\n  : (item.from?.emailAddress?.address || item.sender?.emailAddress?.address || null);\nconst receivedAt = item.receivedDateTime || item.sentDateTime || item.createdDateTime || item.lastModifiedDateTime || new Date().toISOString();\n\nconst collectEmails = (value) => {\n  if (!value) return [];\n  const list = Array.isArray(value) ? value : [value];\n  return list\n    .map((entry) => {\n      if (!entry) return null;\n      if (typeof entry === 'string') return entry;\n      return entry.emailAddress?.address || entry.address || null;\n    })\n    .filter(Boolean)\n    .map((email) => String(email).trim().toLowerCase())\n    .filter(Boolean);\n};\n\nconst toEmails = collectEmails(item.to);\nconst ccEmails = collectEmails(item.cc);\nconst recipientEmails = [...new Set([...toEmails, ...ccEmails])];\n\nconst recipientRoutingRules = [\n  { match: /viclee@sporton\\.com\\.tw$/, topDepartment: 'WBU', preferredRequisitionId: 25 },\n  { match: /codychang@sporton\\.com\\.tw$/, topDepartment: 'ICC', preferredRequisitionId: 1 },\n  { match: /yenchen@sporton\\.com\\.tw$/, topDepartment: 'ICC' },\n];\n\nconst recipientHint = recipientRoutingRules.find((rule) => recipientEmails.some((email) => rule.match.test(email))) || null;\n\nconst SKIP = new Set([\n  '通知', '安排', '確認', '面試', '邀請', '時間',\n  '地點', '更改', '更新', '推薦', '取消', '履歷',\n  '回覆', 're', 'fw', 'fwd'\n]);\n\nconst normalizeCandidate = (value) => String(value || '')\n  .replace(/^(?:RE|FW|FWD)\\s*:\\s*/i, '')\n  .replace(/[()]/g, ' ')\n  .replace(/(?:先生|女士|小姐|同學)$/g, '')\n  .replace(/\\s+/g, '')\n  .trim();\n\nconst isLikelyCandidate = (value) => {\n  if (!value) return false;\n  if (value.length < 2 || value.length > 16) return false;\n  if (SKIP.has(value.toLowerCase()) || SKIP.has(value)) return false;\n  if (/^(?:面試時間|履歷推薦|面試安排|面試通知|錄取通知|新進人員通知)$/i.test(value)) return false;\n  return /[\\u4e00-\\u9fa5A-Za-z]/.test(value);\n};\n\nlet candidateName = null;\nconst subjectPatterns = [\n  /[\\u3010\\[][^\\u3011\\]]+[\\u3011\\]]\\s*[\\-\\uff0d\\u2014\\u2013:\\uff1a]\\s*([^\\n]+?)\\s*$/,\n  /[\\u3010\\[][^\\u3011\\]]+[\\u3011\\]]\\s*([^\\n]+?)\\s*$/,\n  /[\\-\\uff0d\\u2014\\u2013:\\uff1a]\\s*([^\\n]+?)\\s*$/,\n  /([^\\n]+?)\\s*(?:先生|女士|小姐)\\s*$/\n];\nfor (const pattern of subjectPatterns) {\n  const match = subject.match(pattern);\n  if (!match || !match[1]) continue;\n  const normalized = normalizeCandidate(match[1]);\n  if (isLikelyCandidate(normalized)) {\n    candidateName = normalized;\n    break;\n  }\n}\n\nif (!candidateName) {\n  const bodyNamePatterns = [\n    /候選人[：: ]*([\\u4e00-\\u9fa5A-Za-z]{2,16})/,\n    /姓名[：: ]*([\\u4e00-\\u9fa5A-Za-z]{2,16})/,\n    /([\\u4e00-\\u9fa5]{2,4})\\s*(?:先生|女士|小姐)\\s*您好/\n  ];\n  for (const pattern of bodyNamePatterns) {\n    const match = body.match(pattern);\n    if (!match || !match[1]) continue;\n    const normalized = normalizeCandidate(match[1]);\n    if (isLikelyCandidate(normalized)) {\n      candidateName = normalized;\n      break;\n    }\n  }\n}\n\nconst explicitDepartmentMatch = body.match(/部門[：: ]*([^\\s，。,；;]+)/);\nconst explicitDepartment = explicitDepartmentMatch ? explicitDepartmentMatch[1].trim() : null;\n\nconst positionFromSubjectMatch = subject.match(/[\\u3010\\[]([^\\u3011\\]]+)[\\u3011\\]]/);\nconst explicitPositionMatch = body.match(/(?:職缺|職稱|應徵職位)[：: ]*([^\\n]+)/);\nconst inferredPosition = explicitPositionMatch\n  ? explicitPositionMatch[1].trim()\n  : (positionFromSubjectMatch ? positionFromSubjectMatch[1].trim() : null);\n\nconst deriveDepartment = (position, department, text, hint) => {\n  if (department) return department;\n  const source = String(position || text || '');\n  const patterns = [\n    { re: /\\bICC\\b|ICC/, value: 'ICC' },\n    { re: /WBU|SAR|RF\\s*PM|文件專員|文件組|RF測試工程師/, value: 'WBU' },\n    { re: /新竹/, value: '新竹' },\n    { re: /新華/, value: '新華' },\n    { re: /安規|電池/, value: '安規' },\n    { re: /董事長室|財務|行政|MIS|資訊部|軟體工程師/, value: '行政' }\n  ];\n  for (const entry of patterns) {\n    if (entry.re.test(source)) return entry.value;\n  }\n  return hint?.topDepartment || null;\n};\n\nconst inferredDepartment = deriveDepartment(inferredPosition, explicitDepartment, subject + ' ' + body, recipientHint);\n\nconst searchText = subject + ' ' + body.substring(0, 800);\nconst hasTentativeScheduling = /(可安排|皆可安排|可配合|可面試|可約|方便面試|請評估|再約|可於|起皆可)/.test(searchText);\n\nlet interviewDate = null;\nif (!hasTentativeScheduling) {\n  const currentYear = new Date(receivedAt || Date.now()).getFullYear();\n  const datePatterns = [\n    { re: /(\\d{4})年(\\d{1,2})月(\\d{1,2})日/, fn: (m) => m[1] + '-' + m[2].padStart(2, '0') + '-' + m[3].padStart(2, '0') },\n    { re: /(\\d{4})[\\/.-](\\d{1,2})[\\/.-](\\d{1,2})/, fn: (m) => m[1] + '-' + m[2].padStart(2, '0') + '-' + m[3].padStart(2, '0') },\n    { re: /(\\d{1,2})月(\\d{1,2})日/, fn: (m) => String(currentYear) + '-' + m[1].padStart(2, '0') + '-' + m[2].padStart(2, '0') }\n  ];\n  for (const entry of datePatterns) {\n    const match = searchText.match(entry.re);\n    if (match) {\n      interviewDate = entry.fn(match);\n      break;\n    }\n  }\n}\n\nlet interviewTime = null;\nif (!hasTentativeScheduling) {\n  const timeMatch = searchText.match(/(?:上午|下午|AM|PM|am|pm)?\\s*(\\d{1,2})[:：](\\d{2})/);\n  if (timeMatch) {\n    let hour = Number(timeMatch[1]);\n    const marker = timeMatch[0];\n    if (/(下午|PM|pm)/.test(marker) && hour < 12) hour += 12;\n    if (/(上午|AM|am)/.test(marker) && hour === 12) hour = 0;\n    interviewTime = String(hour).padStart(2, '0') + ':' + timeMatch[2];\n  }\n}\n\nreturn {\n  email_msg_id: item.id,\n  email_subject: subject,\n  email_web_link: item.webLink || null,\n  sender,\n  received_at: receivedAt,\n  recipient_emails: recipientEmails,\n  recipient_top_department_hint: recipientHint?.topDepartment || null,\n  preferred_requisition_id: recipientHint?.preferredRequisitionId || null,\n  candidate_name: candidateName,\n  interview_date: interviewDate,\n  interview_time: interviewTime,\n  inferred_department: inferredDepartment,\n  inferred_applied_position: inferredPosition,\n  has_tentative_scheduling: hasTentativeScheduling,\n  body_text: body.substring(0, 2000),\n};"
      },
      "id": "d265f169-59ed-42a6-a38c-ef5bca944e69",
      "name": "Code：萃取基本資訊",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nreturn {\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 500,\n  system: [\n    \"你是 HR 信件解析助手，請從信件中萃取結構化資訊並只輸出 JSON。\",\n    \"若無法判定，請保守填 null 或「未知職位」/「未分類」。\",\n    \"intent 僅可輸出 recommend|request_invite|schedule|update_time|cancel|second_schedule|other。\",\n    \"request_invite 代表主管同意邀約但尚未有確定面試時間。\",\n    \"schedule / second_schedule 代表已出現確定面試日期時間。\",\n    \"主旨不是判斷唯一依據；即使主旨是 RE: 履歷推薦，只要內文明確出現已安排的日期時間，仍可判為 schedule。\",\n    \"update_time 代表既有面試改期。\",\n    \"cancel 代表取消面試或取消流程。\",\n    \"若信中只是說 6/18 起可安排、方便時間、可配合時段，這不是 schedule，應偏向 request_invite。\",\n    \"\",\n    \"輸出欄位：\",\n    \"- candidate_name\",\n    \"- applied_position\",\n    \"- department\",\n    \"- interview_date\",\n    \"- interview_time\",\n    \"- round\",\n    \"- location\",\n    \"- hr_owner\",\n    \"- status\",\n    \"- intent\",\n    \"- ai_action_item\"\n  ].join(\"\\n\"),\n  messages: [\n    {\n      role: \"user\",\n      content: \"主旨：\" + (item.email_subject || \"\") + \"\\n\\n內文：\" + (item.body_text || \"\")\n    }\n  ]\n};"
      },
      "id": "code-assemble-claude-body-001",
      "name": "Code：組裝 Claude Request Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "kw-filter",
              "leftValue": "={{ $json.subject }}",
              "rightValue": ".*(面試|面談|初試|複試|面試通知|面談通知|interview|履歷推薦).*",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "210917e7-a74c-49e3-8d4d-afb1c05e6ca7",
      "name": "IF：主旨過濾",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        448
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "foldersToInclude": [
            "AAMkADA2Y2U5Yzc0LTMwZjgtNGU1MS1hYWU5LTFjMjA5MDFhM2Q1OQAuAAAAAAATwHe72s8cTYU6NTzQdTNsAQCddaHEqpeLSJK4gY8M9T9SAAAA-bMBAAA=",
            "AAMkADA2Y2U5Yzc0LTMwZjgtNGU1MS1hYWU5LTFjMjA5MDFhM2Q1OQAuAAAAAAATwHe72s8cTYU6NTzQdTNsAQDrOyTdalCqR4oTn0wwCObdAEg2qZyLAAA=",
            "AAMkADA2Y2U5Yzc0LTMwZjgtNGU1MS1hYWU5LTFjMjA5MDFhM2Q1OQAuAAAAAAATwHe72s8cTYU6NTzQdTNsAQDrOyTdalCqR4oTn0wwCObdAEg2qZyMAAA=",
            "AAMkADA2Y2U5Yzc0LTMwZjgtNGU1MS1hYWU5LTFjMjA5MDFhM2Q1OQAuAAAAAAATwHe72s8cTYU6NTzQdTNsAQCddaHEqpeLSJK4gY8M9T9SAAAA-bMDAAA="
          ]
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "a327ac36-b64c-4c1a-9329-748724ede566",
      "name": "Outlook 收信觸發",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        1376,
        448
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "gRnSdH5u4gDyDZzB",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function splitCandidateNames(rawValue) {\n  const value = String(rawValue || '').trim();\n  if (!value || value === '未知姓名') return [value || '未知姓名'];\n\n  const cleaned = value\n    .replace(/[()]/g, ' ')\n    .replace(/(?:先生|女士|小姐|同學)/g, '')\n    .replace(/\\s+/g, '');\n\n  const parts = cleaned\n    .split(/[\\/,;、，；]+/)\n    .map((part) => part.trim())\n    .filter(Boolean);\n\n  const names = (parts.length ? parts : [cleaned]).filter((name) => name.length >= 2 && name.length <= 12);\n  return [...new Set(names)];\n}\n\nreturn $input.all().flatMap((entry) => {\n  const item = entry.json || {};\n  const candidateNames = splitCandidateNames(item.candidate_name);\n  const originalEmailMsgId = String(item.email_msg_id || '');\n\n  return candidateNames.map((candidateName, index) => ({\n    json: {\n      ...item,\n      candidate_name: candidateName,\n      original_email_msg_id: originalEmailMsgId,\n      email_msg_id: candidateNames.length > 1 && originalEmailMsgId ? originalEmailMsgId + '#' + (index + 1) : originalEmailMsgId,\n      multi_candidate_total: candidateNames.length,\n      multi_candidate_index: index + 1,\n      multi_candidate_names: candidateNames,\n    }\n  }));\n});"
      },
      "id": "code-split-multi-candidates-001",
      "name": "Code：拆分多人推薦",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        320
      ]
    }
  ],
  "connections": {
    "Code：非面試信件略過": {
      "main": [
        [
          {
            "node": "PG：記錄略過信件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG：寫入 interviews": {
      "main": [
        [
          {
            "node": "PG：寫入 email_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG：寫入 candidates": {
      "main": [
        [
          {
            "node": "PG：寫入 interviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code：整合輸出": {
      "main": [
        [
          {
            "node": "Code：拆分多人推薦",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude：AI 解析意圖": {
      "main": [
        [
          {
            "node": "Code：整合輸出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code：萃取基本資訊": {
      "main": [
        [
          {
            "node": "Code：組裝 Claude Request Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF：主旨過濾": {
      "main": [
        [
          {
            "node": "Code：萃取基本資訊",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code：非面試信件略過",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outlook 收信觸發": {
      "main": [
        [
          {
            "node": "IF：主旨過濾",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code：組裝 Claude Request Body": {
      "main": [
        [
          {
            "node": "Claude：AI 解析意圖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Codeï¼æåå¤äººæ¨è¦": {
      "main": [
        [
          {
            "node": "PGï¼å¯«å¥ candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Codeï¼æ´åè¼¸åº": {
      "main": [
        [
          {
            "node": "Codeï¼æåå¤äººæ¨è¦",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code：拆分多人推薦": {
      "main": [
        [
          {
            "node": "PG：寫入 candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Outlook 收信觸發": {
      "lastTimeChecked": "2026-06-22T18:23:26.289+08:00"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f8ccc7c0-ba3f-439e-9d99-0fb92f2499c5",
  "activeVersionId": "f8ccc7c0-ba3f-439e-9d99-0fb92f2499c5",
  "versionCounter": 1266,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-15T10:08:31.212Z",
      "createdAt": "2026-05-15T10:08:31.212Z",
      "role": "workflow:owner",
      "workflowId": "pqnpr72wTiOE2m8I",
      "projectId": "NvjFEev0823h2STF",
      "project": {
        "updatedAt": "2026-05-15T07:57:49.399Z",
        "createdAt": "2026-05-15T07:52:05.149Z",
        "id": "NvjFEev0823h2STF",
        "name": "Huang yu-Wei <pkpk70532@yahoo.com.tw>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8daad596-e268-45a9-8bb8-f1065a906fc6"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-15T10:18:59.545Z",
      "createdAt": "2026-05-15T10:18:59.545Z",
      "id": "yP9PPTGVL9VqZ3jM",
      "name": "HR"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-22T10:23:26.238Z",
    "createdAt": "2026-06-22T10:23:26.238Z",
    "versionId": "f8ccc7c0-ba3f-439e-9d99-0fb92f2499c5",
    "workflowId": "pqnpr72wTiOE2m8I",
    "nodes": [
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO email_logs (email_msg_id, email_subject, sender, received_at, action, error_msg)\nVALUES (\n  '{{ $json.email_msg_id }}',\n  '{{ $json.email_subject }}',\n  NULLIF('{{ $json.sender }}', 'null'),\n  NOW(),\n  'skipped',\n  '非面試類信件'\n)\nON CONFLICT (email_msg_id) DO NOTHING;",
          "options": {}
        },
        "id": "eb3a1b5f-0e75-402f-b07c-92498977603e",
        "name": "PG：記錄略過信件",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2048,
          560
        ],
        "credentials": {
          "postgres": {
            "id": "NGdDfE2F1YFXGcmn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const item = $input.item.json;\nreturn {\n  email_msg_id: item.id,\n  email_subject: item.subject,\n  sender: item.from?.emailAddress?.address || null,\n  received_at: item.receivedDateTime,\n  action: 'skipped',\n  error_msg: '非面試信件略過，略過',\n};"
        },
        "id": "587396cf-8857-46b7-af56-46ebad296a42",
        "name": "Code：非面試信件略過",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1824,
          560
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO email_logs (\n  email_msg_id, email_subject, sender, received_at, action, candidate_id\n)\nVALUES (\n  '{{ $json.email_msg_id || '' }}',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  NULLIF('{{ $json.sender || '' }}', ''),\n  COALESCE(NULLIF('{{ $json.received_at || '' }}', '')::TIMESTAMPTZ, NOW()),\n  'inserted',\n  {{ $json.candidate_id }}\n)\nON CONFLICT (email_msg_id) DO UPDATE SET\n  action = 'updated',\n  processed_at = NOW();\n\nSELECT \n  '{{ $json.email_msg_id || '' }}' AS email_msg_id,\n  'inserted/updated' AS log_action;",
          "options": {}
        },
        "id": "b6402442-fddf-4724-abd5-59e7044c691d",
        "name": "PG：寫入 email_logs",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3168,
          320
        ],
        "credentials": {
          "postgres": {
            "id": "NGdDfE2F1YFXGcmn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO interviews (\n  candidate_id, interview_date, interview_time, round,\n  location, hr_owner, status, email_subject, email_msg_id, email_web_link\n)\nSELECT\n  {{ $json.candidate_id }},\n  NULLIF(NULLIF('{{ $json.interview_date || '' }}', ''), 'null')::DATE,\n  NULLIF(NULLIF('{{ $json.interview_time || '' }}', ''), 'null'),\n  {{ $json.round || 1 }},\n  NULLIF(NULLIF('{{ ($json.location || '').replace(/'/g, \"''\") }}', ''), 'null'),\n  NULLIF(NULLIF('{{ ($json.hr_owner || '').replace(/'/g, \"''\") }}', ''), 'null'),\n  '{{ $json.status || '' }}',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  '{{ $json.email_msg_id || '' }}',\n  NULLIF(NULLIF('{{ $json.email_web_link || '' }}', ''), 'null')\nWHERE '{{ $json.intent || '' }}' NOT IN ('update_time', 'cancel', 'recommend', 'request_invite')\n  AND NULLIF(NULLIF('{{ $json.interview_date || '' }}', ''), 'null') IS NOT NULL\nON CONFLICT (email_msg_id) DO UPDATE SET\n  status = EXCLUDED.status;\n\nUPDATE interviews SET\n  interview_date = NULLIF(NULLIF('{{ $json.interview_date || '' }}', ''), 'null')::DATE,\n  interview_time = NULLIF(NULLIF('{{ $json.interview_time || '' }}', ''), 'null')\nWHERE candidate_id = {{ $json.candidate_id }}\n  AND round = {{ $json.round || 1 }}\n  AND '{{ $json.intent || '' }}' = 'update_time'\n  AND NULLIF(NULLIF('{{ $json.interview_date || '' }}', ''), 'null') IS NOT NULL;\n\nUPDATE interviews SET\n  status = 'cancelled'\nWHERE candidate_id = {{ $json.candidate_id }}\n  AND round = {{ $json.round || 1 }}\n  AND '{{ $json.intent || '' }}' = 'cancel';\n\nSELECT\n  {{ $json.candidate_id }} AS candidate_id,\n  '{{ ($json.candidate_name || '').replace(/'/g, \"''\") }}' AS candidate_name,\n  '{{ $json.email_msg_id || '' }}' AS email_msg_id,\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}' AS email_subject,\n  NULLIF('{{ $json.sender || '' }}', 'null') AS sender,\n  '{{ $json.received_at || '' }}' AS received_at,\n  '{{ $json.status || '' }}' AS status;",
          "options": {}
        },
        "id": "5c73b5bf-0b4b-47bc-95b1-a51cbbd1c70d",
        "name": "PG：寫入 interviews",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2944,
          320
        ],
        "credentials": {
          "postgres": {
            "id": "NGdDfE2F1YFXGcmn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "ALTER TABLE candidates\nADD COLUMN IF NOT EXISTS job_requisition_id INTEGER REFERENCES job_requisitions(id) ON DELETE SET NULL;\n\nCREATE INDEX IF NOT EXISTS idx_candidates_job_requisition\nON candidates(job_requisition_id);\n\n\nWITH candidate_input AS (\n  SELECT\n    '{{ ($json.department || '').replace(/'/g, \"''\") }}'::TEXT AS raw_department,\n    '{{ ($json.applied_position || '').replace(/'/g, \"''\") }}'::TEXT AS raw_position,\n    NULLIF('{{ ($json.recipient_top_department_hint || '').replace(/'/g, \"''\") }}', '')::TEXT AS recipient_top_department_hint,\n    NULLIF('{{ $json.preferred_requisition_id || '' }}', '')::INTEGER AS recipient_preferred_requisition_id\n),\ncandidate_norm AS (\n  SELECT\n    raw_department,\n    raw_position,\n    recipient_top_department_hint,\n    COALESCE(\n      recipient_preferred_requisition_id,\n      CASE\n        WHEN lower(raw_position) LIKE '%icc%客服業務%' OR lower(raw_position) LIKE '%icc客服業務%' THEN 19\n        WHEN lower(raw_position) LIKE '%icc%案件專員%' OR lower(raw_position) LIKE '%iccpm%' THEN 5\n        WHEN lower(raw_position) LIKE '%icc%測試工程師%' THEN 1\n        WHEN lower(raw_position) LIKE '%sar測試工程師%' OR lower(raw_position) LIKE '%rfsar%' THEN 23\n        WHEN (\n          lower(raw_position) LIKE '%rf測試工程師%'\n          OR lower(raw_position) LIKE '%emc測試工程師%'\n          OR lower(raw_position) LIKE '%新竹%rf%測試工程師%'\n          OR lower(raw_position) LIKE '%新竹%emc%測試工程師%'\n        ) AND raw_department LIKE '%新竹%' THEN 4\n        WHEN lower(raw_position) LIKE '%rf測試工程師%' AND recipient_top_department_hint = 'WBU' THEN 25\n        WHEN lower(raw_position) LIKE '%rf測試工程師%' AND raw_department LIKE '%新華%' THEN 12\n        WHEN lower(raw_position) LIKE '%五部rfpm%' OR lower(raw_position) LIKE '%rfpm%' THEN 13\n        WHEN lower(raw_position) = 'pm' AND recipient_top_department_hint = 'WBU' THEN 13\n        WHEN lower(raw_position) LIKE '%助理業務/業務%' AND raw_department LIKE '%安規%' THEN 22\n        WHEN lower(raw_position) LIKE '%業務助理(david)%' THEN 8\n        WHEN lower(raw_position) LIKE '%文件專員%' THEN 2\n        ELSE NULL\n      END\n    ) AS preferred_requisition_id,\n    CASE\n      WHEN raw_department IN ('', '未分類', '未知部門', '未知職位', '測試', '人力資源部') THEN NULL\n      ELSE raw_department\n    END AS strong_department,\n    CASE\n      WHEN raw_department IN ('ICC', 'WBU', '新華', '新竹', '安規', '行政') THEN raw_department\n      WHEN raw_department LIKE '%ICC%' THEN 'ICC'\n      WHEN raw_department LIKE '%WBU%' OR raw_department LIKE '%SAR%' OR raw_department LIKE '%RF%' THEN 'WBU'\n      WHEN raw_department LIKE '%新華%' THEN '新華'\n      WHEN raw_department LIKE '%新竹%' THEN '新竹'\n      WHEN raw_department LIKE '%安規%' OR raw_department LIKE '%電池%' THEN '安規'\n      WHEN raw_department LIKE '%董事長室%' OR raw_department LIKE '%財務%' OR raw_department LIKE '%資訊%' OR raw_department LIKE '%MIS%' OR raw_department LIKE '%品管%' OR raw_department LIKE '%行政%' THEN '行政'\n      WHEN raw_position LIKE 'ICC%' THEN 'ICC'\n      WHEN raw_position LIKE 'WBU%' OR raw_position LIKE 'SAR%' OR raw_position LIKE 'RF %' OR raw_position LIKE 'RF%' THEN 'WBU'\n      WHEN raw_position LIKE '新華%' THEN '新華'\n      WHEN raw_position LIKE '新竹%' THEN '新竹'\n      WHEN raw_position LIKE '安規%' OR raw_position LIKE '%電池%' THEN '安規'\n      WHEN raw_position LIKE '%董事長室%' OR raw_position LIKE '%財務%' OR raw_position LIKE '%資訊%' OR raw_position LIKE 'MIS%' OR raw_position LIKE '%品管%' OR raw_position LIKE '%行政%' THEN '行政'\n      ELSE recipient_top_department_hint\n    END AS top_department,\n    lower(regexp_replace(raw_position, '\\s+', '', 'g')) AS pos_norm,\n    lower(regexp_replace(regexp_replace(raw_position, '^(ICC|icc|WBU|新華|新竹|安規|行政)', '', 'g'), '\\s+', '', 'g')) AS pos_core\n  FROM candidate_input\n),\nmatched_requisition AS (\n  SELECT\n    j.id,\n    j.department,\n    j.position_title\n  FROM job_requisitions j\n  CROSS JOIN candidate_norm c\n  WHERE (j.status <> 'cancelled' OR (c.preferred_requisition_id IS NOT NULL AND j.id = c.preferred_requisition_id))\n    AND (\n      (c.preferred_requisition_id IS NOT NULL AND j.id = c.preferred_requisition_id)\n      OR lower(regexp_replace(j.position_title, '\\s+', '', 'g')) = c.pos_norm\n      OR lower(regexp_replace(j.position_title, '\\s+', '', 'g')) = c.pos_core\n      OR c.pos_norm = lower(regexp_replace(split_part(j.department, ' / ', 1) || j.position_title, '\\s+', '', 'g'))\n      OR c.pos_core = lower(regexp_replace(split_part(j.department, ' / ', 1) || j.position_title, '\\s+', '', 'g'))\n      OR (\n        c.pos_core <> ''\n        AND (\n          lower(regexp_replace(j.position_title, '\\s+', '', 'g')) LIKE '%' || c.pos_core || '%'\n          OR c.pos_core LIKE '%' || lower(regexp_replace(j.position_title, '\\s+', '', 'g')) || '%'\n        )\n      )\n    )\n  ORDER BY\n    CASE\n      WHEN c.preferred_requisition_id IS NOT NULL AND j.id = c.preferred_requisition_id THEN 0\n      WHEN c.strong_department IS NOT NULL AND j.department = c.strong_department THEN 1\n      WHEN c.strong_department IS NOT NULL AND j.department LIKE '%' || c.strong_department || '%' THEN 2\n      WHEN c.top_department IS NOT NULL AND split_part(j.department, ' / ', 1) = c.top_department THEN 3\n      ELSE 4\n    END,\n    CASE\n      WHEN lower(regexp_replace(j.position_title, '\\s+', '', 'g')) = c.pos_norm THEN 0\n      WHEN lower(regexp_replace(j.position_title, '\\s+', '', 'g')) = c.pos_core THEN 1\n      ELSE 2\n    END,\n    j.id\n  LIMIT 1\n),\nresolved AS (\n  SELECT\n    COALESCE((SELECT department FROM matched_requisition), (SELECT raw_department FROM candidate_norm)) AS department,\n    COALESCE((SELECT position_title FROM matched_requisition), (SELECT raw_position FROM candidate_norm)) AS position_title,\n    (SELECT id FROM matched_requisition) AS job_requisition_id\n),\ninserted AS (\n  INSERT INTO candidates (name, applied_position, department, job_requisition_id, source, status, notes)\n  SELECT\n    '{{ ($json.candidate_name || '').replace(/'/g, \"''\") }}',\n    resolved.position_title,\n    resolved.department,\n    resolved.job_requisition_id,\n    'Outlook即時',\n    '{{ $json.db_status || '' }}',\n    NULLIF('{{ ($json.system_stage_note || '').replace(/'/g, \"''\") }}', '')\n  FROM resolved\n  WHERE NOT EXISTS (\n    SELECT 1\n    FROM candidates\n    WHERE name = '{{ ($json.candidate_name || '').replace(/'/g, \"''\") }}'\n  )\n  RETURNING id\n)\nUPDATE candidates\nSET\n  applied_position = CASE\n    WHEN candidates.job_requisition_id IS NULL AND (SELECT job_requisition_id FROM resolved) IS NOT NULL\n      THEN (SELECT position_title FROM resolved)\n    ELSE candidates.applied_position\n  END,\n  department = CASE\n    WHEN candidates.job_requisition_id IS NULL AND (SELECT job_requisition_id FROM resolved) IS NOT NULL\n      THEN (SELECT department FROM resolved)\n    ELSE candidates.department\n  END,\n  job_requisition_id = COALESCE(candidates.job_requisition_id, (SELECT job_requisition_id FROM resolved)),\n  status = '{{ $json.db_status || '' }}',\n  notes = CASE\n    WHEN '{{ ($json.system_stage_note || '').replace(/'/g, \"''\") }}' <> '' THEN\n      TRIM(BOTH ' ' FROM CONCAT(\n        NULLIF(TRIM(BOTH ' ' FROM REGEXP_REPLACE(COALESCE(notes, ''), '\\\\s*\\\\[SYS_STAGE:[^\\\\]]+\\\\]', '', 'g')), ''),\n        CASE\n          WHEN NULLIF(TRIM(BOTH ' ' FROM REGEXP_REPLACE(COALESCE(notes, ''), '\\\\s*\\\\[SYS_STAGE:[^\\\\]]+\\\\]', '', 'g')), '') IS NOT NULL\n            THEN ' '\n          ELSE ''\n        END,\n        '{{ ($json.system_stage_note || '').replace(/'/g, \"''\") }}'\n      ))\n    ELSE NULLIF(TRIM(BOTH ' ' FROM REGEXP_REPLACE(COALESCE(notes, ''), '\\\\s*\\\\[SYS_STAGE:[^\\\\]]+\\\\]', '', 'g')), '')\n  END\nWHERE name = '{{ ($json.candidate_name || '').replace(/'/g, \"''\") }}';\n\nSELECT\n  c.id AS candidate_id,\n  c.job_requisition_id AS job_requisition_id,\n  '{{ ($json.candidate_name || '').replace(/'/g, \"''\") }}' AS candidate_name,\n  '{{ $json.interview_date || '' }}' AS interview_date,\n  '{{ $json.interview_time || '' }}' AS interview_time,\n  {{ $json.round || 1 }} AS round,\n  '{{ ($json.location || '').replace(/'/g, \"''\") }}' AS location,\n  '{{ ($json.hr_owner || '').replace(/'/g, \"''\") }}' AS hr_owner,\n  '{{ $json.interview_status || 'scheduled' }}' AS status,\n  '{{ $json.intent || '' }}' AS intent,\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}' AS email_subject,\n  '{{ $json.email_msg_id || '' }}' AS email_msg_id,\n  '{{ $json.email_web_link || '' }}' AS email_web_link,\n  '{{ $json.sender || '' }}' AS sender,\n  '{{ $json.received_at || '' }}' AS received_at,\n  COALESCE(j.position_title, c.applied_position) AS applied_position,\n  COALESCE(j.department, c.department) AS department\nFROM candidates c\nLEFT JOIN job_requisitions j ON j.id = c.job_requisition_id\nWHERE c.name = '{{ ($json.candidate_name || '').replace(/'/g, \"''\") }}'\nORDER BY c.created_at DESC\nLIMIT 1;",
          "options": {}
        },
        "id": "cba3f36b-e5f5-44fb-afc5-044fb48f95fb",
        "name": "PG：寫入 candidates",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2720,
          320
        ],
        "credentials": {
          "postgres": {
            "id": "NGdDfE2F1YFXGcmn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const base = $('Code：萃取基本資訊').item.json;\nlet aiResult = {};\ntry {\n  const raw = $input.item.json.content;\n  const text = Array.isArray(raw) ? (raw[0]?.text || '') : (typeof raw === 'string' ? raw : '');\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) aiResult = JSON.parse(match[0]);\n} catch (error) {}\n\nconst ns = (value) => {\n  if (value === null || value === undefined) return 'null';\n  const text = String(value).trim();\n  if (text === '' || text === 'null' || text === 'undefined') return 'null';\n  return text;\n};\n\nconst subjectText = String(base.email_subject || '');\nconst bodyText = String(base.body_text || '');\nconst combinedText = (subjectText + ' ' + bodyText).replace(/\\s+/g, ' ');\n\nconst extractedDate = ns(base.interview_date || aiResult.interview_date);\nconst extractedTime = ns(base.interview_time || aiResult.interview_time);\nconst hasConcreteSchedule = extractedDate !== 'null' && extractedTime !== 'null' && !base.has_tentative_scheduling;\n\nconst requestInviteCue = /(請.{0,12}(安排|邀約).{0,6}面試|請幫忙安排面試|請協助安排面試|請通知面試|請評估|可安排面試)/u.test(combinedText);\nconst confirmedScheduleCue = /(已安排.{0,12}面試|面試時間|面試邀約|安排於|安排在|訂於|scheduled|schedule confirmed)/iu.test(combinedText);\nconst rescheduleCue = /(更新面試時間|最新面試時間|更改面試時間|改期|延期|延後|改為)/u.test(combinedText);\nconst cancelCue = /(取消面試|不安排面試|不考慮|婉拒|取消流程)/u.test(combinedText);\n\nlet intent = aiResult.intent || 'recommend';\nif (cancelCue) {\n  intent = 'cancel';\n} else if (hasConcreteSchedule && rescheduleCue) {\n  intent = 'update_time';\n} else if (hasConcreteSchedule && confirmedScheduleCue) {\n  intent = 'schedule';\n} else if (requestInviteCue && !hasConcreteSchedule) {\n  intent = 'request_invite';\n}\n\nconst candidateStatus = intent === 'cancel'\n  ? 'withdrawn'\n  : (intent === 'request_invite'\n      ? 'approved_to_invite'\n      : (['recommend', 'other'].includes(intent) ? 'pending_review' : 'in_progress'));\nconst dbStatus = candidateStatus === 'approved_to_invite' ? 'pending_review' : candidateStatus;\nconst hrOwner = ns(aiResult.hr_owner);\nconst systemStageNote = candidateStatus === 'approved_to_invite'\n  ? '[SYS_STAGE:approved_to_invite|HR:' + (hrOwner === 'null' ? '' : hrOwner) + ']'\n  : '';\n\nconst inferredPosition = ns(base.inferred_applied_position) !== 'null' ? base.inferred_applied_position : null;\nconst inferredDepartment = ns(base.inferred_department) !== 'null' ? base.inferred_department : null;\n\nconst appliedPosition = ns(aiResult.applied_position) !== 'null'\n  ? aiResult.applied_position\n  : (inferredPosition || '未知職位');\nconst isWeakDepartment = (value) => {\n  const text = String(value || '').trim();\n  if (!text) return true;\n  return ['未分類', '未知部門', '未知單位', '人力資源部', 'HR', 'HR部門'].includes(text);\n};\nconst aiDepartment = ns(aiResult.department) !== 'null' ? aiResult.department : null;\nconst department = (!isWeakDepartment(aiDepartment) ? aiDepartment : null)\n  || inferredDepartment\n  || '未分類';\n\nconst forcePendingScheduling = ['request_invite', 'recommend', 'other'].includes(intent) || !!base.has_tentative_scheduling;\nconst interviewDate = forcePendingScheduling\n  ? 'null'\n  : extractedDate;\nconst interviewTime = forcePendingScheduling\n  ? 'null'\n  : extractedTime;\n\nconst interviewStatus = intent === 'cancel'\n  ? 'cancelled'\n  : (intent === 'update_time'\n      ? 'rescheduled'\n      : (['schedule', 'second_schedule'].includes(intent) ? 'scheduled' : 'pending'));\n\nreturn {\n  email_msg_id: base.email_msg_id,\n  email_subject: base.email_subject,\n  email_web_link: ns(base.email_web_link),\n  sender: ns(base.sender),\n  received_at: ns(base.received_at),\n  candidate_name: base.candidate_name || aiResult.candidate_name || '未知姓名',\n  applied_position: appliedPosition,\n  department,\n  interview_date: interviewDate,\n  interview_time: interviewTime,\n  round: Number(aiResult.round) || 1,\n  location: ns(aiResult.location),\n  hr_owner: hrOwner,\n  intent,\n  status: candidateStatus,\n  db_status: dbStatus,\n  system_stage_note: systemStageNote,\n  interview_status: interviewStatus,\n};"
        },
        "id": "cb35b346-7ff3-42c8-b1ae-80a15dbd35cd",
        "name": "Code：整合輸出",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2496,
          320
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "anthropicApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {
            "batching": {
              "batch": {
                "batchSize": 1,
                "batchInterval": 1500
              }
            }
          }
        },
        "id": "25c4c840-44f9-4970-a775-f506acade7f0",
        "name": "Claude：AI 解析意圖",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2272,
          320
        ],
        "credentials": {
          "anthropicApi": {
            "id": "y6zxdCqqBzmwq5bi",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const item = $input.item.json;\nconst subject = String(item.subject || '').trim();\nconst rawBody = item.body?.content || item.bodyPreview || '';\nconst body = String(rawBody)\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&#\\d+;/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst sender = typeof item.from === 'string'\n  ? item.from\n  : (item.from?.emailAddress?.address || item.sender?.emailAddress?.address || null);\nconst receivedAt = item.receivedDateTime || item.sentDateTime || item.createdDateTime || item.lastModifiedDateTime || new Date().toISOString();\n\nconst collectEmails = (value) => {\n  if (!value) return [];\n  const list = Array.isArray(value) ? value : [value];\n  return list\n    .map((entry) => {\n      if (!entry) return null;\n      if (typeof entry === 'string') return entry;\n      return entry.emailAddress?.address || entry.address || null;\n    })\n    .filter(Boolean)\n    .map((email) => String(email).trim().toLowerCase())\n    .filter(Boolean);\n};\n\nconst toEmails = collectEmails(item.to);\nconst ccEmails = collectEmails(item.cc);\nconst recipientEmails = [...new Set([...toEmails, ...ccEmails])];\n\nconst recipientRoutingRules = [\n  { match: /viclee@sporton\\.com\\.tw$/, topDepartment: 'WBU', preferredRequisitionId: 25 },\n  { match: /codychang@sporton\\.com\\.tw$/, topDepartment: 'ICC', preferredRequisitionId: 1 },\n  { match: /yenchen@sporton\\.com\\.tw$/, topDepartment: 'ICC' },\n];\n\nconst recipientHint = recipientRoutingRules.find((rule) => recipientEmails.some((email) => rule.match.test(email))) || null;\n\nconst SKIP = new Set([\n  '通知', '安排', '確認', '面試', '邀請', '時間',\n  '地點', '更改', '更新', '推薦', '取消', '履歷',\n  '回覆', 're', 'fw', 'fwd'\n]);\n\nconst normalizeCandidate = (value) => String(value || '')\n  .replace(/^(?:RE|FW|FWD)\\s*:\\s*/i, '')\n  .replace(/[()]/g, ' ')\n  .replace(/(?:先生|女士|小姐|同學)$/g, '')\n  .replace(/\\s+/g, '')\n  .trim();\n\nconst isLikelyCandidate = (value) => {\n  if (!value) return false;\n  if (value.length < 2 || value.length > 16) return false;\n  if (SKIP.has(value.toLowerCase()) || SKIP.has(value)) return false;\n  if (/^(?:面試時間|履歷推薦|面試安排|面試通知|錄取通知|新進人員通知)$/i.test(value)) return false;\n  return /[\\u4e00-\\u9fa5A-Za-z]/.test(value);\n};\n\nlet candidateName = null;\nconst subjectPatterns = [\n  /[\\u3010\\[][^\\u3011\\]]+[\\u3011\\]]\\s*[\\-\\uff0d\\u2014\\u2013:\\uff1a]\\s*([^\\n]+?)\\s*$/,\n  /[\\u3010\\[][^\\u3011\\]]+[\\u3011\\]]\\s*([^\\n]+?)\\s*$/,\n  /[\\-\\uff0d\\u2014\\u2013:\\uff1a]\\s*([^\\n]+?)\\s*$/,\n  /([^\\n]+?)\\s*(?:先生|女士|小姐)\\s*$/\n];\nfor (const pattern of subjectPatterns) {\n  const match = subject.match(pattern);\n  if (!match || !match[1]) continue;\n  const normalized = normalizeCandidate(match[1]);\n  if (isLikelyCandidate(normalized)) {\n    candidateName = normalized;\n    break;\n  }\n}\n\nif (!candidateName) {\n  const bodyNamePatterns = [\n    /候選人[：: ]*([\\u4e00-\\u9fa5A-Za-z]{2,16})/,\n    /姓名[：: ]*([\\u4e00-\\u9fa5A-Za-z]{2,16})/,\n    /([\\u4e00-\\u9fa5]{2,4})\\s*(?:先生|女士|小姐)\\s*您好/\n  ];\n  for (const pattern of bodyNamePatterns) {\n    const match = body.match(pattern);\n    if (!match || !match[1]) continue;\n    const normalized = normalizeCandidate(match[1]);\n    if (isLikelyCandidate(normalized)) {\n      candidateName = normalized;\n      break;\n    }\n  }\n}\n\nconst explicitDepartmentMatch = body.match(/部門[：: ]*([^\\s，。,；;]+)/);\nconst explicitDepartment = explicitDepartmentMatch ? explicitDepartmentMatch[1].trim() : null;\n\nconst positionFromSubjectMatch = subject.match(/[\\u3010\\[]([^\\u3011\\]]+)[\\u3011\\]]/);\nconst explicitPositionMatch = body.match(/(?:職缺|職稱|應徵職位)[：: ]*([^\\n]+)/);\nconst inferredPosition = explicitPositionMatch\n  ? explicitPositionMatch[1].trim()\n  : (positionFromSubjectMatch ? positionFromSubjectMatch[1].trim() : null);\n\nconst deriveDepartment = (position, department, text, hint) => {\n  if (department) return department;\n  const source = String(position || text || '');\n  const patterns = [\n    { re: /\\bICC\\b|ICC/, value: 'ICC' },\n    { re: /WBU|SAR|RF\\s*PM|文件專員|文件組|RF測試工程師/, value: 'WBU' },\n    { re: /新竹/, value: '新竹' },\n    { re: /新華/, value: '新華' },\n    { re: /安規|電池/, value: '安規' },\n    { re: /董事長室|財務|行政|MIS|資訊部|軟體工程師/, value: '行政' }\n  ];\n  for (const entry of patterns) {\n    if (entry.re.test(source)) return entry.value;\n  }\n  return hint?.topDepartment || null;\n};\n\nconst inferredDepartment = deriveDepartment(inferredPosition, explicitDepartment, subject + ' ' + body, recipientHint);\n\nconst searchText = subject + ' ' + body.substring(0, 800);\nconst hasTentativeScheduling = /(可安排|皆可安排|可配合|可面試|可約|方便面試|請評估|再約|可於|起皆可)/.test(searchText);\n\nlet interviewDate = null;\nif (!hasTentativeScheduling) {\n  const currentYear = new Date(receivedAt || Date.now()).getFullYear();\n  const datePatterns = [\n    { re: /(\\d{4})年(\\d{1,2})月(\\d{1,2})日/, fn: (m) => m[1] + '-' + m[2].padStart(2, '0') + '-' + m[3].padStart(2, '0') },\n    { re: /(\\d{4})[\\/.-](\\d{1,2})[\\/.-](\\d{1,2})/, fn: (m) => m[1] + '-' + m[2].padStart(2, '0') + '-' + m[3].padStart(2, '0') },\n    { re: /(\\d{1,2})月(\\d{1,2})日/, fn: (m) => String(currentYear) + '-' + m[1].padStart(2, '0') + '-' + m[2].padStart(2, '0') }\n  ];\n  for (const entry of datePatterns) {\n    const match = searchText.match(entry.re);\n    if (match) {\n      interviewDate = entry.fn(match);\n      break;\n    }\n  }\n}\n\nlet interviewTime = null;\nif (!hasTentativeScheduling) {\n  const timeMatch = searchText.match(/(?:上午|下午|AM|PM|am|pm)?\\s*(\\d{1,2})[:：](\\d{2})/);\n  if (timeMatch) {\n    let hour = Number(timeMatch[1]);\n    const marker = timeMatch[0];\n    if (/(下午|PM|pm)/.test(marker) && hour < 12) hour += 12;\n    if (/(上午|AM|am)/.test(marker) && hour === 12) hour = 0;\n    interviewTime = String(hour).padStart(2, '0') + ':' + timeMatch[2];\n  }\n}\n\nreturn {\n  email_msg_id: item.id,\n  email_subject: subject,\n  email_web_link: item.webLink || null,\n  sender,\n  received_at: receivedAt,\n  recipient_emails: recipientEmails,\n  recipient_top_department_hint: recipientHint?.topDepartment || null,\n  preferred_requisition_id: recipientHint?.preferredRequisitionId || null,\n  candidate_name: candidateName,\n  interview_date: interviewDate,\n  interview_time: interviewTime,\n  inferred_department: inferredDepartment,\n  inferred_applied_position: inferredPosition,\n  has_tentative_scheduling: hasTentativeScheduling,\n  body_text: body.substring(0, 2000),\n};"
        },
        "id": "d265f169-59ed-42a6-a38c-ef5bca944e69",
        "name": "Code：萃取基本資訊",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1824,
          320
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const item = $input.item.json;\nreturn {\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 500,\n  system: [\n    \"你是 HR 信件解析助手，請從信件中萃取結構化資訊並只輸出 JSON。\",\n    \"若無法判定，請保守填 null 或「未知職位」/「未分類」。\",\n    \"intent 僅可輸出 recommend|request_invite|schedule|update_time|cancel|second_schedule|other。\",\n    \"request_invite 代表主管同意邀約但尚未有確定面試時間。\",\n    \"schedule / second_schedule 代表已出現確定面試日期時間。\",\n    \"主旨不是判斷唯一依據；即使主旨是 RE: 履歷推薦，只要內文明確出現已安排的日期時間，仍可判為 schedule。\",\n    \"update_time 代表既有面試改期。\",\n    \"cancel 代表取消面試或取消流程。\",\n    \"若信中只是說 6/18 起可安排、方便時間、可配合時段，這不是 schedule，應偏向 request_invite。\",\n    \"\",\n    \"輸出欄位：\",\n    \"- candidate_name\",\n    \"- applied_position\",\n    \"- department\",\n    \"- interview_date\",\n    \"- interview_time\",\n    \"- round\",\n    \"- location\",\n    \"- hr_owner\",\n    \"- status\",\n    \"- intent\",\n    \"- ai_action_item\"\n  ].join(\"\\n\"),\n  messages: [\n    {\n      role: \"user\",\n      content: \"主旨：\" + (item.email_subject || \"\") + \"\\n\\n內文：\" + (item.body_text || \"\")\n    }\n  ]\n};"
        },
        "id": "code-assemble-claude-body-001",
        "name": "Code：組裝 Claude Request Body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2048,
          320
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "kw-filter",
                "leftValue": "={{ $json.subject }}",
                "rightValue": ".*(面試|面談|初試|複試|面試通知|面談通知|interview|履歷推薦).*",
                "operator": {
                  "type": "string",
                  "operation": "regex"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "210917e7-a74c-49e3-8d4d-afb1c05e6ca7",
        "name": "IF：主旨過濾",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1600,
          448
        ]
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {
            "foldersToInclude": [
              "AAMkADA2Y2U5Yzc0LTMwZjgtNGU1MS1hYWU5LTFjMjA5MDFhM2Q1OQAuAAAAAAATwHe72s8cTYU6NTzQdTNsAQCddaHEqpeLSJK4gY8M9T9SAAAA-bMBAAA=",
              "AAMkADA2Y2U5Yzc0LTMwZjgtNGU1MS1hYWU5LTFjMjA5MDFhM2Q1OQAuAAAAAAATwHe72s8cTYU6NTzQdTNsAQDrOyTdalCqR4oTn0wwCObdAEg2qZyLAAA=",
              "AAMkADA2Y2U5Yzc0LTMwZjgtNGU1MS1hYWU5LTFjMjA5MDFhM2Q1OQAuAAAAAAATwHe72s8cTYU6NTzQdTNsAQDrOyTdalCqR4oTn0wwCObdAEg2qZyMAAA=",
              "AAMkADA2Y2U5Yzc0LTMwZjgtNGU1MS1hYWU5LTFjMjA5MDFhM2Q1OQAuAAAAAAATwHe72s8cTYU6NTzQdTNsAQCddaHEqpeLSJK4gY8M9T9SAAAA-bMDAAA="
            ]
          },
          "options": {
            "downloadAttachments": false
          }
        },
        "id": "a327ac36-b64c-4c1a-9329-748724ede566",
        "name": "Outlook 收信觸發",
        "type": "n8n-nodes-base.microsoftOutlookTrigger",
        "typeVersion": 1,
        "position": [
          1376,
          448
        ],
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "gRnSdH5u4gDyDZzB",
            "name": "Microsoft Outlook account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "function splitCandidateNames(rawValue) {\n  const value = String(rawValue || '').trim();\n  if (!value || value === '未知姓名') return [value || '未知姓名'];\n\n  const cleaned = value\n    .replace(/[()]/g, ' ')\n    .replace(/(?:先生|女士|小姐|同學)/g, '')\n    .replace(/\\s+/g, '');\n\n  const parts = cleaned\n    .split(/[\\/,;、，；]+/)\n    .map((part) => part.trim())\n    .filter(Boolean);\n\n  const names = (parts.length ? parts : [cleaned]).filter((name) => name.length >= 2 && name.length <= 12);\n  return [...new Set(names)];\n}\n\nreturn $input.all().flatMap((entry) => {\n  const item = entry.json || {};\n  const candidateNames = splitCandidateNames(item.candidate_name);\n  const originalEmailMsgId = String(item.email_msg_id || '');\n\n  return candidateNames.map((candidateName, index) => ({\n    json: {\n      ...item,\n      candidate_name: candidateName,\n      original_email_msg_id: originalEmailMsgId,\n      email_msg_id: candidateNames.length > 1 && originalEmailMsgId ? originalEmailMsgId + '#' + (index + 1) : originalEmailMsgId,\n      multi_candidate_total: candidateNames.length,\n      multi_candidate_index: index + 1,\n      multi_candidate_names: candidateNames,\n    }\n  }));\n});"
        },
        "id": "code-split-multi-candidates-001",
        "name": "Code：拆分多人推薦",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2608,
          320
        ]
      }
    ],
    "connections": {
      "Code：非面試信件略過": {
        "main": [
          [
            {
              "node": "PG：記錄略過信件",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG：寫入 interviews": {
        "main": [
          [
            {
              "node": "PG：寫入 email_logs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG：寫入 candidates": {
        "main": [
          [
            {
              "node": "PG：寫入 interviews",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code：整合輸出": {
        "main": [
          [
            {
              "node": "Code：拆分多人推薦",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude：AI 解析意圖": {
        "main": [
          [
            {
              "node": "Code：整合輸出",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code：萃取基本資訊": {
        "main": [
          [
            {
              "node": "Code：組裝 Claude Request Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF：主旨過濾": {
        "main": [
          [
            {
              "node": "Code：萃取基本資訊",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code：非面試信件略過",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Outlook 收信觸發": {
        "main": [
          [
            {
              "node": "IF：主旨過濾",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code：組裝 Claude Request Body": {
        "main": [
          [
            {
              "node": "Claude：AI 解析意圖",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Codeï¼æåå¤äººæ¨è¦": {
        "main": [
          [
            {
              "node": "PGï¼å¯«å¥ candidates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Codeï¼æ´åè¼¸åº": {
        "main": [
          [
            {
              "node": "Codeï¼æåå¤äººæ¨è¦",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code：拆分多人推薦": {
        "main": [
          [
            {
              "node": "PG：寫入 candidates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Huang yu-Wei",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-22T10:23:26.259Z",
        "id": 184,
        "workflowId": "pqnpr72wTiOE2m8I",
        "versionId": "f8ccc7c0-ba3f-439e-9d99-0fb92f2499c5",
        "event": "deactivated",
        "userId": "8daad596-e268-45a9-8bb8-f1065a906fc6"
      },
      {
        "createdAt": "2026-06-22T10:23:26.455Z",
        "id": 185,
        "workflowId": "pqnpr72wTiOE2m8I",
        "versionId": "f8ccc7c0-ba3f-439e-9d99-0fb92f2499c5",
        "event": "activated",
        "userId": "8daad596-e268-45a9-8bb8-f1065a906fc6"
      }
    ]
  }
}
