n8n/live_Workflow3_到職離職.json
{
  "updatedAt": "2026-07-06T07:41:37.337Z",
  "createdAt": "2026-05-20T07:04:02.300Z",
  "id": "zEIwksk6hz9Ri8NA",
  "name": "HR Workflow：到職離職信件自動匯入 (純Regex + 分流防呆版)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "foldersToInclude": [
            "AAMkADA2Y2U5Yzc0LTMwZjgtNGU1MS1hYWU5LTFjMjA5MDFhM2Q1OQAuAAAAAAATwHe72s8cTYU6NTzQdTNsAQCddaHEqpeLSJK4gY8M9T9SAAAA-bMBAAA="
          ]
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "878281e4-42fa-4bad-9703-570c6e31c614",
      "name": "Outlook 收信觸發：到職 (收件匣)",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        2176,
        -128
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "gRnSdH5u4gDyDZzB",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "foldersToInclude": [
            "AAMkADA2Y2U5Yzc0LTMwZjgtNGU1MS1hYWU5LTFjMjA5MDFhM2Q1OQAuAAAAAAATwHe72s8cTYU6NTzQdTNsAQDrOyTdalCqR4oTn0wwCObdAEg2qZyLAAA="
          ]
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "c9a85315-dd08-4bf5-9e3e-b30a3efc89b5",
      "name": "Outlook 收信觸發：離職 (離職資料夾)",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        2176,
        176
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "gRnSdH5u4gDyDZzB",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "subject-new-onboard",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "新進人員通知",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "subject-offer-notice",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "錄取通知事宜",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "171db4fe-05c0-4f30-b480-eed017148f65",
      "name": "IF：過濾新進人員通知",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2448,
        -128
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst rawBody = item.body?.content || item.bodyPreview || '';\nconst body = rawBody\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&#\\d+;/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst subject = item.subject || '';\nconst fallbackYear = String(new Date(item.receivedDateTime || Date.now()).getFullYear());\n\nconst clean = (value) => String(value || '')\n  .replace(/\\s+/g, ' ')\n  .replace(/[□]/g, '')\n  .trim();\n\nconst parseDate = (raw) => {\n  const text = clean(raw).replace(/[()（）一二三四五六日]/g, '');\n  const ymd = text.match(/(\\d{4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,2})/);\n  if (ymd) return ymd[1] + '-' + ymd[2].padStart(2, '0') + '-' + ymd[3].padStart(2, '0');\n  const md = text.match(/(\\d{1,2})[\\/\\-](\\d{1,2})/);\n  if (md) return fallbackYear + '-' + md[1].padStart(2, '0') + '-' + md[2].padStart(2, '0');\n  return null;\n};\n\nconst deptMatch = body.match(/單\\s*位\\s*[：:]\\s*([^\\r\\n□]+)/);\nconst nameMatch = body.match(/姓\\s*名\\s*[：:]\\s*([^\\r\\n□]+)/);\nconst titleMatch = body.match(/職\\s*稱\\s*[：:]\\s*([^\\r\\n□]+)/);\nconst effectiveMatch = body.match(/離\\s*職\\s*生\\s*效\\s*日\\s*[：:]\\s*([^\\r\\n□（(]+)/);\nconst lastDayMatch = body.match(/最\\s*後\\s*上\\s*班\\s*日\\s*[：:]\\s*([^\\r\\n□（(]+)/);\n\nlet department = clean(deptMatch?.[1] || '');\nlet name = clean(nameMatch?.[1] || '');\nlet position = clean(titleMatch?.[1] || '');\nlet last_day = parseDate(effectiveMatch?.[1] || lastDayMatch?.[1] || '');\n\nconst subjectDateMatch = subject.match(/(?:將於|於)\\s*(\\d{4}\\/\\d{1,2}\\/\\d{1,2}|\\d{4}-\\d{1,2}-\\d{1,2})/);\nif (!last_day && subjectDateMatch) {\n  last_day = parseDate(subjectDateMatch[1]);\n}\n\nif (!department || !name) {\n  const subjectMatch = subject.match(/(?:今日)?離職人員通知\\s*[-：:]\\s*([^\\s]+)\\s+([^\\s，,]+)/);\n  if (subjectMatch) {\n    department ||= clean(subjectMatch[1]);\n    name ||= clean(subjectMatch[2]);\n  }\n}\n\nif (!last_day && subject.includes('今日離職人員通知')) {\n  const today = new Date(item.receivedDateTime || Date.now());\n  last_day = [\n    today.getFullYear(),\n    String(today.getMonth() + 1).padStart(2, '0'),\n    String(today.getDate()).padStart(2, '0'),\n  ].join('-');\n}\n\nif (!position) {\n  if (department.includes('文件')) position = '文件專員';\n  else if (department.includes('業務')) position = '業務專員';\n  else if (department.includes('工程')) position = '工程師';\n  else position = '未知職位';\n}\n\nreturn {\n  email_msg_id: item.id,\n  email_subject: subject,\n  email_web_link: item.webLink || null,\n  sender: item.from?.emailAddress?.address || item.from || null,\n  received_at: item.receivedDateTime,\n  source_type: 'resignation',\n  name: name || '未知姓名',\n  department: department || '未分類',\n  position,\n  last_day,\n};"
      },
      "id": "71f201ca-926d-4ce8-bfcd-9b2e7dc709c1",
      "name": "Code：萃取離職資訊",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- person-upsert：同名 pending 收到帶新日期的新進人員通知時更新既有列\nUPDATE onboardings ob SET\n  expected_date = NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE,\n  department = COALESCE(NULLIF('{{ ($json.department || '').replace(/'/g, \"''\") }}', ''), ob.department),\n  position = COALESCE(NULLIF('{{ ($json.position || '').replace(/'/g, \"''\") }}', ''), ob.position),\n  updated_at = NOW()\nWHERE '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}' LIKE '%新進人員通知%'\n  AND NULLIF('{{ $json.scheduled_onboard_date || '' }}', '') IS NOT NULL\n  AND ob.name = '{{ ($json.name || '').replace(/'/g, \"''\") }}'\n  AND ob.status = 'pending'\n  AND ob.email_msg_id <> '{{ $json.email_msg_id || '' }}'\n  AND ob.expected_date IS DISTINCT FROM NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE\n  AND ob.expected_date BETWEEN NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE - 60 AND NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE + 60;\n\nWITH inserted AS (\n  INSERT INTO onboardings (name, department, position, expected_date, status, email_subject, email_msg_id, email_web_link)\n  SELECT\n    '{{ ($json.name || '').replace(/'/g, \"''\") }}',\n    COALESCE(NULLIF('{{ ($json.department || '').replace(/'/g, \"''\") }}', ''), '未分類'),\n    COALESCE(NULLIF('{{ ($json.position || '').replace(/'/g, \"''\") }}', ''), '未知職位'),\n    COALESCE(NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE, CURRENT_DATE),\n    'pending',\n    '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n    '{{ $json.email_msg_id || '' }}',\n    NULLIF('{{ $json.email_web_link || '' }}', '')\n  WHERE NOT EXISTS (\n    SELECT 1 FROM onboardings ob\n    WHERE ob.name = '{{ ($json.name || '').replace(/'/g, \"''\") }}'\n      AND ob.status <> 'cancelled'\n      AND ob.expected_date BETWEEN COALESCE(NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE, CURRENT_DATE) - 60\n                               AND COALESCE(NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE, CURRENT_DATE) + 60\n  )\n  ON CONFLICT (email_msg_id) DO NOTHING\n  RETURNING department, position\n)\nUPDATE job_requisitions j\nSET headcount = GREATEST(j.headcount - 1, 0)\nWHERE j.status = 'open'\n  AND j.headcount > 0\n  AND EXISTS (\n    SELECT 1\n    FROM inserted i\n    WHERE i.department = j.department\n      AND i.position = j.position_title\n  );\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'inserted' AS action, NULL::INTEGER AS candidate_id,\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}' AS email_subject,\n  NULLIF('{{ $json.sender || '' }}', '') AS sender,\n  '{{ $json.received_at || '' }}' AS received_at;",
        "options": {}
      },
      "id": "177e2c15-35cf-4cd3-8976-f1911ddf98c1",
      "name": "PG：寫入 onboardings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3760,
        -128
      ],
      "credentials": {
        "postgres": {
          "id": "NGdDfE2F1YFXGcmn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO resignations (name, department, position, resign_date, last_day, status, email_subject, email_msg_id, email_web_link)\nSELECT\n  '{{ ($json.name || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.department || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.position || '').replace(/'/g, \"''\") }}',\n  COALESCE(NULLIF('{{ $json.last_day || '' }}', '')::DATE, CURRENT_DATE),\n  COALESCE(NULLIF('{{ $json.last_day || '' }}', '')::DATE, CURRENT_DATE),\n  'active',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  '{{ $json.email_msg_id || '' }}',\n  NULLIF('{{ $json.email_web_link || '' }}', '')\nON CONFLICT (email_msg_id) DO NOTHING;\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'inserted' AS action, NULL::INTEGER AS candidate_id,\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}' AS email_subject,\n  NULLIF('{{ $json.sender || '' }}', '') AS sender,\n  '{{ $json.received_at || '' }}' AS received_at;",
        "options": {}
      },
      "id": "64110571-f499-4045-ac05-25982d1ab97e",
      "name": "PG：寫入 resignations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3520,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "NGdDfE2F1YFXGcmn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO email_logs (email_msg_id, email_subject, sender, received_at, action, candidate_id)\nSELECT\n  '{{ $json.email_msg_id || '' }}',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  NULLIF('{{ $json.sender || '' }}', ''),\n  COALESCE(NULLIF('{{ $json.received_at || '' }}', '')::TIMESTAMPTZ, NOW()),\n  'inserted',\n  NULL\nON CONFLICT (email_msg_id) DO UPDATE SET\n  action = 'updated', processed_at = NOW();\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'log_inserted' AS status;",
        "options": {}
      },
      "id": "8a85255a-4e76-4306-9f6a-4af77c64c66f",
      "name": "PG：到職 email_logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3984,
        -128
      ],
      "credentials": {
        "postgres": {
          "id": "NGdDfE2F1YFXGcmn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO email_logs (email_msg_id, email_subject, sender, received_at, action, candidate_id)\nSELECT\n  '{{ $json.email_msg_id || '' }}',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  NULLIF('{{ $json.sender || '' }}', ''),\n  COALESCE(NULLIF('{{ $json.received_at || '' }}', '')::TIMESTAMPTZ, NOW()),\n  'inserted',\n  NULL\nON CONFLICT (email_msg_id) DO UPDATE SET\n  action = 'updated', processed_at = NOW();\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'log_inserted' AS status;",
        "options": {}
      },
      "id": "a736fdb8-2f8f-40b9-a288-5a15e575504a",
      "name": "PG：離職 email_logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3744,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "NGdDfE2F1YFXGcmn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nconst subject = item.subject || '';\nconst rawBody = item.body?.content || item.bodyPreview || '';\nconst body = rawBody\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&#\\d+;/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst parts = subject.split('-');\nconst candidate = parts[parts.length - 1].trim();\nconst name_from_subject = (candidate.length >= 2 && candidate.length <= 5) ? candidate : null;\n\nreturn {\n  email_msg_id: item.id,\n  email_subject: subject,\n  email_web_link: item.webLink || null,\n  sender: item.from?.emailAddress?.address || null,\n  received_at: item.receivedDateTime,\n  source_type: 'onboarding',\n  name_from_subject,\n  body_text: body.substring(0, 2000),\n};"
      },
      "id": "code-name-from-subject-001",
      "name": "Code：萃取 name_from_subject",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -128
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nreturn {\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 400,\n  system: \"You are an HR email parser for onboarding notices. Return pure JSON only.\\nHR owners: Peggy, Yen, Evan.\\n\\nOutput fields:\\n- intent: new_onboard | update_date | cancel | skip\\n- name: candidate name. Prefer the last segment after '-' in subject when it is clearly a person name; otherwise infer from body.\\n- scheduled_onboard_date: onboarding date in YYYY-MM-DD\\n- department: department text from the email, or null\\n- position: title text from the email, or null\\n- hr_owner: HR owner name, or null\\n\\nRules:\\n1. Do not skip a message only because the subject starts with RE:. Read the body first.\\n2. If the body says the onboarding date/time was adjusted, delayed, changed, moved, postponed, or contains wording like \\u6539\\u70ba, \\u6539\\u5230, \\u5ef6\\u5f8c, \\u5ef6\\u81f3, \\u66f4\\u6539\\u5831\\u5230, \\u8abf\\u6574\\u5831\\u5230, then intent = update_date.\\n3. If the message is only an acknowledgement, attachment submission, receipt confirmation, or generic reply without a new onboarding date, then intent = skip.\\n4. If the message is a fresh offer/onboarding notice, intent = new_onboard.\\n5. Even for reply threads, if the latest body contains a new onboarding date, return update_date and that newest date.\",\n  messages: [\n    {\n      role: \"user\",\n      content: \"Subject: \" + item.email_subject + \"\\n\\n\" + item.body_text\n    }\n  ]\n};"
      },
      "id": "code-assemble-onboard-ai-001",
      "name": "Code：組裝 Onboarding AI Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        -128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1500
            }
          }
        }
      },
      "id": "http-onboard-claude-001",
      "name": "Claude：解析 Onboarding 意圖",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3088,
        -128
      ],
      "credentials": {
        "anthropicApi": {
          "id": "y6zxdCqqBzmwq5bi",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const base = $('Code：萃取 name_from_subject').item.json;\nlet aiResult = {};\ntry {\n  const raw = $input.item.json.content;\n  const text = Array.isArray(raw) ? (raw[0]?.text || '') : (typeof raw === 'string' ? raw : '');\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) aiResult = JSON.parse(match[0]);\n} catch (e) {}\n\nlet regexDate = null;\nconst bodyText = base.body_text || '';\nconst fallbackYear = String(new Date(base.received_at || Date.now()).getFullYear());\nconst datePatterns = [\n  { re: /(?:\\u6539\\u70ba|\\u6539\\u5230|\\u5ef6\\u5f8c\\u5230|\\u5ef6\\u81f3|\\u9806\\u5ef6\\u81f3|\\u66f4\\u6539\\u5831\\u5230(?:\\u65e5\\u671f|\\u6642\\u9593)?\\u70ba?|\\u8abf\\u6574\\u5831\\u5230(?:\\u65e5\\u671f|\\u6642\\u9593)?\\u70ba?)\\s*(\\d{4})[\\/\\-\\u5e74](\\d{1,2})[\\/\\-\\u6708](\\d{1,2})/, fn: m => m[1]+'-'+m[2].padStart(2,'0')+'-'+m[3].padStart(2,'0') },\n  { re: /(?:\\u6539\\u70ba|\\u6539\\u5230|\\u5ef6\\u5f8c\\u5230|\\u5ef6\\u81f3|\\u9806\\u5ef6\\u81f3|\\u66f4\\u6539\\u5831\\u5230(?:\\u65e5\\u671f|\\u6642\\u9593)?\\u70ba?|\\u8abf\\u6574\\u5831\\u5230(?:\\u65e5\\u671f|\\u6642\\u9593)?\\u70ba?)\\s*(\\d{1,2})[\\/\\-\\u6708](\\d{1,2})/, fn: m => fallbackYear+'-'+m[1].padStart(2,'0')+'-'+m[2].padStart(2,'0') },\n  { re: /\\u5831\\u5230\\u65e5\\u671f[\\uff1a:]\\s*(\\d{4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,2})/, fn: m => m[1]+'-'+m[2].padStart(2,'0')+'-'+m[3].padStart(2,'0') },\n  { re: /\\u9810\\u5b9a\\u5831\\u5230\\u65e5\\u671f[\\uff1a:]\\s*(\\d{4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,2})/, fn: m => m[1]+'-'+m[2].padStart(2,'0')+'-'+m[3].padStart(2,'0') },\n  { re: /\\u5831\\u5230\\u65e5\\u671f[\\uff1a:]\\s*(\\d{4})\\u5e74(\\d{1,2})\\u6708(\\d{1,2})\\u65e5/, fn: m => m[1]+'-'+m[2].padStart(2,'0')+'-'+m[3].padStart(2,'0') },\n  { re: /\\u9810\\u5b9a\\u5831\\u5230\\u65e5\\u671f[\\uff1a:]\\s*(\\d{4})\\u5e74(\\d{1,2})\\u6708(\\d{1,2})\\u65e5/, fn: m => m[1]+'-'+m[2].padStart(2,'0')+'-'+m[3].padStart(2,'0') },\n];\nfor (const { re, fn } of datePatterns) {\n  const m = bodyText.match(re);\n  if (m) {\n    regexDate = fn(m);\n    break;\n  }\n}\n\nfunction normalizeText(value) {\n  return String(value || '')\n    .replace(/\\s+/g, '')\n    .replace(/[()（）【】\\[\\]\\/]/g, '')\n    .trim();\n}\n\nfunction hasAny(text, keywords) {\n  return keywords.some((keyword) => text.includes(keyword));\n}\n\nfunction buildKeywordText(rawDepartment, rawPosition, emailSubject) {\n  return normalizeText(`${rawDepartment} ${rawPosition} ${emailSubject}`);\n}\n\nfunction canonicalizeDepartment(rawDepartment, context = {}) {\n  const keywordText = buildKeywordText(rawDepartment, context.rawPosition, context.emailSubject);\n\n  if (hasAny(keywordText, ['全球檢測', 'ICC'])) {\n    if (hasAny(keywordText, ['技術支援部', '案件專員', '案件管理'])) return 'ICC / 技術支援部';\n    if (hasAny(keywordText, ['業務部', '客服業務'])) return 'ICC / 業務部';\n    if (hasAny(keywordText, ['工程部', '測試工程師'])) return 'ICC / 工程部';\n    return 'ICC';\n  }\n\n  if (hasAny(keywordText, ['國際標準認證事業五部', 'WBU', '五部'])) {\n    if (hasAny(keywordText, ['RF工程一部'])) {\n      if (hasAny(keywordText, ['案件專員', '案件管理'])) return 'WBU / PM';\n      return 'WBU / RF工程一部';\n    }\n    if (hasAny(keywordText, ['SAR工程部'])) return 'WBU / SAR工程部';\n    if (hasAny(keywordText, ['場測工程部'])) return 'WBU / 場測工程部';\n    if (hasAny(keywordText, ['國際認證一部', '認證專員'])) return 'WBU / 國際認證一部';\n    if (hasAny(keywordText, ['案件管理', 'RFPM', 'PM'])) return 'WBU / PM';\n    if (hasAny(keywordText, ['業務部', '業務助理', '業務專員', '北區業務', '儲備業務', '客服業務'])) return 'WBU / 業務部';\n    return 'WBU';\n  }\n\n  if (hasAny(keywordText, ['新華'])) {\n    if (hasAny(keywordText, ['工程文件部', '工程文件', '文件組', '文件專員'])) {\n      return '新華 / 工程 / 文件部 / 文件組';\n    }\n    if (hasAny(keywordText, ['業務三部', '客服業務'])) return '新華 / 業務三部';\n    if (hasAny(keywordText, ['RF工程組'])) return '新華 / RF工程組';\n    if (hasAny(keywordText, ['EMC工程組'])) return '新華 / EMC工程組';\n    if (hasAny(keywordText, ['案件專員', 'PM'])) return '新華 / PM';\n    if (hasAny(keywordText, ['業務部', '助理業務', '業務助理'])) return '新華 / 業務部';\n    return '新華';\n  }\n\n  if (hasAny(keywordText, ['新竹'])) {\n    if (hasAny(keywordText, ['工程部', '測試工程師', '工程師'])) return '新竹 / 工程部';\n    if (hasAny(keywordText, ['業務部', '助理業務', '業務助理'])) return '新竹 / 業務部';\n    return '新竹';\n  }\n\n  if (hasAny(keywordText, ['安規'])) {\n    if (hasAny(keywordText, ['電池'])) return '安規';\n    if (hasAny(keywordText, ['業務部', '助理業務', '業務助理'])) return '安規 / 安規業務部';\n    return '安規';\n  }\n\n  if (hasAny(keywordText, ['零件'])) {\n    if (hasAny(keywordText, ['製造部'])) return '零件 / 製造部';\n    if (hasAny(keywordText, ['品保部'])) return '零件 / 品保部';\n    if (hasAny(keywordText, ['業務部'])) return '零件 / 業務部';\n    return '零件';\n  }\n\n  if (hasAny(keywordText, ['董事長室'])) return '行政 / 董事長室';\n  if (hasAny(keywordText, ['財務部'])) return '行政 / 財務部';\n  if (hasAny(keywordText, ['資訊部', 'MIS', 'ERP', 'AI開發', '軟體工程師'])) return '行政 / 資訊部';\n  if (hasAny(keywordText, ['品管部', '品管人員', '品管工程師', '驗證人員'])) return '行政 / 品管部';\n  if (hasAny(keywordText, ['行政'])) return '行政';\n\n  if (hasAny(keywordText, ['北區業務', '儲備業務'])) return 'WBU / 業務部';\n\n  return String(rawDepartment || '').trim() || null;\n}\n\nfunction canonicalizePosition(rawPosition, context = {}) {\n  const rawPositionText = String(rawPosition || '').trim();\n  const keywordText = buildKeywordText(context.rawDepartment || context.department, rawPosition, context.emailSubject);\n  const canonicalDepartment = canonicalizeDepartment(context.department || context.rawDepartment, {\n    ...context,\n    rawPosition,\n  });\n\n  if (canonicalDepartment === 'ICC / 技術支援部') return '案件專員';\n  if (canonicalDepartment === 'ICC / 工程部') return '測試工程師';\n  if (canonicalDepartment === 'ICC / 業務部') return '客服業務';\n\n  if (canonicalDepartment === 'WBU / PM') return 'PM';\n  if (canonicalDepartment === 'WBU / 國際認證一部') return '認證專員';\n  if (canonicalDepartment === 'WBU / 業務部') {\n    if (hasAny(keywordText, ['客服業務'])) return '客服業務';\n    if (hasAny(keywordText, ['業務助理'])) return '業務助理';\n    if (hasAny(keywordText, ['業務專員', '助理業務', '北區業務', '儲備業務'])) return '業務專員';\n  }\n  if (canonicalDepartment === 'WBU / RF工程一部') {\n    if (hasAny(keywordText, ['美國子公司外派工程師'])) return '美國子公司外派工程師';\n    if (hasAny(keywordText, ['文件專員假日班', '文件專員假日'])) return '文件專員(假日班)';\n    if (hasAny(keywordText, ['文件專員'])) return '文件專員';\n    if (hasAny(keywordText, ['工程助理'])) return '工程助理';\n    if (hasAny(keywordText, ['實習工程師', '測試工程師', '工程師'])) return '測試工程師';\n  }\n  if (canonicalDepartment === 'WBU / SAR工程部') {\n    if (hasAny(keywordText, ['工程助理'])) return '工程助理';\n    if (hasAny(keywordText, ['文件專員', 'SAR文件'])) return '文件專員';\n    if (hasAny(keywordText, ['測試工程師', 'SAR工程師', '工程師'])) return '測試工程師';\n  }\n  if (canonicalDepartment === 'WBU / 場測工程部') return '測試工程師';\n\n  if (canonicalDepartment === '新華 / 業務三部') return '客服業務';\n  if (canonicalDepartment === '新華 / 工程 / 文件部 / 文件組') return '文件專員';\n  if (canonicalDepartment === '新華 / RF工程組') return '測試工程師';\n  if (canonicalDepartment === '新華 / EMC工程組') return '測試工程師';\n  if (canonicalDepartment === '新華 / 業務部') return '助理業務/業務';\n  if (canonicalDepartment === '新華 / PM') return 'PM';\n\n  if (canonicalDepartment === '新竹 / 工程部') return '測試工程師(RF/EMC)';\n  if (canonicalDepartment === '新竹 / 業務部') return '助理業務/業務';\n\n  if (canonicalDepartment === '安規 / 安規業務部') {\n    if (hasAny(keywordText, ['業務助理'])) return '業務助理(David)';\n    if (hasAny(keywordText, ['助理業務', '業務'])) return '助理業務/業務';\n  }\n  if (canonicalDepartment === '安規' && hasAny(keywordText, ['電池', '工程師'])) return '電池案件工程師';\n\n  if (canonicalDepartment === '行政 / 董事長室') return '行政專員';\n  if (canonicalDepartment === '行政 / 財務部') {\n    if (hasAny(keywordText, ['出納', '職務代理', '職代'])) return '出納短期職代';\n    if (hasAny(keywordText, ['副理'])) return '副理';\n    if (hasAny(keywordText, ['主任'])) return '主任';\n  }\n  if (canonicalDepartment === '行政 / 資訊部') {\n    if (hasAny(keywordText, ['AI開發'])) return '軟體工程師(AI開發)';\n    if (hasAny(keywordText, ['ERP', '開發維運'])) return '軟體工程師(ERP開發維運)';\n    if (hasAny(keywordText, ['MIS'])) return 'MIS工程師';\n  }\n  if (canonicalDepartment === '行政 / 品管部') {\n    if (hasAny(keywordText, ['驗證'])) return '驗證人員';\n    if (hasAny(keywordText, ['品管'])) return '品管人員';\n  }\n\n  return rawPositionText || null;\n}\n\nconst rawDepartment = aiResult.department || null;\nconst rawPosition = aiResult.position || null;\nconst canonicalDepartment = canonicalizeDepartment(rawDepartment, { emailSubject: base.email_subject, rawPosition });\nconst canonicalPosition = canonicalizePosition(rawPosition, { emailSubject: base.email_subject, department: canonicalDepartment, rawDepartment });\n\nfunction guardOnboardYear(dateStr, receivedAt) {\n  if (!dateStr) return null;\n  const m = String(dateStr).match(/^(\\d{4})-(\\d{2})-(\\d{2})$/);\n  if (!m) return dateStr;\n  const receivedYear = new Date(receivedAt || Date.now()).getFullYear();\n  let year = Number(m[1]);\n  if (year < receivedYear) year = receivedYear;\n  if (year > receivedYear + 1) year = receivedYear + 1;\n  return year + '-' + m[2] + '-' + m[3];\n}\n\nreturn {\n  email_msg_id: base.email_msg_id,\n  email_subject: base.email_subject,\n  email_web_link: base.email_web_link,\n  sender: base.sender,\n  received_at: base.received_at,\n  source_type: 'onboarding',\n  name: base.name_from_subject || aiResult.name || '未知姓名',\n  scheduled_onboard_date: guardOnboardYear(regexDate || aiResult.scheduled_onboard_date || null, base.received_at),\n  raw_department: rawDepartment,\n  raw_position: rawPosition,\n  department: canonicalDepartment || rawDepartment,\n  position: canonicalPosition || rawPosition,\n  hr_owner: aiResult.hr_owner || null,\n  intent: aiResult.intent || 'new_onboard',\n};\n"
      },
      "id": "code-integrate-onboard-001",
      "name": "Code：整合 Onboarding 輸出",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        -128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "intent-check",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "new_onboard",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-intent-new-onboard-001",
      "name": "IF：intent=new_onboard?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3536,
        -128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "intent-check",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "update_date",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-intent-update-date-001",
      "name": "IF：intent=update_date?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3536,
        -32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "intent-check",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "cancel",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-intent-cancel-001",
      "name": "IF：intent=cancel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3536,
        64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE onboardings\nSET expected_date = COALESCE(NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE, expected_date),\n    updated_at = NOW()\nWHERE name = '{{ ($json.name || '').replace(/'/g, \"''\") }}'\n  AND status = 'pending';\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'updated' AS action, NULL::INTEGER AS candidate_id,\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}' AS email_subject,\n  NULLIF('{{ $json.sender || '' }}', '') AS sender,\n  '{{ $json.received_at || '' }}' AS received_at;",
        "options": {}
      },
      "id": "pg-update-onboard-date-001",
      "name": "PG：UPDATE onboarding date",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3760,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "NGdDfE2F1YFXGcmn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE onboardings\nSET status = 'cancelled', updated_at = NOW()\nWHERE name = '{{ ($json.name || '').replace(/'/g, \"''\") }}'\n  AND status = 'pending';\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'updated' AS action, NULL::INTEGER AS candidate_id,\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}' AS email_subject,\n  NULLIF('{{ $json.sender || '' }}', '') AS sender,\n  '{{ $json.received_at || '' }}' AS received_at;",
        "options": {}
      },
      "id": "pg-cancel-onboard-001",
      "name": "PG：UPDATE onboarding cancel",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3760,
        64
      ],
      "credentials": {
        "postgres": {
          "id": "NGdDfE2F1YFXGcmn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO email_logs (email_msg_id, email_subject, sender, received_at, action, candidate_id)\nSELECT\n  '{{ $json.email_msg_id || '' }}',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  NULLIF('{{ $json.sender || '' }}', ''),\n  COALESCE(NULLIF('{{ $json.received_at || '' }}', '')::TIMESTAMPTZ, NOW()),\n  'skipped',\n  NULL\nON CONFLICT (email_msg_id) DO UPDATE SET\n  action = 'skipped', processed_at = NOW();\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'log_inserted' AS status;",
        "options": {}
      },
      "id": "pg-onboard-logs-skip-001",
      "name": "PG：到職 email_logs skip",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3760,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "NGdDfE2F1YFXGcmn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO email_logs (email_msg_id, email_subject, sender, received_at, action, candidate_id)\nSELECT\n  '{{ $json.email_msg_id || '' }}',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  NULLIF('{{ $json.sender || '' }}', ''),\n  COALESCE(NULLIF('{{ $json.received_at || '' }}', '')::TIMESTAMPTZ, NOW()),\n  '{{ $json.action || 'inserted' }}',\n  NULL\nON CONFLICT (email_msg_id) DO UPDATE SET\n  action = EXCLUDED.action, processed_at = NOW();\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'log_inserted' AS status;",
        "options": {}
      },
      "id": "pg-onboard-logs-update-001",
      "name": "PG：到職 email_logs_update",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3984,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "NGdDfE2F1YFXGcmn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO email_logs (email_msg_id, email_subject, sender, received_at, action, candidate_id)\nSELECT\n  '{{ $json.email_msg_id || '' }}',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  NULLIF('{{ $json.sender || '' }}', ''),\n  COALESCE(NULLIF('{{ $json.received_at || '' }}', '')::TIMESTAMPTZ, NOW()),\n  '{{ $json.action || 'inserted' }}',\n  NULL\nON CONFLICT (email_msg_id) DO UPDATE SET\n  action = EXCLUDED.action, processed_at = NOW();\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'log_inserted' AS status;",
        "options": {}
      },
      "id": "pg-onboard-logs-cancel-001",
      "name": "PG：到職 email_logs_cancel",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3984,
        64
      ],
      "credentials": {
        "postgres": {
          "id": "NGdDfE2F1YFXGcmn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "foldersToInclude": [
            "AAMkADA2Y2U5Yzc0LTMwZjgtNGU1MS1hYWU5LTFjMjA5MDFhM2Q1OQAuAAAAAAATwHe72s8cTYU6NTzQdTNsAQCddaHEqpeLSJK4gY8M9T9SAAAA-bMDAAA="
          ]
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "c2f1788f-c2b9-4a80-b7ae-sentbackup001",
      "name": "Outlook 收信觸發：到職 (寄件備份)",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        2176,
        -320
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "gRnSdH5u4gDyDZzB",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "connections": {
    "Outlook 收信觸發：到職 (收件匣)": {
      "main": [
        [
          {
            "node": "IF：過濾新進人員通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF：過濾新進人員通知": {
      "main": [
        [
          {
            "node": "Code：萃取 name_from_subject",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code：萃取 name_from_subject": {
      "main": [
        [
          {
            "node": "Code：組裝 Onboarding AI Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code：組裝 Onboarding AI Body": {
      "main": [
        [
          {
            "node": "Claude：解析 Onboarding 意圖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude：解析 Onboarding 意圖": {
      "main": [
        [
          {
            "node": "Code：整合 Onboarding 輸出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code：整合 Onboarding 輸出": {
      "main": [
        [
          {
            "node": "IF：intent=new_onboard?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF：intent=new_onboard?": {
      "main": [
        [
          {
            "node": "PG：寫入 onboardings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF：intent=update_date?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG：寫入 onboardings": {
      "main": [
        [
          {
            "node": "PG：到職 email_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG：離職 email_logs": {
      "main": [
        []
      ]
    },
    "IF：intent=update_date?": {
      "main": [
        [
          {
            "node": "PG：UPDATE onboarding date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF：intent=cancel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG：UPDATE onboarding date": {
      "main": [
        [
          {
            "node": "PG：到職 email_logs_update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG：到職 email_logs_update": {
      "main": [
        []
      ]
    },
    "IF：intent=cancel?": {
      "main": [
        [
          {
            "node": "PG：UPDATE onboarding cancel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG：到職 email_logs skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG：UPDATE onboarding cancel": {
      "main": [
        [
          {
            "node": "PG：到職 email_logs_cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG：到職 email_logs_cancel": {
      "main": [
        []
      ]
    },
    "PG：到職 email_logs skip": {
      "main": [
        []
      ]
    },
    "Outlook 收信觸發：離職 (離職資料夾)": {
      "main": [
        [
          {
            "node": "Code：萃取離職資訊",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code：萃取離職資訊": {
      "main": [
        [
          {
            "node": "PG：寫入 resignations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG：寫入 resignations": {
      "main": [
        [
          {
            "node": "PG：離職 email_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outlook 收信觸發：到職 (寄件備份)": {
      "main": [
        [
          {
            "node": "IF：過濾新進人員通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "errorWorkflow": "IwBeD1aQaqpBcxFx"
  },
  "staticData": {},
  "meta": null,
  "pinData": {},
  "versionId": "a68cfa08-3d8d-418a-b165-7e0165fc4eee",
  "activeVersionId": "a68cfa08-3d8d-418a-b165-7e0165fc4eee",
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2026-05-20T07:04:02.300Z",
      "createdAt": "2026-05-20T07:04:02.300Z",
      "role": "workflow:owner",
      "workflowId": "zEIwksk6hz9Ri8NA",
      "projectId": "NvjFEev0823h2STF",
      "project": {
        "updatedAt": "2026-05-15T07:57:49.399Z",
        "createdAt": "2026-05-15T07:52:05.149Z",
        "id": "NvjFEev0823h2STF",
        "name": "Huang yu-Wei <pkpk70532@yahoo.com.tw>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8daad596-e268-45a9-8bb8-f1065a906fc6"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-15T10:18:59.545Z",
      "createdAt": "2026-05-15T10:18:59.545Z",
      "id": "yP9PPTGVL9VqZ3jM",
      "name": "HR"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-07-06T07:41:37.338Z",
    "createdAt": "2026-07-06T07:41:37.338Z",
    "versionId": "a68cfa08-3d8d-418a-b165-7e0165fc4eee",
    "workflowId": "zEIwksk6hz9Ri8NA",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {
            "foldersToInclude": [
              "AAMkADA2Y2U5Yzc0LTMwZjgtNGU1MS1hYWU5LTFjMjA5MDFhM2Q1OQAuAAAAAAATwHe72s8cTYU6NTzQdTNsAQCddaHEqpeLSJK4gY8M9T9SAAAA-bMBAAA="
            ]
          },
          "options": {
            "downloadAttachments": false
          }
        },
        "id": "878281e4-42fa-4bad-9703-570c6e31c614",
        "name": "Outlook 收信觸發：到職 (收件匣)",
        "type": "n8n-nodes-base.microsoftOutlookTrigger",
        "typeVersion": 1,
        "position": [
          2176,
          -128
        ],
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "gRnSdH5u4gDyDZzB",
            "name": "Microsoft Outlook account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {
            "foldersToInclude": [
              "AAMkADA2Y2U5Yzc0LTMwZjgtNGU1MS1hYWU5LTFjMjA5MDFhM2Q1OQAuAAAAAAATwHe72s8cTYU6NTzQdTNsAQDrOyTdalCqR4oTn0wwCObdAEg2qZyLAAA="
            ]
          },
          "options": {
            "downloadAttachments": false
          }
        },
        "id": "c9a85315-dd08-4bf5-9e3e-b30a3efc89b5",
        "name": "Outlook 收信觸發：離職 (離職資料夾)",
        "type": "n8n-nodes-base.microsoftOutlookTrigger",
        "typeVersion": 1,
        "position": [
          2176,
          176
        ],
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "gRnSdH5u4gDyDZzB",
            "name": "Microsoft Outlook account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "subject-new-onboard",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "新進人員通知",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              },
              {
                "id": "subject-offer-notice",
                "leftValue": "={{ $json.subject }}",
                "rightValue": "錄取通知事宜",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "id": "171db4fe-05c0-4f30-b480-eed017148f65",
        "name": "IF：過濾新進人員通知",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2448,
          -128
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const item = $input.item.json;\nconst rawBody = item.body?.content || item.bodyPreview || '';\nconst body = rawBody\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&#\\d+;/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst subject = item.subject || '';\nconst fallbackYear = String(new Date(item.receivedDateTime || Date.now()).getFullYear());\n\nconst clean = (value) => String(value || '')\n  .replace(/\\s+/g, ' ')\n  .replace(/[□]/g, '')\n  .trim();\n\nconst parseDate = (raw) => {\n  const text = clean(raw).replace(/[()（）一二三四五六日]/g, '');\n  const ymd = text.match(/(\\d{4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,2})/);\n  if (ymd) return ymd[1] + '-' + ymd[2].padStart(2, '0') + '-' + ymd[3].padStart(2, '0');\n  const md = text.match(/(\\d{1,2})[\\/\\-](\\d{1,2})/);\n  if (md) return fallbackYear + '-' + md[1].padStart(2, '0') + '-' + md[2].padStart(2, '0');\n  return null;\n};\n\nconst deptMatch = body.match(/單\\s*位\\s*[：:]\\s*([^\\r\\n□]+)/);\nconst nameMatch = body.match(/姓\\s*名\\s*[：:]\\s*([^\\r\\n□]+)/);\nconst titleMatch = body.match(/職\\s*稱\\s*[：:]\\s*([^\\r\\n□]+)/);\nconst effectiveMatch = body.match(/離\\s*職\\s*生\\s*效\\s*日\\s*[：:]\\s*([^\\r\\n□（(]+)/);\nconst lastDayMatch = body.match(/最\\s*後\\s*上\\s*班\\s*日\\s*[：:]\\s*([^\\r\\n□（(]+)/);\n\nlet department = clean(deptMatch?.[1] || '');\nlet name = clean(nameMatch?.[1] || '');\nlet position = clean(titleMatch?.[1] || '');\nlet last_day = parseDate(effectiveMatch?.[1] || lastDayMatch?.[1] || '');\n\nconst subjectDateMatch = subject.match(/(?:將於|於)\\s*(\\d{4}\\/\\d{1,2}\\/\\d{1,2}|\\d{4}-\\d{1,2}-\\d{1,2})/);\nif (!last_day && subjectDateMatch) {\n  last_day = parseDate(subjectDateMatch[1]);\n}\n\nif (!department || !name) {\n  const subjectMatch = subject.match(/(?:今日)?離職人員通知\\s*[-：:]\\s*([^\\s]+)\\s+([^\\s，,]+)/);\n  if (subjectMatch) {\n    department ||= clean(subjectMatch[1]);\n    name ||= clean(subjectMatch[2]);\n  }\n}\n\nif (!last_day && subject.includes('今日離職人員通知')) {\n  const today = new Date(item.receivedDateTime || Date.now());\n  last_day = [\n    today.getFullYear(),\n    String(today.getMonth() + 1).padStart(2, '0'),\n    String(today.getDate()).padStart(2, '0'),\n  ].join('-');\n}\n\nif (!position) {\n  if (department.includes('文件')) position = '文件專員';\n  else if (department.includes('業務')) position = '業務專員';\n  else if (department.includes('工程')) position = '工程師';\n  else position = '未知職位';\n}\n\nreturn {\n  email_msg_id: item.id,\n  email_subject: subject,\n  email_web_link: item.webLink || null,\n  sender: item.from?.emailAddress?.address || item.from || null,\n  received_at: item.receivedDateTime,\n  source_type: 'resignation',\n  name: name || '未知姓名',\n  department: department || '未分類',\n  position,\n  last_day,\n};"
        },
        "id": "71f201ca-926d-4ce8-bfcd-9b2e7dc709c1",
        "name": "Code：萃取離職資訊",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2640,
          176
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- person-upsert：同名 pending 收到帶新日期的新進人員通知時更新既有列\nUPDATE onboardings ob SET\n  expected_date = NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE,\n  department = COALESCE(NULLIF('{{ ($json.department || '').replace(/'/g, \"''\") }}', ''), ob.department),\n  position = COALESCE(NULLIF('{{ ($json.position || '').replace(/'/g, \"''\") }}', ''), ob.position),\n  updated_at = NOW()\nWHERE '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}' LIKE '%新進人員通知%'\n  AND NULLIF('{{ $json.scheduled_onboard_date || '' }}', '') IS NOT NULL\n  AND ob.name = '{{ ($json.name || '').replace(/'/g, \"''\") }}'\n  AND ob.status = 'pending'\n  AND ob.email_msg_id <> '{{ $json.email_msg_id || '' }}'\n  AND ob.expected_date IS DISTINCT FROM NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE\n  AND ob.expected_date BETWEEN NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE - 60 AND NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE + 60;\n\nWITH inserted AS (\n  INSERT INTO onboardings (name, department, position, expected_date, status, email_subject, email_msg_id, email_web_link)\n  SELECT\n    '{{ ($json.name || '').replace(/'/g, \"''\") }}',\n    COALESCE(NULLIF('{{ ($json.department || '').replace(/'/g, \"''\") }}', ''), '未分類'),\n    COALESCE(NULLIF('{{ ($json.position || '').replace(/'/g, \"''\") }}', ''), '未知職位'),\n    COALESCE(NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE, CURRENT_DATE),\n    'pending',\n    '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n    '{{ $json.email_msg_id || '' }}',\n    NULLIF('{{ $json.email_web_link || '' }}', '')\n  WHERE NOT EXISTS (\n    SELECT 1 FROM onboardings ob\n    WHERE ob.name = '{{ ($json.name || '').replace(/'/g, \"''\") }}'\n      AND ob.status <> 'cancelled'\n      AND ob.expected_date BETWEEN COALESCE(NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE, CURRENT_DATE) - 60\n                               AND COALESCE(NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE, CURRENT_DATE) + 60\n  )\n  ON CONFLICT (email_msg_id) DO NOTHING\n  RETURNING department, position\n)\nUPDATE job_requisitions j\nSET headcount = GREATEST(j.headcount - 1, 0)\nWHERE j.status = 'open'\n  AND j.headcount > 0\n  AND EXISTS (\n    SELECT 1\n    FROM inserted i\n    WHERE i.department = j.department\n      AND i.position = j.position_title\n  );\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'inserted' AS action, NULL::INTEGER AS candidate_id,\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}' AS email_subject,\n  NULLIF('{{ $json.sender || '' }}', '') AS sender,\n  '{{ $json.received_at || '' }}' AS received_at;",
          "options": {}
        },
        "id": "177e2c15-35cf-4cd3-8976-f1911ddf98c1",
        "name": "PG：寫入 onboardings",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3760,
          -128
        ],
        "credentials": {
          "postgres": {
            "id": "NGdDfE2F1YFXGcmn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO resignations (name, department, position, resign_date, last_day, status, email_subject, email_msg_id, email_web_link)\nSELECT\n  '{{ ($json.name || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.department || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.position || '').replace(/'/g, \"''\") }}',\n  COALESCE(NULLIF('{{ $json.last_day || '' }}', '')::DATE, CURRENT_DATE),\n  COALESCE(NULLIF('{{ $json.last_day || '' }}', '')::DATE, CURRENT_DATE),\n  'active',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  '{{ $json.email_msg_id || '' }}',\n  NULLIF('{{ $json.email_web_link || '' }}', '')\nON CONFLICT (email_msg_id) DO NOTHING;\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'inserted' AS action, NULL::INTEGER AS candidate_id,\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}' AS email_subject,\n  NULLIF('{{ $json.sender || '' }}', '') AS sender,\n  '{{ $json.received_at || '' }}' AS received_at;",
          "options": {}
        },
        "id": "64110571-f499-4045-ac05-25982d1ab97e",
        "name": "PG：寫入 resignations",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3520,
          176
        ],
        "credentials": {
          "postgres": {
            "id": "NGdDfE2F1YFXGcmn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO email_logs (email_msg_id, email_subject, sender, received_at, action, candidate_id)\nSELECT\n  '{{ $json.email_msg_id || '' }}',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  NULLIF('{{ $json.sender || '' }}', ''),\n  COALESCE(NULLIF('{{ $json.received_at || '' }}', '')::TIMESTAMPTZ, NOW()),\n  'inserted',\n  NULL\nON CONFLICT (email_msg_id) DO UPDATE SET\n  action = 'updated', processed_at = NOW();\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'log_inserted' AS status;",
          "options": {}
        },
        "id": "8a85255a-4e76-4306-9f6a-4af77c64c66f",
        "name": "PG：到職 email_logs",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3984,
          -128
        ],
        "credentials": {
          "postgres": {
            "id": "NGdDfE2F1YFXGcmn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO email_logs (email_msg_id, email_subject, sender, received_at, action, candidate_id)\nSELECT\n  '{{ $json.email_msg_id || '' }}',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  NULLIF('{{ $json.sender || '' }}', ''),\n  COALESCE(NULLIF('{{ $json.received_at || '' }}', '')::TIMESTAMPTZ, NOW()),\n  'inserted',\n  NULL\nON CONFLICT (email_msg_id) DO UPDATE SET\n  action = 'updated', processed_at = NOW();\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'log_inserted' AS status;",
          "options": {}
        },
        "id": "a736fdb8-2f8f-40b9-a288-5a15e575504a",
        "name": "PG：離職 email_logs",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3744,
          176
        ],
        "credentials": {
          "postgres": {
            "id": "NGdDfE2F1YFXGcmn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const item = $input.item.json;\nconst subject = item.subject || '';\nconst rawBody = item.body?.content || item.bodyPreview || '';\nconst body = rawBody\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&#\\d+;/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst parts = subject.split('-');\nconst candidate = parts[parts.length - 1].trim();\nconst name_from_subject = (candidate.length >= 2 && candidate.length <= 5) ? candidate : null;\n\nreturn {\n  email_msg_id: item.id,\n  email_subject: subject,\n  email_web_link: item.webLink || null,\n  sender: item.from?.emailAddress?.address || null,\n  received_at: item.receivedDateTime,\n  source_type: 'onboarding',\n  name_from_subject,\n  body_text: body.substring(0, 2000),\n};"
        },
        "id": "code-name-from-subject-001",
        "name": "Code：萃取 name_from_subject",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2640,
          -128
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const item = $input.item.json;\nreturn {\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 400,\n  system: \"You are an HR email parser for onboarding notices. Return pure JSON only.\\nHR owners: Peggy, Yen, Evan.\\n\\nOutput fields:\\n- intent: new_onboard | update_date | cancel | skip\\n- name: candidate name. Prefer the last segment after '-' in subject when it is clearly a person name; otherwise infer from body.\\n- scheduled_onboard_date: onboarding date in YYYY-MM-DD\\n- department: department text from the email, or null\\n- position: title text from the email, or null\\n- hr_owner: HR owner name, or null\\n\\nRules:\\n1. Do not skip a message only because the subject starts with RE:. Read the body first.\\n2. If the body says the onboarding date/time was adjusted, delayed, changed, moved, postponed, or contains wording like \\u6539\\u70ba, \\u6539\\u5230, \\u5ef6\\u5f8c, \\u5ef6\\u81f3, \\u66f4\\u6539\\u5831\\u5230, \\u8abf\\u6574\\u5831\\u5230, then intent = update_date.\\n3. If the message is only an acknowledgement, attachment submission, receipt confirmation, or generic reply without a new onboarding date, then intent = skip.\\n4. If the message is a fresh offer/onboarding notice, intent = new_onboard.\\n5. Even for reply threads, if the latest body contains a new onboarding date, return update_date and that newest date.\",\n  messages: [\n    {\n      role: \"user\",\n      content: \"Subject: \" + item.email_subject + \"\\n\\n\" + item.body_text\n    }\n  ]\n};"
        },
        "id": "code-assemble-onboard-ai-001",
        "name": "Code：組裝 Onboarding AI Body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2864,
          -128
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "anthropicApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {
            "batching": {
              "batch": {
                "batchSize": 1,
                "batchInterval": 1500
              }
            }
          }
        },
        "id": "http-onboard-claude-001",
        "name": "Claude：解析 Onboarding 意圖",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3088,
          -128
        ],
        "credentials": {
          "anthropicApi": {
            "id": "y6zxdCqqBzmwq5bi",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const base = $('Code：萃取 name_from_subject').item.json;\nlet aiResult = {};\ntry {\n  const raw = $input.item.json.content;\n  const text = Array.isArray(raw) ? (raw[0]?.text || '') : (typeof raw === 'string' ? raw : '');\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) aiResult = JSON.parse(match[0]);\n} catch (e) {}\n\nlet regexDate = null;\nconst bodyText = base.body_text || '';\nconst fallbackYear = String(new Date(base.received_at || Date.now()).getFullYear());\nconst datePatterns = [\n  { re: /(?:\\u6539\\u70ba|\\u6539\\u5230|\\u5ef6\\u5f8c\\u5230|\\u5ef6\\u81f3|\\u9806\\u5ef6\\u81f3|\\u66f4\\u6539\\u5831\\u5230(?:\\u65e5\\u671f|\\u6642\\u9593)?\\u70ba?|\\u8abf\\u6574\\u5831\\u5230(?:\\u65e5\\u671f|\\u6642\\u9593)?\\u70ba?)\\s*(\\d{4})[\\/\\-\\u5e74](\\d{1,2})[\\/\\-\\u6708](\\d{1,2})/, fn: m => m[1]+'-'+m[2].padStart(2,'0')+'-'+m[3].padStart(2,'0') },\n  { re: /(?:\\u6539\\u70ba|\\u6539\\u5230|\\u5ef6\\u5f8c\\u5230|\\u5ef6\\u81f3|\\u9806\\u5ef6\\u81f3|\\u66f4\\u6539\\u5831\\u5230(?:\\u65e5\\u671f|\\u6642\\u9593)?\\u70ba?|\\u8abf\\u6574\\u5831\\u5230(?:\\u65e5\\u671f|\\u6642\\u9593)?\\u70ba?)\\s*(\\d{1,2})[\\/\\-\\u6708](\\d{1,2})/, fn: m => fallbackYear+'-'+m[1].padStart(2,'0')+'-'+m[2].padStart(2,'0') },\n  { re: /\\u5831\\u5230\\u65e5\\u671f[\\uff1a:]\\s*(\\d{4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,2})/, fn: m => m[1]+'-'+m[2].padStart(2,'0')+'-'+m[3].padStart(2,'0') },\n  { re: /\\u9810\\u5b9a\\u5831\\u5230\\u65e5\\u671f[\\uff1a:]\\s*(\\d{4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,2})/, fn: m => m[1]+'-'+m[2].padStart(2,'0')+'-'+m[3].padStart(2,'0') },\n  { re: /\\u5831\\u5230\\u65e5\\u671f[\\uff1a:]\\s*(\\d{4})\\u5e74(\\d{1,2})\\u6708(\\d{1,2})\\u65e5/, fn: m => m[1]+'-'+m[2].padStart(2,'0')+'-'+m[3].padStart(2,'0') },\n  { re: /\\u9810\\u5b9a\\u5831\\u5230\\u65e5\\u671f[\\uff1a:]\\s*(\\d{4})\\u5e74(\\d{1,2})\\u6708(\\d{1,2})\\u65e5/, fn: m => m[1]+'-'+m[2].padStart(2,'0')+'-'+m[3].padStart(2,'0') },\n];\nfor (const { re, fn } of datePatterns) {\n  const m = bodyText.match(re);\n  if (m) {\n    regexDate = fn(m);\n    break;\n  }\n}\n\nfunction normalizeText(value) {\n  return String(value || '')\n    .replace(/\\s+/g, '')\n    .replace(/[()（）【】\\[\\]\\/]/g, '')\n    .trim();\n}\n\nfunction hasAny(text, keywords) {\n  return keywords.some((keyword) => text.includes(keyword));\n}\n\nfunction buildKeywordText(rawDepartment, rawPosition, emailSubject) {\n  return normalizeText(`${rawDepartment} ${rawPosition} ${emailSubject}`);\n}\n\nfunction canonicalizeDepartment(rawDepartment, context = {}) {\n  const keywordText = buildKeywordText(rawDepartment, context.rawPosition, context.emailSubject);\n\n  if (hasAny(keywordText, ['全球檢測', 'ICC'])) {\n    if (hasAny(keywordText, ['技術支援部', '案件專員', '案件管理'])) return 'ICC / 技術支援部';\n    if (hasAny(keywordText, ['業務部', '客服業務'])) return 'ICC / 業務部';\n    if (hasAny(keywordText, ['工程部', '測試工程師'])) return 'ICC / 工程部';\n    return 'ICC';\n  }\n\n  if (hasAny(keywordText, ['國際標準認證事業五部', 'WBU', '五部'])) {\n    if (hasAny(keywordText, ['RF工程一部'])) {\n      if (hasAny(keywordText, ['案件專員', '案件管理'])) return 'WBU / PM';\n      return 'WBU / RF工程一部';\n    }\n    if (hasAny(keywordText, ['SAR工程部'])) return 'WBU / SAR工程部';\n    if (hasAny(keywordText, ['場測工程部'])) return 'WBU / 場測工程部';\n    if (hasAny(keywordText, ['國際認證一部', '認證專員'])) return 'WBU / 國際認證一部';\n    if (hasAny(keywordText, ['案件管理', 'RFPM', 'PM'])) return 'WBU / PM';\n    if (hasAny(keywordText, ['業務部', '業務助理', '業務專員', '北區業務', '儲備業務', '客服業務'])) return 'WBU / 業務部';\n    return 'WBU';\n  }\n\n  if (hasAny(keywordText, ['新華'])) {\n    if (hasAny(keywordText, ['工程文件部', '工程文件', '文件組', '文件專員'])) {\n      return '新華 / 工程 / 文件部 / 文件組';\n    }\n    if (hasAny(keywordText, ['業務三部', '客服業務'])) return '新華 / 業務三部';\n    if (hasAny(keywordText, ['RF工程組'])) return '新華 / RF工程組';\n    if (hasAny(keywordText, ['EMC工程組'])) return '新華 / EMC工程組';\n    if (hasAny(keywordText, ['案件專員', 'PM'])) return '新華 / PM';\n    if (hasAny(keywordText, ['業務部', '助理業務', '業務助理'])) return '新華 / 業務部';\n    return '新華';\n  }\n\n  if (hasAny(keywordText, ['新竹'])) {\n    if (hasAny(keywordText, ['工程部', '測試工程師', '工程師'])) return '新竹 / 工程部';\n    if (hasAny(keywordText, ['業務部', '助理業務', '業務助理'])) return '新竹 / 業務部';\n    return '新竹';\n  }\n\n  if (hasAny(keywordText, ['安規'])) {\n    if (hasAny(keywordText, ['電池'])) return '安規';\n    if (hasAny(keywordText, ['業務部', '助理業務', '業務助理'])) return '安規 / 安規業務部';\n    return '安規';\n  }\n\n  if (hasAny(keywordText, ['零件'])) {\n    if (hasAny(keywordText, ['製造部'])) return '零件 / 製造部';\n    if (hasAny(keywordText, ['品保部'])) return '零件 / 品保部';\n    if (hasAny(keywordText, ['業務部'])) return '零件 / 業務部';\n    return '零件';\n  }\n\n  if (hasAny(keywordText, ['董事長室'])) return '行政 / 董事長室';\n  if (hasAny(keywordText, ['財務部'])) return '行政 / 財務部';\n  if (hasAny(keywordText, ['資訊部', 'MIS', 'ERP', 'AI開發', '軟體工程師'])) return '行政 / 資訊部';\n  if (hasAny(keywordText, ['品管部', '品管人員', '品管工程師', '驗證人員'])) return '行政 / 品管部';\n  if (hasAny(keywordText, ['行政'])) return '行政';\n\n  if (hasAny(keywordText, ['北區業務', '儲備業務'])) return 'WBU / 業務部';\n\n  return String(rawDepartment || '').trim() || null;\n}\n\nfunction canonicalizePosition(rawPosition, context = {}) {\n  const rawPositionText = String(rawPosition || '').trim();\n  const keywordText = buildKeywordText(context.rawDepartment || context.department, rawPosition, context.emailSubject);\n  const canonicalDepartment = canonicalizeDepartment(context.department || context.rawDepartment, {\n    ...context,\n    rawPosition,\n  });\n\n  if (canonicalDepartment === 'ICC / 技術支援部') return '案件專員';\n  if (canonicalDepartment === 'ICC / 工程部') return '測試工程師';\n  if (canonicalDepartment === 'ICC / 業務部') return '客服業務';\n\n  if (canonicalDepartment === 'WBU / PM') return 'PM';\n  if (canonicalDepartment === 'WBU / 國際認證一部') return '認證專員';\n  if (canonicalDepartment === 'WBU / 業務部') {\n    if (hasAny(keywordText, ['客服業務'])) return '客服業務';\n    if (hasAny(keywordText, ['業務助理'])) return '業務助理';\n    if (hasAny(keywordText, ['業務專員', '助理業務', '北區業務', '儲備業務'])) return '業務專員';\n  }\n  if (canonicalDepartment === 'WBU / RF工程一部') {\n    if (hasAny(keywordText, ['美國子公司外派工程師'])) return '美國子公司外派工程師';\n    if (hasAny(keywordText, ['文件專員假日班', '文件專員假日'])) return '文件專員(假日班)';\n    if (hasAny(keywordText, ['文件專員'])) return '文件專員';\n    if (hasAny(keywordText, ['工程助理'])) return '工程助理';\n    if (hasAny(keywordText, ['實習工程師', '測試工程師', '工程師'])) return '測試工程師';\n  }\n  if (canonicalDepartment === 'WBU / SAR工程部') {\n    if (hasAny(keywordText, ['工程助理'])) return '工程助理';\n    if (hasAny(keywordText, ['文件專員', 'SAR文件'])) return '文件專員';\n    if (hasAny(keywordText, ['測試工程師', 'SAR工程師', '工程師'])) return '測試工程師';\n  }\n  if (canonicalDepartment === 'WBU / 場測工程部') return '測試工程師';\n\n  if (canonicalDepartment === '新華 / 業務三部') return '客服業務';\n  if (canonicalDepartment === '新華 / 工程 / 文件部 / 文件組') return '文件專員';\n  if (canonicalDepartment === '新華 / RF工程組') return '測試工程師';\n  if (canonicalDepartment === '新華 / EMC工程組') return '測試工程師';\n  if (canonicalDepartment === '新華 / 業務部') return '助理業務/業務';\n  if (canonicalDepartment === '新華 / PM') return 'PM';\n\n  if (canonicalDepartment === '新竹 / 工程部') return '測試工程師(RF/EMC)';\n  if (canonicalDepartment === '新竹 / 業務部') return '助理業務/業務';\n\n  if (canonicalDepartment === '安規 / 安規業務部') {\n    if (hasAny(keywordText, ['業務助理'])) return '業務助理(David)';\n    if (hasAny(keywordText, ['助理業務', '業務'])) return '助理業務/業務';\n  }\n  if (canonicalDepartment === '安規' && hasAny(keywordText, ['電池', '工程師'])) return '電池案件工程師';\n\n  if (canonicalDepartment === '行政 / 董事長室') return '行政專員';\n  if (canonicalDepartment === '行政 / 財務部') {\n    if (hasAny(keywordText, ['出納', '職務代理', '職代'])) return '出納短期職代';\n    if (hasAny(keywordText, ['副理'])) return '副理';\n    if (hasAny(keywordText, ['主任'])) return '主任';\n  }\n  if (canonicalDepartment === '行政 / 資訊部') {\n    if (hasAny(keywordText, ['AI開發'])) return '軟體工程師(AI開發)';\n    if (hasAny(keywordText, ['ERP', '開發維運'])) return '軟體工程師(ERP開發維運)';\n    if (hasAny(keywordText, ['MIS'])) return 'MIS工程師';\n  }\n  if (canonicalDepartment === '行政 / 品管部') {\n    if (hasAny(keywordText, ['驗證'])) return '驗證人員';\n    if (hasAny(keywordText, ['品管'])) return '品管人員';\n  }\n\n  return rawPositionText || null;\n}\n\nconst rawDepartment = aiResult.department || null;\nconst rawPosition = aiResult.position || null;\nconst canonicalDepartment = canonicalizeDepartment(rawDepartment, { emailSubject: base.email_subject, rawPosition });\nconst canonicalPosition = canonicalizePosition(rawPosition, { emailSubject: base.email_subject, department: canonicalDepartment, rawDepartment });\n\nfunction guardOnboardYear(dateStr, receivedAt) {\n  if (!dateStr) return null;\n  const m = String(dateStr).match(/^(\\d{4})-(\\d{2})-(\\d{2})$/);\n  if (!m) return dateStr;\n  const receivedYear = new Date(receivedAt || Date.now()).getFullYear();\n  let year = Number(m[1]);\n  if (year < receivedYear) year = receivedYear;\n  if (year > receivedYear + 1) year = receivedYear + 1;\n  return year + '-' + m[2] + '-' + m[3];\n}\n\nreturn {\n  email_msg_id: base.email_msg_id,\n  email_subject: base.email_subject,\n  email_web_link: base.email_web_link,\n  sender: base.sender,\n  received_at: base.received_at,\n  source_type: 'onboarding',\n  name: base.name_from_subject || aiResult.name || '未知姓名',\n  scheduled_onboard_date: guardOnboardYear(regexDate || aiResult.scheduled_onboard_date || null, base.received_at),\n  raw_department: rawDepartment,\n  raw_position: rawPosition,\n  department: canonicalDepartment || rawDepartment,\n  position: canonicalPosition || rawPosition,\n  hr_owner: aiResult.hr_owner || null,\n  intent: aiResult.intent || 'new_onboard',\n};\n"
        },
        "id": "code-integrate-onboard-001",
        "name": "Code：整合 Onboarding 輸出",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3312,
          -128
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "intent-check",
                "leftValue": "={{ $json.intent }}",
                "rightValue": "new_onboard",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-intent-new-onboard-001",
        "name": "IF：intent=new_onboard?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3536,
          -128
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "intent-check",
                "leftValue": "={{ $json.intent }}",
                "rightValue": "update_date",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-intent-update-date-001",
        "name": "IF：intent=update_date?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3536,
          -32
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "intent-check",
                "leftValue": "={{ $json.intent }}",
                "rightValue": "cancel",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-intent-cancel-001",
        "name": "IF：intent=cancel?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3536,
          64
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE onboardings\nSET expected_date = COALESCE(NULLIF('{{ $json.scheduled_onboard_date || '' }}', '')::DATE, expected_date),\n    updated_at = NOW()\nWHERE name = '{{ ($json.name || '').replace(/'/g, \"''\") }}'\n  AND status = 'pending';\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'updated' AS action, NULL::INTEGER AS candidate_id,\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}' AS email_subject,\n  NULLIF('{{ $json.sender || '' }}', '') AS sender,\n  '{{ $json.received_at || '' }}' AS received_at;",
          "options": {}
        },
        "id": "pg-update-onboard-date-001",
        "name": "PG：UPDATE onboarding date",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3760,
          -32
        ],
        "credentials": {
          "postgres": {
            "id": "NGdDfE2F1YFXGcmn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE onboardings\nSET status = 'cancelled', updated_at = NOW()\nWHERE name = '{{ ($json.name || '').replace(/'/g, \"''\") }}'\n  AND status = 'pending';\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'updated' AS action, NULL::INTEGER AS candidate_id,\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}' AS email_subject,\n  NULLIF('{{ $json.sender || '' }}', '') AS sender,\n  '{{ $json.received_at || '' }}' AS received_at;",
          "options": {}
        },
        "id": "pg-cancel-onboard-001",
        "name": "PG：UPDATE onboarding cancel",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3760,
          64
        ],
        "credentials": {
          "postgres": {
            "id": "NGdDfE2F1YFXGcmn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO email_logs (email_msg_id, email_subject, sender, received_at, action, candidate_id)\nSELECT\n  '{{ $json.email_msg_id || '' }}',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  NULLIF('{{ $json.sender || '' }}', ''),\n  COALESCE(NULLIF('{{ $json.received_at || '' }}', '')::TIMESTAMPTZ, NOW()),\n  'skipped',\n  NULL\nON CONFLICT (email_msg_id) DO UPDATE SET\n  action = 'skipped', processed_at = NOW();\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'log_inserted' AS status;",
          "options": {}
        },
        "id": "pg-onboard-logs-skip-001",
        "name": "PG：到職 email_logs skip",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3760,
          160
        ],
        "credentials": {
          "postgres": {
            "id": "NGdDfE2F1YFXGcmn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO email_logs (email_msg_id, email_subject, sender, received_at, action, candidate_id)\nSELECT\n  '{{ $json.email_msg_id || '' }}',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  NULLIF('{{ $json.sender || '' }}', ''),\n  COALESCE(NULLIF('{{ $json.received_at || '' }}', '')::TIMESTAMPTZ, NOW()),\n  '{{ $json.action || 'inserted' }}',\n  NULL\nON CONFLICT (email_msg_id) DO UPDATE SET\n  action = EXCLUDED.action, processed_at = NOW();\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'log_inserted' AS status;",
          "options": {}
        },
        "id": "pg-onboard-logs-update-001",
        "name": "PG：到職 email_logs_update",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3984,
          -32
        ],
        "credentials": {
          "postgres": {
            "id": "NGdDfE2F1YFXGcmn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO email_logs (email_msg_id, email_subject, sender, received_at, action, candidate_id)\nSELECT\n  '{{ $json.email_msg_id || '' }}',\n  '{{ ($json.email_subject || '').replace(/'/g, \"''\") }}',\n  NULLIF('{{ $json.sender || '' }}', ''),\n  COALESCE(NULLIF('{{ $json.received_at || '' }}', '')::TIMESTAMPTZ, NOW()),\n  '{{ $json.action || 'inserted' }}',\n  NULL\nON CONFLICT (email_msg_id) DO UPDATE SET\n  action = EXCLUDED.action, processed_at = NOW();\n\nSELECT '{{ $json.email_msg_id || '' }}' AS email_msg_id, 'log_inserted' AS status;",
          "options": {}
        },
        "id": "pg-onboard-logs-cancel-001",
        "name": "PG：到職 email_logs_cancel",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3984,
          64
        ],
        "credentials": {
          "postgres": {
            "id": "NGdDfE2F1YFXGcmn",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "filters": {
            "foldersToInclude": [
              "AAMkADA2Y2U5Yzc0LTMwZjgtNGU1MS1hYWU5LTFjMjA5MDFhM2Q1OQAuAAAAAAATwHe72s8cTYU6NTzQdTNsAQCddaHEqpeLSJK4gY8M9T9SAAAA-bMDAAA="
            ]
          },
          "options": {
            "downloadAttachments": false
          }
        },
        "id": "c2f1788f-c2b9-4a80-b7ae-sentbackup001",
        "name": "Outlook 收信觸發：到職 (寄件備份)",
        "type": "n8n-nodes-base.microsoftOutlookTrigger",
        "typeVersion": 1,
        "position": [
          2176,
          -320
        ],
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "gRnSdH5u4gDyDZzB",
            "name": "Microsoft Outlook account"
          }
        }
      }
    ],
    "connections": {
      "Outlook 收信觸發：到職 (收件匣)": {
        "main": [
          [
            {
              "node": "IF：過濾新進人員通知",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF：過濾新進人員通知": {
        "main": [
          [
            {
              "node": "Code：萃取 name_from_subject",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Code：萃取 name_from_subject": {
        "main": [
          [
            {
              "node": "Code：組裝 Onboarding AI Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code：組裝 Onboarding AI Body": {
        "main": [
          [
            {
              "node": "Claude：解析 Onboarding 意圖",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude：解析 Onboarding 意圖": {
        "main": [
          [
            {
              "node": "Code：整合 Onboarding 輸出",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code：整合 Onboarding 輸出": {
        "main": [
          [
            {
              "node": "IF：intent=new_onboard?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF：intent=new_onboard?": {
        "main": [
          [
            {
              "node": "PG：寫入 onboardings",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF：intent=update_date?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG：寫入 onboardings": {
        "main": [
          [
            {
              "node": "PG：到職 email_logs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG：離職 email_logs": {
        "main": [
          []
        ]
      },
      "IF：intent=update_date?": {
        "main": [
          [
            {
              "node": "PG：UPDATE onboarding date",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF：intent=cancel?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG：UPDATE onboarding date": {
        "main": [
          [
            {
              "node": "PG：到職 email_logs_update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG：到職 email_logs_update": {
        "main": [
          []
        ]
      },
      "IF：intent=cancel?": {
        "main": [
          [
            {
              "node": "PG：UPDATE onboarding cancel",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "PG：到職 email_logs skip",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG：UPDATE onboarding cancel": {
        "main": [
          [
            {
              "node": "PG：到職 email_logs_cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG：到職 email_logs_cancel": {
        "main": [
          []
        ]
      },
      "PG：到職 email_logs skip": {
        "main": [
          []
        ]
      },
      "Outlook 收信觸發：離職 (離職資料夾)": {
        "main": [
          [
            {
              "node": "Code：萃取離職資訊",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code：萃取離職資訊": {
        "main": [
          [
            {
              "node": "PG：寫入 resignations",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PG：寫入 resignations": {
        "main": [
          [
            {
              "node": "PG：離職 email_logs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Outlook 收信觸發：到職 (寄件備份)": {
        "main": [
          [
            {
              "node": "IF：過濾新進人員通知",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Huang yu-Wei",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-06T07:41:37.373Z",
        "id": 316,
        "workflowId": "zEIwksk6hz9Ri8NA",
        "versionId": "a68cfa08-3d8d-418a-b165-7e0165fc4eee",
        "event": "deactivated",
        "userId": "8daad596-e268-45a9-8bb8-f1065a906fc6"
      },
      {
        "createdAt": "2026-07-06T07:41:37.722Z",
        "id": 317,
        "workflowId": "zEIwksk6hz9Ri8NA",
        "versionId": "a68cfa08-3d8d-418a-b165-7e0165fc4eee",
        "event": "activated",
        "userId": "8daad596-e268-45a9-8bb8-f1065a906fc6"
      }
    ]
  }
}
