n8n/live_Dashboard_API.json
{
    "updatedAt": "2026-05-21T08:03:05.655Z",
    "createdAt": "2026-05-21T08:03:05.655Z",
    "id": "x4Olor5YtMfthzWp",
    "name": "HR Dashboard API",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "path": "hr-dashboard",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "6cc85e54-156a-4e80-92c6-80c7d1c44747",
            "name": "Webhook：Dashboard 請求",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "webhookId": "hr-dashboard-data"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "token-check",
                            "leftValue": "={{ $json.headers.authorization }}",
                            "rightValue": "={{ 'Bearer ' + $env.N8N_HR_TOKEN }}",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "59968481-3a7e-4071-8d93-b810b14ff189",
            "name": "IF：驗證 Token",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                224,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "{\"error\":\"Unauthorized\"}",
                "options": {
                    "responseCode": 403,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json; charset=utf-8"
                            },
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "https://sp-hr.zeabur.app"
                            }
                        ]
                    }
                }
            },
            "id": "36f1434a-e560-43fa-a9d6-4cc65f757951",
            "name": "回應 403 Unauthorized",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                448,
                192
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT json_build_object(\n  'today', TO_CHAR(CURRENT_DATE, 'YYYY-MM-DD'),\n  'generatedAt', TO_CHAR(NOW(), 'YYYY-MM-DD\"T\"HH24:MI:SS'),\n\n  'schedEvents', COALESCE((\n    SELECT json_agg(e ORDER BY (e->>'date'))\n    FROM (\n      SELECT json_build_object(\n        'type', 'interview',\n        'name', c.name,\n        'pos', c.applied_position,\n        'dept', c.department,\n        'date', TO_CHAR(i.interview_date, 'YYYY-MM-DD'),\n        'time', COALESCE(i.interview_time, ''),\n        'hr', COALESCE(i.hr_owner, ''),\n        'round', COALESCE(i.round, 1),\n        'note', COALESCE(i.notes, ''),\n        'emailLink', COALESCE(i.email_web_link, '')\n      ) AS e\n      FROM interviews i JOIN candidates c ON c.id = i.candidate_id\n      WHERE i.interview_date IS NOT NULL\n        AND i.interview_date >= CURRENT_DATE - 14\n        AND i.interview_date <= CURRENT_DATE + 45\n        AND COALESCE(i.status, '') NOT IN ('cancelled', '取消面試')\n      UNION ALL\n      SELECT json_build_object(\n        'type', 'onboard',\n        'name', o.name,\n        'pos', o.position,\n        'dept', o.department,\n        'date', TO_CHAR(o.expected_date, 'YYYY-MM-DD'),\n        'time', '09:00',\n        'hr', COALESCE(o.hr_owner, ''),\n        'round', 0,\n        'note', '',\n        'emailLink', COALESCE(o.email_web_link, '')\n      ) AS e\n      FROM onboardings o\n      WHERE o.expected_date IS NOT NULL\n        AND o.status != 'cancelled'\n        AND o.expected_date >= CURRENT_DATE - 7\n        AND o.expected_date <= CURRENT_DATE + 60\n      UNION ALL\n      SELECT json_build_object(\n        'type', 'resign',\n        'name', r.name,\n        'pos', r.position,\n        'dept', r.department,\n        'date', TO_CHAR(r.last_day, 'YYYY-MM-DD'),\n        'time', '',\n        'hr', COALESCE(r.hr_owner, ''),\n        'round', 0,\n        'note', COALESCE(r.reason, ''),\n        'emailLink', COALESCE(r.email_web_link, '')\n      ) AS e\n      FROM resignations r\n      WHERE r.last_day IS NOT NULL\n        AND r.status != 'cancelled'\n        AND r.last_day >= CURRENT_DATE - 7\n        AND r.last_day <= CURRENT_DATE + 60\n    ) ev\n  ), '[]'::json),\n\n  'onboardData', COALESCE((\n    SELECT json_agg(json_build_object(\n      'name', o.name,\n      'dept', o.department,\n      'pos', o.position,\n      'date', TO_CHAR(o.expected_date, 'YYYY-MM-DD'),\n      'hr', COALESCE(o.hr_owner, ''),\n      'status', CASE WHEN o.status = 'onboarded' THEN 'onboarded' ELSE 'pending' END,\n      'emailLink', COALESCE(o.email_web_link, '')\n    ) ORDER BY o.expected_date DESC)\n    FROM onboardings o\n    WHERE o.status != 'cancelled'\n      AND o.expected_date >= CURRENT_DATE - 60\n  ), '[]'::json),\n\n  'resignData', COALESCE((\n    SELECT json_agg(json_build_object(\n      'name', r.name,\n      'dept', r.department,\n      'pos', r.position,\n      'lastDay', TO_CHAR(r.last_day, 'YYYY-MM-DD'),\n      'hr', COALESCE(r.hr_owner, ''),\n      'reason', COALESCE(r.reason, ''),\n      'status', r.status,\n      'emailLink', COALESCE(r.email_web_link, '')\n    ) ORDER BY r.last_day DESC)\n    FROM resignations r\n    WHERE r.status != 'cancelled'\n      AND r.last_day >= CURRENT_DATE - 60\n  ), '[]'::json),\n\n  'candidatesData', COALESCE((\n    SELECT json_agg(cd ORDER BY (cd->>'latestDate') DESC NULLS LAST)\n    FROM (\n      SELECT json_build_object(\n        'name', c.name,\n        'pos', c.applied_position,\n        'dept', c.department,\n        'date', TO_CHAR(MAX(i.interview_date), 'YYYY-MM-DD'),\n        'latestDate', TO_CHAR(MAX(i.interview_date), 'YYYY-MM-DD'),\n        'status', CASE\n          WHEN c.status = 'hired' THEN 'offer'\n          WHEN c.status IN ('rejected', 'withdrawn') THEN 'withdrawn'\n          WHEN c.status LIKE '%錄取%' THEN 'offer'\n          WHEN c.status LIKE '%到職%' THEN 'onboarded'\n          WHEN c.status = 'pending_review' THEN 'pending_review'\n          ELSE 'interviewing'\n        END,\n        'onboard', NULL,\n        'hr', COALESCE(MAX(i.hr_owner), ''),\n        'note', COALESCE(c.notes, ''),\n        'source', COALESCE(c.source, ''),\n        'emailLink', COALESCE(MAX(i.email_web_link), ''),\n        'resumeLink', COALESCE((\n          SELECT MAX(o.resume_link)\n          FROM onboardings o\n          WHERE (o.candidate_id = c.id OR o.name = c.name)\n            AND o.resume_link IS NOT NULL\n        ), ''),\n        'history', COALESCE((\n          SELECT json_agg(json_build_object(\n            'date', TO_CHAR(ih.interview_date, 'YYYY-MM-DD'),\n            'type', 'interview',\n            'title', CONCAT('第', ih.round, '輪面試 — ', COALESCE(ih.status, '')),\n            'note', COALESCE(ih.notes, ''),\n            'color', CASE ih.result\n              WHEN 'passed' THEN 'green'\n              WHEN 'failed' THEN 'pink'\n              ELSE 'blue'\n            END\n          ) ORDER BY ih.interview_date)\n          FROM interviews ih\n          WHERE ih.candidate_id = c.id AND ih.interview_date IS NOT NULL\n        ), '[]'::json)\n      ) AS cd\n      FROM candidates c\n      LEFT JOIN interviews i ON i.candidate_id = c.id\n      GROUP BY c.id, c.name, c.applied_position, c.department, c.status, c.notes, c.source\n    ) cands\n  ), '[]'::json),\n\n  'jobsData', COALESCE((\n    SELECT json_agg(json_build_object(\n      'id', j.id,\n      'pos', j.position_title,\n      'dept', j.department,\n      'open', TO_CHAR(j.open_date, 'YYYY-MM-DD'),\n      'target', TO_CHAR(j.target_date, 'YYYY-MM-DD'),\n      'headcount', COALESCE(j.headcount, 1),\n      'filled', COALESCE(j.filled_count, 0),\n      'cands', COALESCE(c.cands, 0),\n      'hired', COALESCE(c.hired, 0),\n      'urgency', COALESCE(j.urgency, 3),\n      'status', j.status,\n      'note', COALESCE(j.notes, '')\n    ) ORDER BY COALESCE(j.urgency, 3) DESC, j.open_date NULLS LAST, j.position_title)\n    FROM job_requisitions j\n    LEFT JOIN LATERAL (\n      SELECT\n        COUNT(*) AS cands,\n        COUNT(*) FILTER (WHERE c.status IN ('hired')) AS hired\n      FROM candidates c\n      WHERE c.department = j.department\n        AND c.applied_position = j.position_title\n    ) c ON TRUE\n  ), '[]'::json),\n\n  'monthlyTrend', COALESCE((\n    SELECT json_agg(json_build_object(\n      'month', t.month,\n      'interviews', t.interviews,\n      'offers', t.offers,\n      'onboarded', t.onboarded\n    ) ORDER BY t.month)\n    FROM (\n      SELECT\n        TO_CHAR(DATE_TRUNC('month', i.interview_date), 'YYYY-MM') AS month,\n        COUNT(*) AS interviews,\n        COUNT(CASE WHEN c.status IN ('hired', '錄取') THEN 1 END) AS offers,\n        COUNT(CASE WHEN c.status LIKE '%到職%' THEN 1 END) AS onboarded\n      FROM interviews i\n      JOIN candidates c ON c.id = i.candidate_id\n      WHERE i.interview_date >= CURRENT_DATE - INTERVAL '6 months'\n      GROUP BY DATE_TRUNC('month', i.interview_date)\n      ORDER BY 1\n      LIMIT 6\n    ) t\n  ), '[]'::json),\n\n  'departmentStats', COALESCE((\n    SELECT json_agg(json_build_object(\n      'dept', d.department,\n      'candidates', d.total_candidates,\n      'hired', d.hired_count,\n      'avgDaysToOffer', d.avg_days_to_offer\n    ) ORDER BY d.total_candidates DESC, d.department)\n    FROM (\n      SELECT\n        c.department,\n        COUNT(DISTINCT c.id) AS total_candidates,\n        COUNT(DISTINCT CASE WHEN c.status IN ('hired') THEN c.id END) AS hired_count,\n        ROUND(AVG(o.days_to_offer)::numeric, 1) AS avg_days_to_offer\n      FROM candidates c\n      LEFT JOIN offers o ON o.candidate_id = c.id AND o.days_to_offer IS NOT NULL\n      GROUP BY c.department\n    ) d\n  ), '[]'::json),\n\n  'stats', json_build_object(\n    'activeCount', (SELECT COUNT(*) FROM candidates WHERE status NOT IN ('hired', 'rejected', 'withdrawn', '錄取', '到職', 'pending_review')),\n    'offerCount', (SELECT COUNT(*) FROM candidates WHERE status IN ('hired', '錄取')),\n    'pendingOnboard', (SELECT COUNT(*) FROM onboardings WHERE status = 'pending' AND expected_date BETWEEN CURRENT_DATE AND CURRENT_DATE + 30),\n    'pendingResign', (SELECT COUNT(*) FROM resignations WHERE status = 'active' AND last_day BETWEEN CURRENT_DATE AND CURRENT_DATE + 30),\n    'monthOnboard', (SELECT COUNT(*) FROM onboardings WHERE expected_date >= DATE_TRUNC('month', CURRENT_DATE) AND status = 'onboarded'),\n    'monthResign', (SELECT COUNT(*) FROM resignations WHERE last_day >= DATE_TRUNC('month', CURRENT_DATE) AND status = 'done'),\n    'hireRate', COALESCE((\n      SELECT ROUND(\n        100.0 * COUNT(DISTINCT CASE WHEN c.status IN ('hired', '錄取') THEN c.id END)\n        / NULLIF(COUNT(DISTINCT c.id), 0), 0\n      )\n      FROM candidates c\n      JOIN interviews i ON i.candidate_id = c.id\n      WHERE i.interview_date >= DATE_TRUNC('month', CURRENT_DATE)\n    ), 0),\n    'pendingReviewCount', (SELECT COUNT(*) FROM candidates WHERE status = 'pending_review'),\n    'pendingScheduledReviewCount', (\n      SELECT COUNT(*)\n      FROM candidates c\n      WHERE c.status = 'pending_review'\n        AND EXISTS (\n          SELECT 1\n          FROM interviews i\n          WHERE i.candidate_id = c.id\n            AND i.interview_date IS NOT NULL\n            AND i.interview_date >= CURRENT_DATE\n            AND COALESCE(i.status, '') <> 'cancelled'\n        )\n    ),\n    'pendingInviteOpenCount', (\n      SELECT COUNT(*)\n      FROM candidates c\n      WHERE c.status = 'pending_review'\n        AND c.created_at >= CURRENT_DATE - INTERVAL '21 days'\n        AND NOT EXISTS (\n          SELECT 1\n          FROM interviews i\n          WHERE i.candidate_id = c.id\n            AND i.interview_date IS NOT NULL\n            AND COALESCE(i.status, '') <> 'cancelled'\n        )\n    ),\n    'pendingInviteOverdueCount', (\n      SELECT COUNT(*)\n      FROM candidates c\n      WHERE c.status = 'pending_review'\n        AND c.created_at < CURRENT_DATE - INTERVAL '3 days'\n        AND NOT EXISTS (\n          SELECT 1\n          FROM interviews i\n          WHERE i.candidate_id = c.id\n            AND i.interview_date IS NOT NULL\n            AND COALESCE(i.status, '') <> 'cancelled'\n        )\n    ),\n    'avgDaysToOffer', COALESCE((SELECT ROUND(AVG(days_to_offer)::numeric, 1) FROM offers WHERE days_to_offer IS NOT NULL), 0)\n  )\n) AS data;",
                "options": {}
            },
            "id": "f45aee9a-bcf3-4669-9835-89ade10ee311",
            "name": "PG：查詢所有儀表板資料",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                448,
                0
            ],
            "credentials": {
                "postgres": {
                    "id": "NGdDfE2F1YFXGcmn",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const raw = $input.item.json;\nconst data = raw.data || {};\nreturn { json_response: JSON.stringify(data) };"
            },
            "id": "979d1aa4-28b2-4823-8c7f-ef964cc922a7",
            "name": "Code：格式化回應",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.json_response }}",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json; charset=utf-8"
                            },
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "https://sp-hr.zeabur.app"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "GET, OPTIONS"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            }
                        ]
                    }
                }
            },
            "id": "8266f228-b163-4a12-b388-fd66a6f0d10d",
            "name": "回應 Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                880,
                0
            ]
        }
    ],
    "connections": {
        "Webhook：Dashboard 請求": {
            "main": [
                [
                    {
                        "node": "IF：驗證 Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF：驗證 Token": {
            "main": [
                [
                    {
                        "node": "PG：查詢所有儀表板資料",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "回應 403 Unauthorized",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PG：查詢所有儀表板資料": {
            "main": [
                [
                    {
                        "node": "Code：格式化回應",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code：格式化回應": {
            "main": [
                [
                    {
                        "node": "回應 Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "9f163555-40fb-45a4-a2db-7b6d0bdefa4f",
    "activeVersionId": "9f163555-40fb-45a4-a2db-7b6d0bdefa4f",
    "versionCounter": 3,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-05-21T08:03:05.655Z",
            "createdAt": "2026-05-21T08:03:05.655Z",
            "role": "workflow:owner",
            "workflowId": "x4Olor5YtMfthzWp",
            "projectId": "NvjFEev0823h2STF",
            "project": {
                "updatedAt": "2026-05-15T07:57:49.399Z",
                "createdAt": "2026-05-15T07:52:05.149Z",
                "id": "NvjFEev0823h2STF",
                "name": "Huang yu-Wei <pkpk70532@yahoo.com.tw>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "8daad596-e268-45a9-8bb8-f1065a906fc6"
            }
        }
    ],
    "tags": [
        {
            "updatedAt": "2026-05-15T10:18:59.545Z",
            "createdAt": "2026-05-15T10:18:59.545Z",
            "id": "yP9PPTGVL9VqZ3jM",
            "name": "HR"
        }
    ],
    "activeVersion": {
        "updatedAt": "2026-05-21T08:06:10.349Z",
        "createdAt": "2026-05-21T08:03:05.655Z",
        "versionId": "9f163555-40fb-45a4-a2db-7b6d0bdefa4f",
        "workflowId": "x4Olor5YtMfthzWp",
        "nodes": [
            {
                "parameters": {
                    "path": "hr-dashboard",
                    "responseMode": "responseNode",
                    "options": {}
                },
                "id": "6cc85e54-156a-4e80-92c6-80c7d1c44747",
                "name": "Webhook：Dashboard 請求",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    0,
                    0
                ],
                "webhookId": "hr-dashboard-data"
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict",
                            "version": 1
                        },
                        "conditions": [
                            {
                                "id": "token-check",
                                "leftValue": "={{ $json.headers.authorization }}",
                                "rightValue": "={{ 'Bearer ' + $env.N8N_HR_TOKEN }}",
                                "operator": {
                                    "type": "string",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "options": {}
                },
                "id": "59968481-3a7e-4071-8d93-b810b14ff189",
                "name": "IF：驗證 Token",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    224,
                    0
                ]
            },
            {
                "parameters": {
                    "respondWith": "text",
                    "responseBody": "{\"error\":\"Unauthorized\"}",
                    "options": {
                        "responseCode": 403,
                        "responseHeaders": {
                            "entries": [
                                {
                                    "name": "Content-Type",
                                    "value": "application/json; charset=utf-8"
                                },
                                {
                                    "name": "Access-Control-Allow-Origin",
                                    "value": "https://sp-hr.zeabur.app"
                                }
                            ]
                        }
                    }
                },
                "id": "36f1434a-e560-43fa-a9d6-4cc65f757951",
                "name": "回應 403 Unauthorized",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    448,
                    192
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT json_build_object(\n  'today', TO_CHAR(CURRENT_DATE, 'YYYY-MM-DD'),\n  'generatedAt', TO_CHAR(NOW(), 'YYYY-MM-DD\"T\"HH24:MI:SS'),\n\n  'schedEvents', COALESCE((\n    SELECT json_agg(e ORDER BY (e->>'date'))\n    FROM (\n      SELECT json_build_object(\n        'type', 'interview',\n        'name', c.name,\n        'pos', c.applied_position,\n        'dept', c.department,\n        'date', TO_CHAR(i.interview_date, 'YYYY-MM-DD'),\n        'time', COALESCE(i.interview_time, ''),\n        'hr', COALESCE(i.hr_owner, ''),\n        'round', COALESCE(i.round, 1),\n        'note', COALESCE(i.notes, ''),\n        'emailLink', COALESCE(i.email_web_link, '')\n      ) AS e\n      FROM interviews i JOIN candidates c ON c.id = i.candidate_id\n      WHERE i.interview_date IS NOT NULL\n        AND i.interview_date >= CURRENT_DATE - 14\n        AND i.interview_date <= CURRENT_DATE + 45\n        AND COALESCE(i.status, '') NOT IN ('cancelled', '取消面試')\n      UNION ALL\n      SELECT json_build_object(\n        'type', 'onboard',\n        'name', o.name,\n        'pos', o.position,\n        'dept', o.department,\n        'date', TO_CHAR(o.expected_date, 'YYYY-MM-DD'),\n        'time', '09:00',\n        'hr', COALESCE(o.hr_owner, ''),\n        'round', 0,\n        'note', '',\n        'emailLink', COALESCE(o.email_web_link, '')\n      ) AS e\n      FROM onboardings o\n      WHERE o.expected_date IS NOT NULL\n        AND o.status != 'cancelled'\n        AND o.expected_date >= CURRENT_DATE - 7\n        AND o.expected_date <= CURRENT_DATE + 60\n      UNION ALL\n      SELECT json_build_object(\n        'type', 'resign',\n        'name', r.name,\n        'pos', r.position,\n        'dept', r.department,\n        'date', TO_CHAR(r.last_day, 'YYYY-MM-DD'),\n        'time', '',\n        'hr', COALESCE(r.hr_owner, ''),\n        'round', 0,\n        'note', COALESCE(r.reason, ''),\n        'emailLink', COALESCE(r.email_web_link, '')\n      ) AS e\n      FROM resignations r\n      WHERE r.last_day IS NOT NULL\n        AND r.status != 'cancelled'\n        AND r.last_day >= CURRENT_DATE - 7\n        AND r.last_day <= CURRENT_DATE + 60\n    ) ev\n  ), '[]'::json),\n\n  'onboardData', COALESCE((\n    SELECT json_agg(json_build_object(\n      'name', o.name,\n      'dept', o.department,\n      'pos', o.position,\n      'date', TO_CHAR(o.expected_date, 'YYYY-MM-DD'),\n      'hr', COALESCE(o.hr_owner, ''),\n      'status', CASE WHEN o.status = 'onboarded' THEN 'onboarded' ELSE 'pending' END,\n      'emailLink', COALESCE(o.email_web_link, '')\n    ) ORDER BY o.expected_date DESC)\n    FROM onboardings o\n    WHERE o.status != 'cancelled'\n      AND o.expected_date >= CURRENT_DATE - 60\n  ), '[]'::json),\n\n  'resignData', COALESCE((\n    SELECT json_agg(json_build_object(\n      'name', r.name,\n      'dept', r.department,\n      'pos', r.position,\n      'lastDay', TO_CHAR(r.last_day, 'YYYY-MM-DD'),\n      'hr', COALESCE(r.hr_owner, ''),\n      'reason', COALESCE(r.reason, ''),\n      'status', r.status,\n      'emailLink', COALESCE(r.email_web_link, '')\n    ) ORDER BY r.last_day DESC)\n    FROM resignations r\n    WHERE r.status != 'cancelled'\n      AND r.last_day >= CURRENT_DATE - 60\n  ), '[]'::json),\n\n  'candidatesData', COALESCE((\n    SELECT json_agg(cd ORDER BY (cd->>'latestDate') DESC NULLS LAST)\n    FROM (\n      SELECT json_build_object(\n        'name', c.name,\n        'pos', c.applied_position,\n        'dept', c.department,\n        'date', TO_CHAR(MAX(i.interview_date), 'YYYY-MM-DD'),\n        'latestDate', TO_CHAR(MAX(i.interview_date), 'YYYY-MM-DD'),\n        'status', CASE\n          WHEN c.status = 'hired' THEN 'offer'\n          WHEN c.status IN ('rejected', 'withdrawn') THEN 'withdrawn'\n          WHEN c.status LIKE '%錄取%' THEN 'offer'\n          WHEN c.status LIKE '%到職%' THEN 'onboarded'\n          WHEN c.status = 'pending_review' THEN 'pending_review'\n          ELSE 'interviewing'\n        END,\n        'onboard', NULL,\n        'hr', COALESCE(MAX(i.hr_owner), ''),\n        'note', COALESCE(c.notes, ''),\n        'source', COALESCE(c.source, ''),\n        'emailLink', COALESCE(MAX(i.email_web_link), ''),\n        'resumeLink', COALESCE((\n          SELECT MAX(o.resume_link)\n          FROM onboardings o\n          WHERE (o.candidate_id = c.id OR o.name = c.name)\n            AND o.resume_link IS NOT NULL\n        ), ''),\n        'history', COALESCE((\n          SELECT json_agg(json_build_object(\n            'date', TO_CHAR(ih.interview_date, 'YYYY-MM-DD'),\n            'type', 'interview',\n            'title', CONCAT('第', ih.round, '輪面試 — ', COALESCE(ih.status, '')),\n            'note', COALESCE(ih.notes, ''),\n            'color', CASE ih.result\n              WHEN 'passed' THEN 'green'\n              WHEN 'failed' THEN 'pink'\n              ELSE 'blue'\n            END\n          ) ORDER BY ih.interview_date)\n          FROM interviews ih\n          WHERE ih.candidate_id = c.id AND ih.interview_date IS NOT NULL\n        ), '[]'::json)\n      ) AS cd\n      FROM candidates c\n      LEFT JOIN interviews i ON i.candidate_id = c.id\n      GROUP BY c.id, c.name, c.applied_position, c.department, c.status, c.notes, c.source\n    ) cands\n  ), '[]'::json),\n\n  'jobsData', COALESCE((\n    SELECT json_agg(json_build_object(\n      'id', j.id,\n      'pos', j.position_title,\n      'dept', j.department,\n      'open', TO_CHAR(j.open_date, 'YYYY-MM-DD'),\n      'target', TO_CHAR(j.target_date, 'YYYY-MM-DD'),\n      'headcount', COALESCE(j.headcount, 1),\n      'filled', COALESCE(j.filled_count, 0),\n      'cands', COALESCE(c.cands, 0),\n      'hired', COALESCE(c.hired, 0),\n      'urgency', COALESCE(j.urgency, 3),\n      'status', j.status,\n      'note', COALESCE(j.notes, '')\n    ) ORDER BY COALESCE(j.urgency, 3) DESC, j.open_date NULLS LAST, j.position_title)\n    FROM job_requisitions j\n    LEFT JOIN LATERAL (\n      SELECT\n        COUNT(*) AS cands,\n        COUNT(*) FILTER (WHERE c.status IN ('hired')) AS hired\n      FROM candidates c\n      WHERE c.department = j.department\n        AND c.applied_position = j.position_title\n    ) c ON TRUE\n  ), '[]'::json),\n\n  'monthlyTrend', COALESCE((\n    SELECT json_agg(json_build_object(\n      'month', t.month,\n      'interviews', t.interviews,\n      'offers', t.offers,\n      'onboarded', t.onboarded\n    ) ORDER BY t.month)\n    FROM (\n      SELECT\n        TO_CHAR(DATE_TRUNC('month', i.interview_date), 'YYYY-MM') AS month,\n        COUNT(*) AS interviews,\n        COUNT(CASE WHEN c.status IN ('hired', '錄取') THEN 1 END) AS offers,\n        COUNT(CASE WHEN c.status LIKE '%到職%' THEN 1 END) AS onboarded\n      FROM interviews i\n      JOIN candidates c ON c.id = i.candidate_id\n      WHERE i.interview_date >= CURRENT_DATE - INTERVAL '6 months'\n      GROUP BY DATE_TRUNC('month', i.interview_date)\n      ORDER BY 1\n      LIMIT 6\n    ) t\n  ), '[]'::json),\n\n  'departmentStats', COALESCE((\n    SELECT json_agg(json_build_object(\n      'dept', d.department,\n      'candidates', d.total_candidates,\n      'hired', d.hired_count,\n      'avgDaysToOffer', d.avg_days_to_offer\n    ) ORDER BY d.total_candidates DESC, d.department)\n    FROM (\n      SELECT\n        c.department,\n        COUNT(DISTINCT c.id) AS total_candidates,\n        COUNT(DISTINCT CASE WHEN c.status IN ('hired') THEN c.id END) AS hired_count,\n        ROUND(AVG(o.days_to_offer)::numeric, 1) AS avg_days_to_offer\n      FROM candidates c\n      LEFT JOIN offers o ON o.candidate_id = c.id AND o.days_to_offer IS NOT NULL\n      GROUP BY c.department\n    ) d\n  ), '[]'::json),\n\n  'stats', json_build_object(\n    'activeCount', (SELECT COUNT(*) FROM candidates WHERE status NOT IN ('hired', 'rejected', 'withdrawn', '錄取', '到職', 'pending_review')),\n    'offerCount', (SELECT COUNT(*) FROM candidates WHERE status IN ('hired', '錄取')),\n    'pendingOnboard', (SELECT COUNT(*) FROM onboardings WHERE status = 'pending' AND expected_date BETWEEN CURRENT_DATE AND CURRENT_DATE + 30),\n    'pendingResign', (SELECT COUNT(*) FROM resignations WHERE status = 'active' AND last_day BETWEEN CURRENT_DATE AND CURRENT_DATE + 30),\n    'monthOnboard', (SELECT COUNT(*) FROM onboardings WHERE expected_date >= DATE_TRUNC('month', CURRENT_DATE) AND status = 'onboarded'),\n    'monthResign', (SELECT COUNT(*) FROM resignations WHERE last_day >= DATE_TRUNC('month', CURRENT_DATE) AND status = 'done'),\n    'hireRate', COALESCE((\n      SELECT ROUND(\n        100.0 * COUNT(DISTINCT CASE WHEN c.status IN ('hired', '錄取') THEN c.id END)\n        / NULLIF(COUNT(DISTINCT c.id), 0), 0\n      )\n      FROM candidates c\n      JOIN interviews i ON i.candidate_id = c.id\n      WHERE i.interview_date >= DATE_TRUNC('month', CURRENT_DATE)\n    ), 0),\n    'pendingReviewCount', (SELECT COUNT(*) FROM candidates WHERE status = 'pending_review'),\n    'pendingScheduledReviewCount', (\n      SELECT COUNT(*)\n      FROM candidates c\n      WHERE c.status = 'pending_review'\n        AND EXISTS (\n          SELECT 1\n          FROM interviews i\n          WHERE i.candidate_id = c.id\n            AND i.interview_date IS NOT NULL\n            AND i.interview_date >= CURRENT_DATE\n            AND COALESCE(i.status, '') <> 'cancelled'\n        )\n    ),\n    'pendingInviteOpenCount', (\n      SELECT COUNT(*)\n      FROM candidates c\n      WHERE c.status = 'pending_review'\n        AND c.created_at >= CURRENT_DATE - INTERVAL '21 days'\n        AND NOT EXISTS (\n          SELECT 1\n          FROM interviews i\n          WHERE i.candidate_id = c.id\n            AND i.interview_date IS NOT NULL\n            AND COALESCE(i.status, '') <> 'cancelled'\n        )\n    ),\n    'pendingInviteOverdueCount', (\n      SELECT COUNT(*)\n      FROM candidates c\n      WHERE c.status = 'pending_review'\n        AND c.created_at < CURRENT_DATE - INTERVAL '3 days'\n        AND NOT EXISTS (\n          SELECT 1\n          FROM interviews i\n          WHERE i.candidate_id = c.id\n            AND i.interview_date IS NOT NULL\n            AND COALESCE(i.status, '') <> 'cancelled'\n        )\n    ),\n    'avgDaysToOffer', COALESCE((SELECT ROUND(AVG(days_to_offer)::numeric, 1) FROM offers WHERE days_to_offer IS NOT NULL), 0)\n  )\n) AS data;",
                    "options": {}
                },
                "id": "f45aee9a-bcf3-4669-9835-89ade10ee311",
                "name": "PG：查詢所有儀表板資料",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    448,
                    0
                ],
                "credentials": {
                    "postgres": {
                        "id": "NGdDfE2F1YFXGcmn",
                        "name": "Postgres account"
                    }
                }
            },
            {
                "parameters": {
                    "mode": "runOnceForEachItem",
                    "jsCode": "const raw = $input.item.json;\nconst data = raw.data || {};\nreturn { json_response: JSON.stringify(data) };"
                },
                "id": "979d1aa4-28b2-4823-8c7f-ef964cc922a7",
                "name": "Code：格式化回應",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    672,
                    0
                ]
            },
            {
                "parameters": {
                    "respondWith": "text",
                    "responseBody": "={{ $json.json_response }}",
                    "options": {
                        "responseCode": 200,
                        "responseHeaders": {
                            "entries": [
                                {
                                    "name": "Content-Type",
                                    "value": "application/json; charset=utf-8"
                                },
                                {
                                    "name": "Access-Control-Allow-Origin",
                                    "value": "https://sp-hr.zeabur.app"
                                },
                                {
                                    "name": "Access-Control-Allow-Methods",
                                    "value": "GET, OPTIONS"
                                },
                                {
                                    "name": "Access-Control-Allow-Headers",
                                    "value": "Content-Type"
                                }
                            ]
                        }
                    }
                },
                "id": "8266f228-b163-4a12-b388-fd66a6f0d10d",
                "name": "回應 Webhook",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    880,
                    0
                ]
            }
        ],
        "connections": {
            "Webhook：Dashboard 請求": {
                "main": [
                    [
                        {
                            "node": "IF：驗證 Token",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "IF：驗證 Token": {
                "main": [
                    [
                        {
                            "node": "PG：查詢所有儀表板資料",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "回應 403 Unauthorized",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "PG：查詢所有儀表板資料": {
                "main": [
                    [
                        {
                            "node": "Code：格式化回應",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Code：格式化回應": {
                "main": [
                    [
                        {
                            "node": "回應 Webhook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Huang yu-Wei",
        "name": "Version 9f163555",
        "description": "",
        "autosaved": true,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-05-21T08:06:10.346Z",
                "id": 10,
                "workflowId": "x4Olor5YtMfthzWp",
                "versionId": "9f163555-40fb-45a4-a2db-7b6d0bdefa4f",
                "event": "activated",
                "userId": "8daad596-e268-45a9-8bb8-f1065a906fc6"
            }
        ]
    }
}

